.result-box {
  height: 25px;
  width: 18px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f33;
  font-size: 11px;
  @apply min-[1512px]:h-[30px] min-[1512px]:w-[25px];
}

.trapezoid {
  height: 27px;
  width: 20px;
  background-color: #1f1f33;
  clip-path: polygon(0 0, 100% 0, 76% 100%, 23% 100%);
  position: absolute;
  @apply min-[1512px]:h-[30px] min-[1512px]:w-[25px];
}

.center-boxes div {
  background-color: #1d1c1f;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.center-boxes div:first-child {
  max-width: 25%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

.center-boxes div:nth-child(2) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.center-boxes div:last-child {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

.red-cell {
  background: #990f0f !important;
}

.svg-roulette {
  min-width: 354px;
  position: absolute;
  bottom: -151px;
  left: -1px;
  width: 180px;
}

.svg-bg {
  position: absolute;
  width: 339px;
  height: 87px;
  background: black;
  bottom: 5px;
  border-radius: 90px;
  left: 6px;
}

.svg-wrapper {
  transform: scale(1.15);
  left: 24px;
}

.up-boxes {
  position: absolute;
  bottom: 63px;
  display: flex;
}

.up-box {
  min-width: 20.49px !important;
  max-width: 20.49px !important;
  text-align: center;
  position: absolute;
  font-size: 11px;
}

.up-box:first-child {
  bottom: 9px;
  left: 30px;
}

.up-box:nth-child(2) {
  bottom: 10px;
  left: 49px;
}

.up-box:nth-child(3) {
  bottom: 10px;
  left: 4.27rem;
}

.up-box:nth-child(4) {
  bottom: 10px;
  left: 5.5rem;
}

.up-box:nth-child(5) {
  bottom: 10px;
  left: 6.75rem;
}

.up-box:nth-child(6) {
  bottom: 10px;
  left: 8rem;
}
.up-box:nth-child(7) {
  bottom: 10px;
  left: 9.12rem;
}
.up-box:nth-child(8) {
  bottom: 10px;
  left: 10.27rem;
}
.up-box:nth-child(9) {
  bottom: 10px;
  left: 11.5rem;
}
.up-box:nth-child(10) {
  bottom: 10px;
  left: 12.7rem;
}
.up-box:nth-child(11) {
  bottom: 10px;
  left: 13.95rem;
}
.up-box:nth-child(12) {
  bottom: 10px;
  left: 15.1rem;
}
.up-box:nth-child(13) {
  bottom: 10px;
  left: 16.3rem;
}
.up-box:nth-child(14) {
  bottom: 10px;
  left: 17.48rem;
}
.up-box:nth-child(15) {
  bottom: 10px;
  left: 18.58rem;
}
.up-box:nth-child(16) {
  bottom: 1.9px;
  left: 19.6rem;
}
.up-box:nth-child(17) {
  top: -2px;
  left: 20.1rem;
}
.up-box:nth-child(18) {
  top: 15.4px;
  left: 20rem;
}
.up-box:nth-child(19) {
  top: 29px;
  left: 19.5rem;
}
.up-box:nth-child(20) {
  top: 38px;
  left: 18.65rem;
}
.up-box:nth-child(21) {
  top: 39px;
  left: 17.45rem;
}
.up-box:nth-child(22) {
  top: 39px;
  left: 16.3rem;
}
.up-box:nth-child(23) {
  top: 39px;
  left: 15.1rem;
}
.up-box:nth-child(24) {
  top: 39px;
  left: 13.95rem;
}
.up-box:nth-child(25) {
  top: 39px;
  left: 12.69rem;
}
.up-box:nth-child(26) {
  top: 39px;
  left: 11.55rem;
}
.up-box:nth-child(27) {
  top: 39px;
  left: 10.3rem;
}
.up-box:nth-child(28) {
  top: 39px;
  left: 9.15rem;
}
.up-box:nth-child(29) {
  top: 39px;
  left: 7.9rem;
}
.up-box:nth-child(30) {
  top: 39px;
  left: 6.75rem;
}
.up-box:nth-child(31) {
  top: 39px;
  left: 5.5rem;
}
.up-box:nth-child(32) {
  top: 39px;
  left: 4.3rem;
}
.up-box:nth-child(33) {
  top: 39px;
  left: 49px;
}
.up-box:nth-child(34) {
  top: 38px;
  left: 30px;
}
.up-box:nth-child(35) {
  top: 26px;
  left: 12px;
}
.up-box:nth-child(36) {
  top: 6px;
  left: 7px;
}
.up-box:nth-child(37) {
  bottom: -2px;
  left: 13px;
}

.category {
  position: absolute;
  font-size: 12px;
}

.zero {
  bottom: 40px;
  left: 42px;
  z-index: 99;
}

.voisins {
  bottom: 40px;
  left: 5.8rem;
}

.orph {
  bottom: 40px;
  left: 11rem;
}

.tier {
  bottom: 40px;
  left: 16.8rem;
}

.divider {
  width: 9.1px;
  height: 30.75px;
  background-color: #1a191e;
  bottom: 34px;
  left: 67px;
  z-index: 10;
}

@media (max-width: 1360px) {
  .svg-roulette {
    min-width: 334px;
    position: absolute;
    bottom: -142px;
    left: -2px;
    width: 180px;
  }

  .svg-bg {
    @apply w-[319px] h-20;
  }

  .svg-wrapper {
    @apply scale-[1.102] left-[13px];
  }

  .up-box {
    min-width: 18.53px !important;
    max-width: 18.53px !important;
  }

  .up-box:first-child {
    bottom: 6px;
    left: 27.5px;
  }

  .up-box:nth-child(2) {
    bottom: 6px;
    left: 46.3px;
  }

  .up-box:nth-child(3) {
    bottom: 6px;
    left: 4rem;
  }

  .up-box:nth-child(4) {
    bottom: 6px;
    left: 5.2rem;
  }

  .up-box:nth-child(5) {
    bottom: 6px;
    left: 6.359rem;
  }

  .up-box:nth-child(6) {
    bottom: 6px;
    left: 8.6rem;
  }
  .up-box:nth-child(7) {
    bottom: 6px;
    left: 9.7rem;
  }
  .up-box:nth-child(8) {
    bottom: 6px;
    left: 7.5rem;
  }
  .up-box:nth-child(9) {
    bottom: 6px;
    left: 10.85rem;
  }
  .up-box:nth-child(10) {
    bottom: 6px;
    left: 12rem;
  }
  .up-box:nth-child(11) {
    bottom: 6px;
    left: 13.12rem;
  }
  .up-box:nth-child(12) {
    bottom: 6px;
    left: 14.2rem;
  }
  .up-box:nth-child(13) {
    bottom: 6px;
    left: 15.35rem;
  }
  .up-box:nth-child(14) {
    bottom: 6px;
    left: 16.49rem;
  }
  .up-box:nth-child(15) {
    bottom: 6px;
    left: 17.52rem;
  }
  .up-box:nth-child(16) {
    bottom: -3.1px;
    left: 18.45rem;
  }
  .up-box:nth-child(17) {
    top: 1.4px;
    left: 19rem;
  }
  .up-box:nth-child(18) {
    top: 16.3px;
    left: 18.9rem;
  }
  .up-box:nth-child(19) {
    top: 31px;
    left: 18.48rem;
  }
  .up-box:nth-child(20) {
    top: 39px;
    left: 17.59rem;
  }
  .up-box:nth-child(21) {
    top: 39px;
    left: 16.45rem;
  }
  .up-box:nth-child(22) {
    top: 39px;
    left: 15.4rem;
  }
  .up-box:nth-child(23) {
    top: 39px;
    left: 14.2rem;
  }
  .up-box:nth-child(24) {
    top: 39px;
    left: 13.15rem;
  }
  .up-box:nth-child(25) {
    top: 39px;
    left: 11.97rem;
  }
  .up-box:nth-child(26) {
    top: 39px;
    left: 10.9rem;
  }
  .up-box:nth-child(27) {
    top: 39px;
    left: 9.75rem;
  }
  .up-box:nth-child(28) {
    top: 39px;
    left: 8.63rem;
  }
  .up-box:nth-child(29) {
    top: 39px;
    left: 7.43rem;
  }
  .up-box:nth-child(30) {
    top: 39px;
    left: 6.4rem;
  }
  .up-box:nth-child(31) {
    top: 39px;
    left: 5.2rem;
  }
  .up-box:nth-child(32) {
    top: 39px;
    left: 4.03rem;
  }
  .up-box:nth-child(33) {
    top: 39px;
    left: 46px;
  }
  .up-box:nth-child(34) {
    top: 38px;
    left: 28px;
  }
  .up-box:nth-child(35) {
    top: 26px;
    left: 12px;
  }
  .up-box:nth-child(36) {
    top: 8px;
    left: 7px;
  }
  .up-box:nth-child(37) {
    bottom: -6px;
    left: 13px;
  }

  .zero {
    bottom: 38px;
    left: 38px;
    z-index: 99;
  }

  .voisins {
    bottom: 38px;
    left: 5.3rem;
  }

  .orph {
    bottom: 38px;
    left: 10.2rem;
  }

  .tier {
    bottom: 38px;
    left: 15.8rem;
  }

  .divider {
    width: 9.1px;
    height: 27.75px;
    background-color: #1a191e;
    bottom: 33px;
    left: 61px;
    z-index: 10;
  }
}

@media (min-width: 1512px) {
  .svg-roulette {
    min-width: 395px;
    position: absolute;
    bottom: -168px;
    left: 1px;
    width: 180px;
  }

  .svg-bg {
    position: absolute;
    width: 376px;
    height: 99px;
    background: black;
    bottom: 6px;
    border-radius: 90px;
    left: 9px;
  }

  .category {
    font-size: 14px;
  }

  .divider {
    width: 9.1px;
    height: 30.75px;
    background-color: #1a191e;
    bottom: 39px;
    left: 74px;
    z-index: 10;
  }

  .zero {
    bottom: 45px;
    left: 49px;
  }

  .voisins {
    bottom: 45px;
    left: 6.5rem;
  }

  .orph {
    bottom: 45px;
    left: 12.5rem;
  }

  .tier {
    bottom: 45px;
    left: 18.5rem;
  }

  .up-box {
    font-size: 14px;
  }

  .up-box:first-child {
    bottom: 18px;
    left: 36.5px;
  }

  .up-box:nth-child(2) {
    bottom: 18px;
    left: 57.3px;
  }

  .up-box:nth-child(3) {
    bottom: 18px;
    left: 4.9rem;
  }

  .up-box:nth-child(4) {
    bottom: 18px;
    left: 6.35rem;
  }

  .up-box:nth-child(5) {
    bottom: 18px;
    left: 7.7rem;
  }

  .up-box:nth-child(6) {
    bottom: 18px;
    left: 9.1rem;
  }
  .up-box:nth-child(7) {
    bottom: 18px;
    left: 10.35rem;
  }
  .up-box:nth-child(8) {
    bottom: 18px;
    left: 11.6rem;
  }
  .up-box:nth-child(9) {
    bottom: 18px;
    left: 13rem;
  }
  .up-box:nth-child(10) {
    bottom: 18px;
    left: 14.4rem;
  }
  .up-box:nth-child(11) {
    bottom: 18px;
    left: 15.7rem;
  }
  .up-box:nth-child(12) {
    bottom: 18px;
    left: 17rem;
  }
  .up-box:nth-child(13) {
    bottom: 18px;
    left: 18.35rem;
  }
  .up-box:nth-child(14) {
    bottom: 18px;
    left: 19.7rem;
  }
  .up-box:nth-child(15) {
    bottom: 17px;
    left: 20.87rem;
  }
  .up-box:nth-child(16) {
    bottom: 7.9px;
    left: 22rem;
  }
  .up-box:nth-child(17) {
    top: -10.6px;
    left: 22.5rem;
  }
  .up-box:nth-child(18) {
    top: 7px;
    left: 22.6rem;
  }
  .up-box:nth-child(19) {
    top: 25px;
    left: 22.1rem;
  }
  .up-box:nth-child(20) {
    top: 33px;
    left: 20.97rem;
  }
  .up-box:nth-child(21) {
    top: 35px;
    left: 19.6rem;
  }
  .up-box:nth-child(22) {
    top: 35px;
    left: 18.35rem;
  }
  .up-box:nth-child(23) {
    top: 35px;
    left: 17rem;
  }
  .up-box:nth-child(24) {
    top: 35px;
    left: 15.7rem;
  }
  .up-box:nth-child(25) {
    top: 35px;
    left: 14.3rem;
  }
  .up-box:nth-child(26) {
    top: 35px;
    left: 13.1rem;
  }
  .up-box:nth-child(27) {
    top: 35px;
    left: 11.75rem;
  }
  .up-box:nth-child(28) {
    top: 35px;
    left: 10.4rem;
  }
  .up-box:nth-child(29) {
    top: 35px;
    left: 9rem;
  }
  .up-box:nth-child(30) {
    top: 35px;
    left: 7.73rem;
  }
  .up-box:nth-child(31) {
    top: 35px;
    left: 6.4rem;
  }
  .up-box:nth-child(32) {
    top: 35px;
    left: 4.96rem;
  }
  .up-box:nth-child(33) {
    top: 35px;
    left: 58px;
  }
  .up-box:nth-child(34) {
    top: 32px;
    left: 36px;
  }
  .up-box:nth-child(35) {
    top: 19px;
    left: 17px;
  }
  .up-box:nth-child(36) {
    top: -3px;
    left: 11px;
  }
  .up-box:nth-child(37) {
    bottom: 4px;
    left: 19px;
  }
}
