<div *ngIf="showCookies"
    class="fixed bottom-[4rem] right-4 left-1/2 transform -translate-x-1/2 w-[78%] max-w-md bg-[#2E4652] rounded-[4px] px-4 py-2 z-50">
    <div class="flex flex-col gap-4">
        <p class="text-sm text-[#98AEBA]">
            <span class="text-white font-semibold">🍪 We use cookies</span> for functional and analytical purpose.
        </p>
        <div class="flex w-full">
            <button (click)="accept()"
                class="px-4 w-full py-2 bg-[#0075E0] text-white text-sm rounded-[4px] hover:bg-blue-700 transition">
                Accept
            </button>
        </div>
    </div>
</div>