<div class="bg-overlay">
    <div class="container d-flex align-items-center justify-content-center w-100 h-100">
        <div class="bg-logo"></div>
        <div class="d-flex flex-column gap-2 login-container align-items-center">
            <div>
                <img src="./../../../assets/universeCasino-font.svg" alt="universeCasino-front" loading="lazy">
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="d-flex flex-column align-items-center gap-4" style="width: 350px;">
                <div class="w-100">
                    <input type="text" formControlName="username" class="form-input" placeholder="username">
                    <div *ngIf="f.username.touched && f.username.errors" class="error">
                        <div *ngIf="f.username.errors.required"><span class="error">
                            user name is required.
                            </span></div>
                    </div>
                </div>
                <div class="w-100">
                    <input type="text" formControlName="password" class="form-input" placeholder="password">
                    <div *ngIf="f.password.touched && f.password.errors" class="error">
                        <span *ngIf="f.password.errors.required"> password is required.
                        </span>
                    </div>
                </div>
                <div>
                    <button class="submit-btn" [disabled]="loginForm.invalid">Login</button>
                </div>
            </form>
        </div>
        <div class="bg-logo-btm">
            <img src="../../../assets/Universe-txt.svg" alt="Universe-txt" loading="lazy">
        </div>
    </div>

</div>