.bets-container {
  /* width: 100%;
    padding: 0 1rem;
    background: #0e212e;
    height: calc(100svh - 119px); */
  width: 100%;
  padding: 0 3vw;
  position: absolute;
  top: 64px;
  bottom: 52px;
}
.pagetitle {
  /* margin-top: 1rem; */
  font-size: 1.15rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.svg-icon {
  color: #b1bad3;
  margin-right: 0.5rem;
}
.closebtn {
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.closebtn .svg-icon {
  margin-right: 0px !important;
}

/* drop down start */

.filterContainer {
  display: flex;
  margin-top: 1.5rem;
  width: 100%;
  gap: 0.5rem;
}
.providerbtn {
  font-size: 11px;
  height: fit-content;
  font-weight: 600;
  border-radius: calc(0.5rem - 4px);
  background: #0f212e;
  color: white;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  /* padding: 0.655rem; */
  position: relative;
}
.providerbtn svg {
  color: #b1bad3;
}
.providerbtn.up svg {
  transform: rotate(180deg);
}
.providerbtn.down svg {
  transform: rotate(0deg);
}
.toggleFilter {
  position: absolute;
  background: white;
  display: flex;
  width: -moz-max-content;
  width: max-content;
  flex-direction: column;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
    0 4px 6px -2px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  z-index: 1600;
  padding: 0.25rem 0;
  min-width: 100px;
  right: 0px;
  top: 51px;
}
.toggleFilter .tab {
  color: #2f4553;
  padding: 0.75rem;
  display: flex;
  justify-content: start;
}
.toggleFilter .tab:hover {
  background-color: #b1bad3;
  color: black;
}
.toggleFilter .tab.highlight {
  color: #1475e1;
}
.arrow {
  position: absolute;
  width: 8px;
  height: 8px;
  border-left: 12px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 15px solid #fff;
  top: -11px;
  color: white;
  z-index: -1;
}

/* drop down end */
.trans-content {
  background: #0f212e;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.tab-container {
  height: 54px;
  display: flex;
  border-radius: 3rem;
  padding: 5px;
  flex-shrink: 0;

  background: #1a2c38;
  width: fit-content;
}
.tab-container .tab {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1;
  border-radius: 9999px;
  white-space: nowrap;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
.tab.active {
  background: rgba(47, 69, 83, 1) !important;
}
.empty-list {
  padding: 1rem !important;
  color: #b1bad3;
  flex-direction: column;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  margin-top: 1.5rem;
}
.large-icon {
  font-size: 6rem;
  color: #557086;
}
.pagination-div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* border-top: 2px solid #b1bad3a3; */
  padding-top: 24px;
}
.pgntab {
  color: #b1bad3;
  cursor: pointer;
}
.pgntab.active {
  color: #fff;
}

.downloadbtn {
  font-weight: 600;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  font-size: 0.875rem;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  gap: 0.5rem;
  background: #2f4553;

  border-radius: calc(0.5rem - 4px);
}
