<div class="chipTrayWithToggle__item-nLy9Sn">
    <div class="chips-rzbOIK ">
        <div class="chip-kcN8LW chip_size_48-odjDTm !w-[25px]  !h-[25px] !rotate-0 " data-locator="chip-250">
            <div class="chip__1st" [ngClass]="
                      {
                        'chip__1st':stakeIndex==1,
                        'orange-bg':stakeIndex==2,
                        'pink-bg':stakeIndex==3,
                        'red-bg':stakeIndex==4,
                        'blue-bg':stakeIndex==5,
                        'black-bg':stakeIndex==6,
                        '!text-[#A00600]':stakeIndex==7,
                        '!text-[#A0003C]':stakeIndex==8
                      }" *ngIf="BetPlaced[marketId][runnerId]">
                <div class="chip__borderDecor-8XR0Vn chip__borderDecor_medium-mF_aBv">
                </div>
                <svg class="chip__svg-nFRcEL" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <text x="50%" y="50%" transform="translate(0, 1.25)" class="chip__valueShadow-apDxWQ"
                        text-rendering="geometricPrecision" dominant-baseline="middle" text-anchor="middle"
                        style="font-size: 18px; font-family: 'Rubik'; font-weight: 500;">
                        {{ absValue(BetPlaced[marketId][runnerId]) | shortNumber }}
                    </text>
                    <text x="50%" y="50%" transform="translate(0, 0)" class="chip__value-B48ghL"
                        text-rendering="geometricPrecision" data-locator="chip-value" dominant-baseline="middle"
                        text-anchor="middle" style="font-size: 18px; font-family: 'Rubik'; font-weight: 500;">
                        {{ absValue(BetPlaced[marketId][runnerId]) | shortNumber }}
                    </text>
                </svg>
            </div>
        </div>
    </div>
</div>