.chipTrayWithToggle__item-nLy9Sn {
  pointer-events: all;
}

.chips-rzbOIK {
  position: relative;
  transition: opacity 300ms ease;
}

.chip-kcN8LW {
  transition: opacity 300ms ease;
}

.chip_size_48-odjDTm {
  @apply h-[48px] w-[48px] md:h-[93px] md:w-[93px] md:rotate-[93deg];
}

.chip__1st {
  background: linear-gradient(135deg, #0c4 0%, #090 100%);
  border-radius: 50%;
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  place-content: center;
  place-items: center;
  width: 100%;
  z-index: 1;
}

.chip__borderDecor-8XR0Vn {
  border-radius: inherit;
  grid-area: 1 / 1;
  height: 100%;
  position: relative;
  width: 100%;
}
.chip_style_default-zHvD8j .chip__borderDecor-8XR0Vn:before {
  background-color: #fff;
  z-index: 1;
}

.chip__borderDecor_medium-mF_aBv {
  position: absolute !important;
}

.chip__svg-nFRcEL {
  fill: white !important;
}

.chip__borderDecor-8XR0Vn {
  border-radius: inherit;
  grid-area: 1 / 1;
  height: 100%;
  /* position: relative; */
  width: 100%;
}

.chip__borderDecor-8XR0Vn:before {
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27none%27 viewBox=%270 0 48 48%27%3E%3Cpath fill=%27%23000%27 fill-rule=%27evenodd%27 d=%27M20.312 6.378c-.54.113-1.088-.201-1.23-.734L17.786.812A24.033 24.033 0 0 1 24 0c2.149 0 4.231.282 6.213.812l-1.295 4.832c-.142.533-.69.847-1.23.734A18.078 18.078 0 0 0 24 6c-1.264 0-2.497.13-3.688.378Zm20.659.651-3.536 3.536c-.39.39-.388 1.022-.02 1.433a17.98 17.98 0 0 1 3.69 6.383c.173.525.719.843 1.252.7l4.831-1.294A23.976 23.976 0 0 0 40.97 7.029Zm6.217 23.184-4.83-1.294c-.534-.143-1.08.175-1.252.7a17.981 17.981 0 0 1-3.691 6.383c-.368.411-.37 1.042.02 1.433l3.535 3.536a23.974 23.974 0 0 0 6.218-10.758ZM30.213 47.188l-1.295-4.832c-.142-.533-.69-.847-1.23-.734-1.19.248-2.424.378-3.688.378a18.08 18.08 0 0 1-3.688-.378c-.54-.113-1.088.201-1.23.734l-1.295 4.832c1.981.53 4.064.812 6.213.812s4.231-.282 6.213-.812ZM7.029 40.97l3.536-3.535c.39-.39.388-1.022.02-1.433a17.981 17.981 0 0 1-3.69-6.383c-.173-.525-.719-.843-1.253-.7l-4.83 1.294a23.974 23.974 0 0 0 6.217 10.758ZM.812 17.788l4.83 1.294c.534.143 1.08-.175 1.252-.7a17.981 17.981 0 0 1 3.69-6.383c.37-.411.371-1.042-.02-1.433L7.03 7.029A23.975 23.975 0 0 0 .812 17.787Z%27 clip-rule=%27evenodd%27/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27none%27 viewBox=%270 0 48 48%27%3E%3Cpath fill=%27%23000%27 fill-rule=%27evenodd%27 d=%27M20.312 6.378c-.54.113-1.088-.201-1.23-.734L17.786.812A24.033 24.033 0 0 1 24 0c2.149 0 4.231.282 6.213.812l-1.295 4.832c-.142.533-.69.847-1.23.734A18.078 18.078 0 0 0 24 6c-1.264 0-2.497.13-3.688.378Zm20.659.651-3.536 3.536c-.39.39-.388 1.022-.02 1.433a17.98 17.98 0 0 1 3.69 6.383c.173.525.719.843 1.252.7l4.831-1.294A23.976 23.976 0 0 0 40.97 7.029Zm6.217 23.184-4.83-1.294c-.534-.143-1.08.175-1.252.7a17.981 17.981 0 0 1-3.691 6.383c-.368.411-.37 1.042.02 1.433l3.535 3.536a23.974 23.974 0 0 0 6.218-10.758ZM30.213 47.188l-1.295-4.832c-.142-.533-.69-.847-1.23-.734-1.19.248-2.424.378-3.688.378a18.08 18.08 0 0 1-3.688-.378c-.54-.113-1.088.201-1.23.734l-1.295 4.832c1.981.53 4.064.812 6.213.812s4.231-.282 6.213-.812ZM7.029 40.97l3.536-3.535c.39-.39.388-1.022.02-1.433a17.981 17.981 0 0 1-3.69-6.383c-.173-.525-.719-.843-1.253-.7l-4.83 1.294a23.974 23.974 0 0 0 6.217 10.758ZM.812 17.788l4.83 1.294c.534.143 1.08-.175 1.252-.7a17.981 17.981 0 0 1 3.69-6.383c.37-.411.371-1.042-.02-1.433L7.03 7.029A23.975 23.975 0 0 0 .812 17.787Z%27 clip-rule=%27evenodd%27/%3E%3C/svg%3E");
  background-color: white;
  z-index: 1;
  content: "";
  inset: 0;
  position: absolute;
}

.orange-bg {
  background: linear-gradient(135deg, #f93 0%, #f50 100%, #8a8a99) !important;
}

.pink-bg {
  background: linear-gradient(135deg, #f69 0%, #c06 100%) !important;
}

.red-bg {
  background: linear-gradient(135deg, #f33 0%, #900 100%) !important;
}

.blue-bg {
  background: linear-gradient(135deg, #5f29cc 0%, #009 100%) !important;
}

.black-bg {
  background: linear-gradient(135deg, #2e3133 0%, #0b0c0d 100%) !important;
}
