<div class="timerPortrait lg:!top-[40%]" *ngIf="fancyTimer">
  <div *ngIf="TIME_LIMIT !== 0" style="--size: 4rem">
    <svg class="bettingTimer_timer flex justify-center" viewBox="0 0 64 64">
      <circle class="bettingTimer_circle transition-all duration-500" fill="#0006" [attr.stroke]="getStrokeColor()"
        stroke-linecap="round" [attr.stroke-dasharray]="getStrokeDasharray()" stroke-dashoffset="0"
        [style.opacity]="getOpacity()" cx="32" cy="32" r="29.088" stroke-width="5.824" transform="rotate(-90 32 32)">
      </circle>
    </svg>
    <div class="timerTextContainer">
      <div class="timerTextWrapper">
        <span class="timerText text-center" [ngClass]="{
                'roll-up': animate && timeLeft > 5,
                'cd-number': animate && timeLeft <= 5,
            }">{{ timeLeft }}</span>
      </div>
    </div>
  </div>
</div>
