<div class="newGameWrapper ">


    <app-top-results></app-top-results>

    <div class="h-[240px]">
        <ng-container *ngIf="isMobileInfo == 'iOS'">
            <app-video-player [resultDeclared]="RoundWinner"></app-video-player>
        </ng-container>
        <ng-container *ngIf="isMobileInfo !== 'iOS'">
            <app-video-player-unreal [resultDeclared]="RoundWinner"></app-video-player-unreal>
        </ng-container>
    </div>

    <!-- Teen patti Cards Section starts here -->
    <div class="teen_patti_conatiner" [ngClass]="[coinStateActive  ? 'table_wrapper' : '']">
        <!-- Player A cards start here -->
        <div class="custom_flex gap-2 player_A_cards">
            <img src="/NteenPatti/images/5hukm.svg" class="card-img" alt="card1">
            <img src="/NteenPatti/images/2brick.svg" class="card-img" alt="card2">
            <img src="/NteenPatti/images/3hukm.svg" class="card-img" alt="card3">
        </div>
        <!-- Player A cards ends here -->

        <!-- Player B cards start here -->
        <div class="custom_flex gap-2 player_B_cards">
            <img src="/NteenPatti/images/5hukm.svg" class="card-img" alt="card1">
            <img src="/NteenPatti/images/2brick.svg" class="card-img" alt="card2">
            <img src="/NteenPatti/images/3hukm.svg" class="card-img" alt="card3">
        </div>
        <!-- Player B cards ends here -->

    </div>

    <div class="win_percentage_container relative">
        <div class="win_percentage_wrapper ">
            <div class="progress_bar_container">
                <div class="progress-bar bg-danger" [style.width]="aPlayerChances">
                    <div class="progress-bar_data">
                        A
                    </div>
                    <div class="progress-bar_data">
                        {{aPlayerChances}}
                    </div>
                </div>
                <div class="progress-bar yellow_bg " [style.width]="bPlayerChances">
                    <div class="progress-bar_data">
                        B
                    </div>
                    <div class="progress-bar_data">
                        {{bPlayerChances}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Teen patti Cards Section ends here -->
    <div class="relative bg-[#161a2b]">
        <!-- main contnet -->
        <!-- High Card section starts here -->
        <div class="high_card_container " [ngClass]="[coinStateActive  ? 'table_wrapper' : '']">
            <!-- <div class="high_card_primary custom_flex">
              <h6>HIGH CARD</h6>
          </div> -->
            <!-- <div class="player_card custom_flex">
              <h6>PLAYER A</h6>
          </div> -->
            <!-- <div class="high_card_secondary custom_flex">
              <h6>HIGH CARD</h6>
          </div> -->
        </div>
        <!-- High Card section ends here -->




        <!-- Winning Percentage Chances Section starts here -->
        <div [ngClass]="[coinStateActive  ? 'table_wrapper' : '']">

            <!-- Winning Percentage Chances Section ends here -->
            <!-- Main Table starts here -->
            <div class="main_table_container position-relative ">
                <div>
                    <!-- Player A Card starts -->
                    <div class="player_A_card">
                        <h3>PLAYER A</h3>
                        <h6>0.95:1</h6>

                        <div class="player_A_img">
                            <img src="/NteenPatti/images/playerA.svg" alt="img">
                        </div>
                        <div class="player_A_chances">
                            <h4>{{aPlayerChances}}</h4>
                        </div>
                        <div class="chance_wrapper_A ">
                            <div class="chance_bg_color" [style.height]="aPlayerChances"></div>
                        </div>
                    </div>
                    <!-- Player A Card ends -->

                    <!-- Player B Card starts -->

                    <div class="player_B_card">
                        <div class="player-b-details">
                            <h3>PLAYER B</h3>
                            <h6>0.95:1</h6>
                        </div>
                        <div class="player_B_img">
                            <img src="/NteenPatti/images/playerB.svg" alt="img">
                        </div>
                        <div class="player_B_chances">
                            <h4>{{bPlayerChances}}</h4>
                        </div>
                        <div class="chance_wrapper_B ">
                            <div class="chance_bg_color" [style.height]="bPlayerChances"></div>
                        </div>

                    </div>

                    <!-- Player B Card ends -->

                    <!-- Player A Pair starts -->


                    <div class="player_A_pair !overflow-visible z-[99]">
                        <div class="overflow-hidden">
                            <h6>
                                Player A
                            </h6>
                            <h4>
                                Pair Plus
                            </h4>
                            <div class="player_A_pair_img !max-h-[50px] overflow-hidden">
                                <img src="/NteenPatti/images/player_A_pair.svg" alt="img">
                            </div>
                        </div>
                        <div class="pair_A_img ">
                            <img src="/NteenPatti/Icons/pair_A_.svg" alt="img">
                        </div>
                    </div>
                    <!-- Player A Pair ends -->

                    <!-- Bonus  Pair starts -->

                    <div class="bonus_pair">
                        <h3>Bonus</h3>
                        <h6>3+3</h6>
                        <div class="bonus_img">
                            <img src="/NteenPatti/images/bonus_pair.svg" alt="">
                        </div>
                    </div>
                    <!-- Bonus  Pair ends -->

                    <!-- Player B pair starts -->

                    <div class="player_B_pair !overflow-visible">
                        <div>
                            <div class="fix-position">
                                <h6 class="text-nowrap">
                                    Player B
                                </h6>
                                <h4 class="text-nowrap">
                                    Pair Plus
                                </h4>
                            </div>

                            <div class="player_B_pair_img !max-h-[50px] overflow-hidden">
                                <img src="/NteenPatti/images/player_B_pair.svg" alt="img">
                            </div>
                        </div>
                        <div class="pair_B_img">
                            <img src="/NteenPatti/Icons/pair_B.svg" alt="img">
                        </div>
                    </div>
                    <!-- Player B pair ends -->

                </div>
            </div>


            <!-- Main Table ends here -->

        </div>


        <div class="bottom_container">
            <div class="coins-wraper duration-300" [ngClass]="{'!h-0':!animationContainer}">
                <div class="coins-wraper duration-300" [ngClass]="{'!h-0': !animationContainer}">
                    <div class="flex-coins" [ngClass]="{'bg_animation': coinsState}">
                        <div class="bet_coins" [ngClass]="{
                      'show-bet-icons': coinsState,
                      'hide-bet-icons': !coinsState,
                      'd-none': !coinsState
                    }">
                            <img src="/NteenPatti/Icons/green-coin.svg.svg" alt="green-coin" class="pointer custom"
                                (click)="replaceHamburgerImage('/NteenPatti/Icons/green-coin.svg.svg')">
                            <img src="/NteenPatti/Icons/orange-coin.svg.svg" alt="orange-coin" class="pointer"
                                (click)="replaceHamburgerImage('/NteenPatti/Icons/orange-coin.svg.svg')">
                            <img src="/NteenPatti/Icons/pink-coin.svg.svg" alt="pink-coin" class="pointer"
                                (click)="replaceHamburgerImage('/NteenPatti/Icons/pink-coin.svg.svg')">
                            <img src="/NteenPatti/Icons/red-coin.svg.svg" alt="red-coin" class="pointer"
                                (click)="replaceHamburgerImage('/NteenPatti/Icons/red-coin.svg.svg')">
                            <img src="/NteenPatti/Icons/blue-coin.svg.svg" alt="blue-coin" class="pointer"
                                (click)="replaceHamburgerImage('/NteenPatti/Icons/blue-coin.svg.svg')">
                            <img src="/NteenPatti/Icons/black-coin.svg.svg" alt="black-coin" class="pointer"
                                (click)="replaceHamburgerImage('/NteenPatti/Icons/black-coin.svg.svg')">
                        </div>
                    </div>
                </div>

            </div>
            <div class="parent-bottom-flex">
                <img src="/NteenPatti/Icons/message-icon.svg" alt="" class="chat_icon">

                <div class="bottom-div">
                    <img src="/NteenPatti/Icons/refresh-icon.svg" alt="refresh-icon" class="refresh_icon">
                    <div class="group-bg ">
                        <img [src]="selectedCoin" alt="group-icon" class="group-icon selectedCoin  cursor_pointer"
                            [ngClass]="{'move-up-left': animateIcon, 'move-down-right ': !animateIcon && !betState,'.select_coins_icon ' : selectedCoin==='/NteenPatti/Icons/Group237787.svg', 'selected_coin' : selectedCoin !=='/NteenPatti/Icons/Group237787.svg'}"
                            (click)="toggleCoinState()">
                        <!-- <div class="blinking_animation" [ngClass]="[betState ? 'active_bet' : 'inactive_bet']"></div> -->
                    </div>
                    <img src="/NteenPatti/Icons/2x-icon.svg" alt="2x-icon" class="multi_coin">
                    <img src="/NteenPatti/Icons/hamburger.svg" alt="hamburger" class="cursior hamburger"
                        data-bs-toggle="modal" data-bs-target="#MiniCasinoModal">
                </div>
            </div>
            <div class="text-div">
                <p class="text-white">last win <span class="text-orange">$ 0</span></p>
                <p class="rigth-text">10 Sep 2024 23.04.09.30707162</p>
            </div>
            <div class="bottom-text-div">
                <p class="text-white">Balance <span class="text-orange">$ 0</span></p>
                <p class="rigth-text">Bet On Teen Patti <span class="text-orange">$ 50-500k</span></p>
            </div>
        </div>
    </div>
</div>