<section
  class="bg-[#0d212e]  min-h-[calc(100svh-52px)] max-h-[calc(100svh-52px)] overflow-auto tracking-wider duration-700  absolute z-[1500] top-[0px] transition-transform  ease-in-out w-full "
  [ngClass]="{' !duration-1000  translate-y-[120%]': !mobSidebarState && !browser && !profileState , 'ease-in-out': mobSidebarState ,'hidden': hideSideBar ,  '!duration-0': profileState || browser}">
  <div class="mainChat-container">
    <div class="content">
      <div class="header ">
        <div class="dropdown transparent">
          <button (click)="toggleLang()" type="button" tabindex="0"
            class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:outline-none text-sm leading-none [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white"
            spacing="normal" aria-label="Open Dropdown">
            <svg fill="none" viewBox="0 0 96 96" class="svg-icon ">
              <title></title>
              <path d="M48 96c26.51 0 48-21.49 48-48S74.51 0 48 0 0 21.49 0 48s21.49 48 48 48Z" fill="#F0F0F0"></path>
              <path
                d="M9.922 18.777a47.826 47.826 0 0 0-8.268 16.702h24.97L9.923 18.777Zm84.424 16.702a47.829 47.829 0 0 0-8.269-16.702L69.376 35.479h24.97ZM1.654 60.522a47.83 47.83 0 0 0 8.268 16.702l16.702-16.702H1.654ZM77.223 9.923a47.828 47.828 0 0 0-16.701-8.27v24.971L77.223 9.923ZM18.777 86.077a47.828 47.828 0 0 0 16.701 8.27V69.375L18.777 86.077ZM35.478 1.654a47.83 47.83 0 0 0-16.701 8.268l16.701 16.702V1.654Zm25.044 92.692a47.83 47.83 0 0 0 16.701-8.269L60.522 69.376v24.97Zm8.854-33.824 16.701 16.702a47.827 47.827 0 0 0 8.27-16.702H69.375Z"
                fill="#0052B4"></path>
              <path
                d="M95.594 41.74H54.26V.405a48.48 48.48 0 0 0-12.522 0V41.74H.406a48.48 48.48 0 0 0 0 12.522H41.74v41.333a48.478 48.478 0 0 0 12.522 0V54.26h41.333a48.478 48.478 0 0 0 0-12.522Z"
                fill="#D80027"></path>
              <path
                d="m60.522 60.522 21.42 21.42a48.176 48.176 0 0 0 2.82-3.082L66.426 60.522h-5.903Zm-25.044 0-21.42 21.42a48.148 48.148 0 0 0 3.082 2.82l18.338-18.338v-5.902Zm0-25.043-21.42-21.42a48.148 48.148 0 0 0-2.82 3.081l18.338 18.338h5.902Zm25.044 0 21.42-21.42a48.114 48.114 0 0 0-3.082-2.821L60.522 29.576v5.903Z"
                fill="#D80027"></path>
            </svg>
            <span>{{itemTitle}}</span>
            <svg [ngClass]="{'!rotate-180': langList}" fill="currentColor" viewBox="0 0 64 64"
              class="svg-icon transition-transform duration-500 ease-in-out" style="transform: rotate(0deg);">
              <title></title>
              <path
                d="M32.271 49.763 9.201 26.692l6.928-6.93 16.145 16.145 16.144-16.144 6.93 6.929-23.072 23.07h-.005Z">
              </path>
            </svg>
          </button>
        </div>

        @if (!langList) {
        <div class="flex h-auto bg-white absolute left-5 rounded-[4px] top-12 z-50 pt-1">
          <div class="arrow -top-1 invisible w-2 h-2 bg-white"
            style="position: absolute; left: 0px; transform: translate3d(56.5px, 0px, 0px);"></div>
          <ul class="text-black text-[14px] max-w-[116px]">
            @for (item of languages; track $index) {
            <li (click)="setActive($index, item.title)" class="p-3 flex gap-1 items-center">
              <img [src]="item.img" alt="">
              <span [class.active]="itemTitle === item.title">{{item.title}}</span>
            </li>
            }
          </ul>
        </div>
        }



        <div class="right-header">
          <div class="hoverable svelte-bbyuql">
            <button type="button" tabindex="0" (click)="closeMobSideBar()"
              class="inline-flex relative items-center gap-2 justify-center font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white betterhover:hover:bg-grey-900 betterhover:hover:text-white focus-visible:outline-white text-sm leading-none [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white py-[0.8125rem] px-[1rem] rounded-full"
              aria-label="Close Right Sidebar"><svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon ">
                <title></title>
                <path
                  d="m54.827 16.187-7.014-7.014L32 24.987 16.187 9.173l-7.014 7.014L24.987 32 9.173 47.813l7.014 7.014L32 39.013l15.813 15.814 7.014-7.014L39.013 32l15.814-15.813Z">
                </path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="messages-container">
      <div class="messages scrollY ">
        <div class="msg_box_date"><span>Sunday</span> <span>12:34 PM</span></div>
        @for (item of casinoChat; track $index) {
        <div class="msg_box mt-[.5rem]">
          <div class="content">
            <div
              class="weight-normal line-height-default align-left size-default text-size-default variant-highlighted w-full text-white">
              <div class="userNameContainer ">
                <div class="user-tags ">
                  <span class="svelte-smmarv">
                    <div class="hoverable svelte-bbyuql"><span class="wrap svelte-nc081s"><svg fill="none"
                          viewBox="0 0 96 96" class="svg-icon " style="font-size: var(--text-size-default);">
                          <title></title>
                          <path d="M79.48 19.64c-21.36 2.44-42.32 2.4-63 0L0 43.64 48 96l48-52.36-16.52-24Z"
                            fill="#BDE9FF">
                          </path>
                          <path d="M48 30.68 27.68 55.52h40.64L48 30.68Z" fill="#fff"></path>
                          <path d="M96 43.64 48 96l20.32-40.48L96 43.64Z" fill="#B0B8FC"></path>
                          <path d="M0 43.64 48 96 27.68 55.52 0 43.64Z" fill="#fff"></path>
                          <path d="m16.52 19.64 11.16 35.88L0 43.64l16.52-24Z" fill="#B0B8FC"></path>
                          <path
                            d="M79.48 19.64 68.32 55.52 96 43.64l-16.52-24Zm-62.96 0L48 30.68l31.48-11.04H16.52ZM85.932 5.932l-6.731 6.731 6.731 6.732 6.732-6.732-6.732-6.731Z"
                            fill="#fff"></path>
                          <path d="M32.6 29.84h10.88v36H32.6v-36Zm19.92 0H63.4v36H52.52v-36Z" fill="#0F212E"></path>
                        </svg></span> </div>
                  </span>
                  <button type="button" tabindex="0"
                    class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-grey-200 betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:text-white focus-visible:outline-none text-sm leading-normal">
                    demo
                  </button>
                </div>
              </div>: {{item.content}}
            </div>
          </div>
        </div>
        }
        <!-- <div class="msg_box mt-[.5rem]">
            <div class="content">
              <div
                class="weight-normal line-height-default align-left size-default text-size-default variant-highlighted w-full text-white">
                <div class="userNameContainer ">
                  <div class="user-tags ">
                    <span class="svelte-smmarv">
                      <div class="hoverable svelte-bbyuql"><span class="wrap svelte-nc081s"><svg fill="none"
                            viewBox="0 0 96 96" class="svg-icon " style="font-size: var(--text-size-default);">
                            <title></title>
                            <path d="M79.48 19.64c-21.36 2.44-42.32 2.4-63 0L0 43.64 48 96l48-52.36-16.52-24Z"
                              fill="#BDE9FF">
                            </path>
                            <path d="M48 30.68 27.68 55.52h40.64L48 30.68Z" fill="#fff"></path>
                            <path d="M96 43.64 48 96l20.32-40.48L96 43.64Z" fill="#B0B8FC"></path>
                            <path d="M0 43.64 48 96 27.68 55.52 0 43.64Z" fill="#fff"></path>
                            <path d="m16.52 19.64 11.16 35.88L0 43.64l16.52-24Z" fill="#B0B8FC"></path>
                            <path
                              d="M79.48 19.64 68.32 55.52 96 43.64l-16.52-24Zm-62.96 0L48 30.68l31.48-11.04H16.52ZM85.932 5.932l-6.731 6.731 6.731 6.732 6.732-6.732-6.732-6.731Z"
                              fill="#fff"></path>
                            <path d="M32.6 29.84h10.88v36H32.6v-36Zm19.92 0H63.4v36H52.52v-36Z" fill="#0F212E"></path>
                          </svg></span> </div>
                    </span>
                    <button type="button" tabindex="0"
                      class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-grey-200 betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:text-white focus-visible:outline-none text-sm leading-normal">Jjdjjdjms</button>
                  </div>
                </div>: But they already got saddam
              </div>
            </div>
          </div>
          <div class="msg_box mt-[.5rem]">
            <div class="content">
              <div
                class="weight-normal line-height-default align-left size-default text-size-default variant-highlighted w-full text-white">
                <div class="userNameContainer ">
                  <div class="user-tags ">
                    <span class="svelte-smmarv">
                      <div class="hoverable svelte-bbyuql"><span class="wrap svelte-nc081s"><svg fill="none"
                            viewBox="0 0 96 96" class="svg-icon " style="font-size: var(--text-size-default);">
                            <title></title>
                            <path d="M79.48 19.64c-21.36 2.44-42.32 2.4-63 0L0 43.64 48 96l48-52.36-16.52-24Z"
                              fill="#BDE9FF">
                            </path>
                            <path d="M48 30.68 27.68 55.52h40.64L48 30.68Z" fill="#fff"></path>
                            <path d="M96 43.64 48 96l20.32-40.48L96 43.64Z" fill="#B0B8FC"></path>
                            <path d="M0 43.64 48 96 27.68 55.52 0 43.64Z" fill="#fff"></path>
                            <path d="m16.52 19.64 11.16 35.88L0 43.64l16.52-24Z" fill="#B0B8FC"></path>
                            <path
                              d="M79.48 19.64 68.32 55.52 96 43.64l-16.52-24Zm-62.96 0L48 30.68l31.48-11.04H16.52ZM85.932 5.932l-6.731 6.731 6.731 6.732 6.732-6.732-6.732-6.731Z"
                              fill="#fff"></path>
                            <path d="M32.6 29.84h10.88v36H32.6v-36Zm19.92 0H63.4v36H52.52v-36Z" fill="#0F212E"></path>
                          </svg></span> </div>
                    </span>
                    <button type="button" tabindex="0"
                      class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-grey-200 betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:text-white focus-visible:outline-none text-sm leading-normal">Jjdjjdjms</button>
                  </div>
                </div>: But they already got saddam
              </div>
            </div>
          </div>
          <div class="msg_box mt-[.5rem]">
            <div class="content">
              <div
                class="weight-normal line-height-default align-left size-default text-size-default variant-highlighted w-full text-white">
                <div class="userNameContainer ">
                  <div class="user-tags ">
                    <span class="svelte-smmarv">
                      <div class="hoverable svelte-bbyuql"><span class="wrap svelte-nc081s"><svg fill="none"
                            viewBox="0 0 96 96" class="svg-icon " style="font-size: var(--text-size-default);">
                            <title></title>
                            <path d="M79.48 19.64c-21.36 2.44-42.32 2.4-63 0L0 43.64 48 96l48-52.36-16.52-24Z"
                              fill="#BDE9FF">
                            </path>
                            <path d="M48 30.68 27.68 55.52h40.64L48 30.68Z" fill="#fff"></path>
                            <path d="M96 43.64 48 96l20.32-40.48L96 43.64Z" fill="#B0B8FC"></path>
                            <path d="M0 43.64 48 96 27.68 55.52 0 43.64Z" fill="#fff"></path>
                            <path d="m16.52 19.64 11.16 35.88L0 43.64l16.52-24Z" fill="#B0B8FC"></path>
                            <path
                              d="M79.48 19.64 68.32 55.52 96 43.64l-16.52-24Zm-62.96 0L48 30.68l31.48-11.04H16.52ZM85.932 5.932l-6.731 6.731 6.731 6.732 6.732-6.732-6.732-6.731Z"
                              fill="#fff"></path>
                            <path d="M32.6 29.84h10.88v36H32.6v-36Zm19.92 0H63.4v36H52.52v-36Z" fill="#0F212E"></path>
                          </svg></span> </div>
                    </span>
                    <button type="button" tabindex="0"
                      class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-grey-200 betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:text-white focus-visible:outline-none text-sm leading-normal">Jjdjjdjms</button>
                  </div>
                </div>: But they already got saddam
              </div>
            </div>
          </div>
          <div class="msg_box mt-[.5rem]">
            <div class="content">
              <div
                class="weight-normal line-height-default align-left size-default text-size-default variant-highlighted w-full text-white">
                <div class="userNameContainer ">
                  <div class="user-tags ">
                    <span class="svelte-smmarv">
                      <div class="hoverable svelte-bbyuql"><span class="wrap svelte-nc081s"><svg fill="none"
                            viewBox="0 0 96 96" class="svg-icon " style="font-size: var(--text-size-default);">
                            <title></title>
                            <path d="M79.48 19.64c-21.36 2.44-42.32 2.4-63 0L0 43.64 48 96l48-52.36-16.52-24Z"
                              fill="#BDE9FF">
                            </path>
                            <path d="M48 30.68 27.68 55.52h40.64L48 30.68Z" fill="#fff"></path>
                            <path d="M96 43.64 48 96l20.32-40.48L96 43.64Z" fill="#B0B8FC"></path>
                            <path d="M0 43.64 48 96 27.68 55.52 0 43.64Z" fill="#fff"></path>
                            <path d="m16.52 19.64 11.16 35.88L0 43.64l16.52-24Z" fill="#B0B8FC"></path>
                            <path
                              d="M79.48 19.64 68.32 55.52 96 43.64l-16.52-24Zm-62.96 0L48 30.68l31.48-11.04H16.52ZM85.932 5.932l-6.731 6.731 6.731 6.732 6.732-6.732-6.732-6.731Z"
                              fill="#fff"></path>
                            <path d="M32.6 29.84h10.88v36H32.6v-36Zm19.92 0H63.4v36H52.52v-36Z" fill="#0F212E"></path>
                          </svg></span> </div>
                    </span>
                    <button type="button" tabindex="0"
                      class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-grey-200 betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:text-white focus-visible:outline-none text-sm leading-normal">Jjdjjdjms</button>
                  </div>
                </div>: But they already got saddam
              </div>
            </div>
          </div>
          <div class="msg_box mt-[.5rem]">
            <div class="content">
              <div
                class="weight-normal line-height-default align-left size-default text-size-default variant-highlighted w-full text-white">
                <div class="userNameContainer ">
                  <div class="user-tags ">
                    <span class="svelte-smmarv">
                      <div class="hoverable svelte-bbyuql"><span class="wrap svelte-nc081s"><svg fill="none"
                            viewBox="0 0 96 96" class="svg-icon " style="font-size: var(--text-size-default);">
                            <title></title>
                            <path d="M79.48 19.64c-21.36 2.44-42.32 2.4-63 0L0 43.64 48 96l48-52.36-16.52-24Z"
                              fill="#BDE9FF">
                            </path>
                            <path d="M48 30.68 27.68 55.52h40.64L48 30.68Z" fill="#fff"></path>
                            <path d="M96 43.64 48 96l20.32-40.48L96 43.64Z" fill="#B0B8FC"></path>
                            <path d="M0 43.64 48 96 27.68 55.52 0 43.64Z" fill="#fff"></path>
                            <path d="m16.52 19.64 11.16 35.88L0 43.64l16.52-24Z" fill="#B0B8FC"></path>
                            <path
                              d="M79.48 19.64 68.32 55.52 96 43.64l-16.52-24Zm-62.96 0L48 30.68l31.48-11.04H16.52ZM85.932 5.932l-6.731 6.731 6.731 6.732 6.732-6.732-6.732-6.731Z"
                              fill="#fff"></path>
                            <path d="M32.6 29.84h10.88v36H32.6v-36Zm19.92 0H63.4v36H52.52v-36Z" fill="#0F212E"></path>
                          </svg></span> </div>
                    </span>
                    <button type="button" tabindex="0"
                      class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-grey-200 betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:text-white focus-visible:outline-none text-sm leading-normal">Jjdjjdjms</button>
                  </div>
                </div>: But they already got saddam
              </div>
            </div>
          </div>
          <div class="msg_box mt-[.5rem]">
            <div class="content">
              <div
                class="weight-normal line-height-default align-left size-default text-size-default variant-highlighted w-full text-white">
                <div class="userNameContainer ">
                  <div class="user-tags ">
                    <span class="svelte-smmarv">
                      <div class="hoverable svelte-bbyuql"><span class="wrap svelte-nc081s"><svg fill="none"
                            viewBox="0 0 96 96" class="svg-icon " style="font-size: var(--text-size-default);">
                            <title></title>
                            <path d="M79.48 19.64c-21.36 2.44-42.32 2.4-63 0L0 43.64 48 96l48-52.36-16.52-24Z"
                              fill="#BDE9FF">
                            </path>
                            <path d="M48 30.68 27.68 55.52h40.64L48 30.68Z" fill="#fff"></path>
                            <path d="M96 43.64 48 96l20.32-40.48L96 43.64Z" fill="#B0B8FC"></path>
                            <path d="M0 43.64 48 96 27.68 55.52 0 43.64Z" fill="#fff"></path>
                            <path d="m16.52 19.64 11.16 35.88L0 43.64l16.52-24Z" fill="#B0B8FC"></path>
                            <path
                              d="M79.48 19.64 68.32 55.52 96 43.64l-16.52-24Zm-62.96 0L48 30.68l31.48-11.04H16.52ZM85.932 5.932l-6.731 6.731 6.731 6.732 6.732-6.732-6.732-6.731Z"
                              fill="#fff"></path>
                            <path d="M32.6 29.84h10.88v36H32.6v-36Zm19.92 0H63.4v36H52.52v-36Z" fill="#0F212E"></path>
                          </svg></span> </div>
                    </span>
                    <button type="button" tabindex="0"
                      class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-grey-200 betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:text-white focus-visible:outline-none text-sm leading-normal">Jjdjjdjms</button>
                  </div>
                </div>: But they already got saddam
              </div>
            </div>
          </div>
          <div class="msg_box mt-[.5rem]">
            <div class="content">
              <div
                class="weight-normal line-height-default align-left size-default text-size-default variant-highlighted w-full text-white">
                <div class="userNameContainer ">
                  <div class="user-tags ">
                    <span class="svelte-smmarv">
                      <div class="hoverable svelte-bbyuql"><span class="wrap svelte-nc081s"><svg fill="none"
                            viewBox="0 0 96 96" class="svg-icon " style="font-size: var(--text-size-default);">
                            <title></title>
                            <path d="M79.48 19.64c-21.36 2.44-42.32 2.4-63 0L0 43.64 48 96l48-52.36-16.52-24Z"
                              fill="#BDE9FF">
                            </path>
                            <path d="M48 30.68 27.68 55.52h40.64L48 30.68Z" fill="#fff"></path>
                            <path d="M96 43.64 48 96l20.32-40.48L96 43.64Z" fill="#B0B8FC"></path>
                            <path d="M0 43.64 48 96 27.68 55.52 0 43.64Z" fill="#fff"></path>
                            <path d="m16.52 19.64 11.16 35.88L0 43.64l16.52-24Z" fill="#B0B8FC"></path>
                            <path
                              d="M79.48 19.64 68.32 55.52 96 43.64l-16.52-24Zm-62.96 0L48 30.68l31.48-11.04H16.52ZM85.932 5.932l-6.731 6.731 6.731 6.732 6.732-6.732-6.732-6.731Z"
                              fill="#fff"></path>
                            <path d="M32.6 29.84h10.88v36H32.6v-36Zm19.92 0H63.4v36H52.52v-36Z" fill="#0F212E"></path>
                          </svg></span> </div>
                    </span>
                    <button type="button" tabindex="0"
                      class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-grey-200 betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:text-white focus-visible:outline-none text-sm leading-normal">Jjdjjdjms</button>
                  </div>
                </div>: But they already got saddam
              </div>
            </div>
          </div>
          <div class="msg_box mt-[.5rem]">
            <div class="content">
              <div
                class="weight-normal line-height-default align-left size-default text-size-default variant-highlighted w-full text-white">
                <div class="userNameContainer ">
                  <div class="user-tags ">
                    <span class="svelte-smmarv">
                      <div class="hoverable svelte-bbyuql"><span class="wrap svelte-nc081s"><svg fill="none"
                            viewBox="0 0 96 96" class="svg-icon " style="font-size: var(--text-size-default);">
                            <title></title>
                            <path d="M79.48 19.64c-21.36 2.44-42.32 2.4-63 0L0 43.64 48 96l48-52.36-16.52-24Z"
                              fill="#BDE9FF">
                            </path>
                            <path d="M48 30.68 27.68 55.52h40.64L48 30.68Z" fill="#fff"></path>
                            <path d="M96 43.64 48 96l20.32-40.48L96 43.64Z" fill="#B0B8FC"></path>
                            <path d="M0 43.64 48 96 27.68 55.52 0 43.64Z" fill="#fff"></path>
                            <path d="m16.52 19.64 11.16 35.88L0 43.64l16.52-24Z" fill="#B0B8FC"></path>
                            <path
                              d="M79.48 19.64 68.32 55.52 96 43.64l-16.52-24Zm-62.96 0L48 30.68l31.48-11.04H16.52ZM85.932 5.932l-6.731 6.731 6.731 6.732 6.732-6.732-6.732-6.731Z"
                              fill="#fff"></path>
                            <path d="M32.6 29.84h10.88v36H32.6v-36Zm19.92 0H63.4v36H52.52v-36Z" fill="#0F212E"></path>
                          </svg></span> </div>
                    </span>
                    <button type="button" tabindex="0"
                      class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-grey-200 betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:text-white focus-visible:outline-none text-sm leading-normal">Jjdjjdjms</button>
                  </div>
                </div>: But they already got saddam
              </div>
            </div>
          </div>
          <div class="msg_box mt-[.5rem]">
            <div class="content">
              <div
                class="weight-normal line-height-default align-left size-default text-size-default variant-highlighted w-full text-white">
                <div class="userNameContainer ">
                  <div class="user-tags ">
                    <span class="svelte-smmarv">
                      <div class="hoverable svelte-bbyuql"><span class="wrap svelte-nc081s"><svg fill="none"
                            viewBox="0 0 96 96" class="svg-icon " style="font-size: var(--text-size-default);">
                            <title></title>
                            <path d="M79.48 19.64c-21.36 2.44-42.32 2.4-63 0L0 43.64 48 96l48-52.36-16.52-24Z"
                              fill="#BDE9FF">
                            </path>
                            <path d="M48 30.68 27.68 55.52h40.64L48 30.68Z" fill="#fff"></path>
                            <path d="M96 43.64 48 96l20.32-40.48L96 43.64Z" fill="#B0B8FC"></path>
                            <path d="M0 43.64 48 96 27.68 55.52 0 43.64Z" fill="#fff"></path>
                            <path d="m16.52 19.64 11.16 35.88L0 43.64l16.52-24Z" fill="#B0B8FC"></path>
                            <path
                              d="M79.48 19.64 68.32 55.52 96 43.64l-16.52-24Zm-62.96 0L48 30.68l31.48-11.04H16.52ZM85.932 5.932l-6.731 6.731 6.731 6.732 6.732-6.732-6.732-6.731Z"
                              fill="#fff"></path>
                            <path d="M32.6 29.84h10.88v36H32.6v-36Zm19.92 0H63.4v36H52.52v-36Z" fill="#0F212E"></path>
                          </svg></span> </div>
                    </span>
                    <button type="button" tabindex="0"
                      class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-grey-200 betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:text-white focus-visible:outline-none text-sm leading-normal">Jjdjjdjms</button>
                  </div>
                </div>: But they already got saddam
              </div>
            </div>
          </div>
          <div class="msg_box mt-[.5rem]">
            <div class="content">
              <div
                class="weight-normal line-height-default align-left size-default text-size-default variant-highlighted w-full text-white">
                <div class="userNameContainer ">
                  <div class="user-tags ">
                    <span class="svelte-smmarv">
                      <div class="hoverable svelte-bbyuql"><span class="wrap svelte-nc081s"><svg fill="none"
                            viewBox="0 0 96 96" class="svg-icon " style="font-size: var(--text-size-default);">
                            <title></title>
                            <path d="M79.48 19.64c-21.36 2.44-42.32 2.4-63 0L0 43.64 48 96l48-52.36-16.52-24Z"
                              fill="#BDE9FF">
                            </path>
                            <path d="M48 30.68 27.68 55.52h40.64L48 30.68Z" fill="#fff"></path>
                            <path d="M96 43.64 48 96l20.32-40.48L96 43.64Z" fill="#B0B8FC"></path>
                            <path d="M0 43.64 48 96 27.68 55.52 0 43.64Z" fill="#fff"></path>
                            <path d="m16.52 19.64 11.16 35.88L0 43.64l16.52-24Z" fill="#B0B8FC"></path>
                            <path
                              d="M79.48 19.64 68.32 55.52 96 43.64l-16.52-24Zm-62.96 0L48 30.68l31.48-11.04H16.52ZM85.932 5.932l-6.731 6.731 6.731 6.732 6.732-6.732-6.732-6.731Z"
                              fill="#fff"></path>
                            <path d="M32.6 29.84h10.88v36H32.6v-36Zm19.92 0H63.4v36H52.52v-36Z" fill="#0F212E"></path>
                          </svg></span> </div>
                    </span>
                    <button type="button" tabindex="0"
                      class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-grey-200 betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:text-white focus-visible:outline-none text-sm leading-normal">Jjdjjdjms</button>
                  </div>
                </div>: But they already got saddam
              </div>
            </div>
          </div>
          <div class="msg_box mt-[.5rem]">
            <div class="content">
              <div
                class="weight-normal line-height-default align-left size-default text-size-default variant-highlighted w-full text-white">
                <div class="userNameContainer ">
                  <div class="user-tags ">
                    <span class="svelte-smmarv">
                      <div class="hoverable svelte-bbyuql"><span class="wrap svelte-nc081s"><svg fill="none"
                            viewBox="0 0 96 96" class="svg-icon " style="font-size: var(--text-size-default);">
                            <title></title>
                            <path d="M79.48 19.64c-21.36 2.44-42.32 2.4-63 0L0 43.64 48 96l48-52.36-16.52-24Z"
                              fill="#BDE9FF">
                            </path>
                            <path d="M48 30.68 27.68 55.52h40.64L48 30.68Z" fill="#fff"></path>
                            <path d="M96 43.64 48 96l20.32-40.48L96 43.64Z" fill="#B0B8FC"></path>
                            <path d="M0 43.64 48 96 27.68 55.52 0 43.64Z" fill="#fff"></path>
                            <path d="m16.52 19.64 11.16 35.88L0 43.64l16.52-24Z" fill="#B0B8FC"></path>
                            <path
                              d="M79.48 19.64 68.32 55.52 96 43.64l-16.52-24Zm-62.96 0L48 30.68l31.48-11.04H16.52ZM85.932 5.932l-6.731 6.731 6.731 6.732 6.732-6.732-6.732-6.731Z"
                              fill="#fff"></path>
                            <path d="M32.6 29.84h10.88v36H32.6v-36Zm19.92 0H63.4v36H52.52v-36Z" fill="#0F212E"></path>
                          </svg></span> </div>
                    </span>
                    <button type="button" tabindex="0"
                      class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-grey-200 betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:text-white focus-visible:outline-none text-sm leading-normal">Jjdjjdjms</button>
                  </div>
                </div>: But they already got saddam
              </div>
            </div>
          </div>
          <div class="msg_box mt-[.5rem]">
            <div class="content">
              <div
                class="weight-normal line-height-default align-left size-default text-size-default variant-highlighted w-full text-white">
                <div class="userNameContainer ">
                  <div class="user-tags ">
                    <span class="svelte-smmarv">
                      <div class="hoverable svelte-bbyuql"><span class="wrap svelte-nc081s"><svg fill="none"
                            viewBox="0 0 96 96" class="svg-icon " style="font-size: var(--text-size-default);">
                            <title></title>
                            <path d="M79.48 19.64c-21.36 2.44-42.32 2.4-63 0L0 43.64 48 96l48-52.36-16.52-24Z"
                              fill="#BDE9FF">
                            </path>
                            <path d="M48 30.68 27.68 55.52h40.64L48 30.68Z" fill="#fff"></path>
                            <path d="M96 43.64 48 96l20.32-40.48L96 43.64Z" fill="#B0B8FC"></path>
                            <path d="M0 43.64 48 96 27.68 55.52 0 43.64Z" fill="#fff"></path>
                            <path d="m16.52 19.64 11.16 35.88L0 43.64l16.52-24Z" fill="#B0B8FC"></path>
                            <path
                              d="M79.48 19.64 68.32 55.52 96 43.64l-16.52-24Zm-62.96 0L48 30.68l31.48-11.04H16.52ZM85.932 5.932l-6.731 6.731 6.731 6.732 6.732-6.732-6.732-6.731Z"
                              fill="#fff"></path>
                            <path d="M32.6 29.84h10.88v36H32.6v-36Zm19.92 0H63.4v36H52.52v-36Z" fill="#0F212E"></path>
                          </svg></span> </div>
                    </span>
                    <button type="button" tabindex="0"
                      class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-grey-200 betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:text-white focus-visible:outline-none text-sm leading-normal">dsfass</button>
                  </div>
                </div>: honestly thats good, real life comes first, gambling is a hobby :) everything good with the family?
              </div>
            </div>
          </div> -->
        <div class="msg_box mt-[.5rem]" *ngIf="casinoChat.length>12" id="lastchildMsg">

        </div>
      </div>
    </div>

    <div class="footer">
      <div class="chat-input svelte-15zhun5">

        <label class="stacked full-width svelte-1wzq4lo">
          <div class="text-area-wrap svelte-9e21kq">
            <pre aria-hidden="true" class="svelte-9e21kq" style="min-height: 2.8em; max-height: 6.4em;">
      </pre> <textarea (focus)="ChatFocusScroll()" id="message" [(ngModel)]="text"
              class="scrollY with-button svelte-9e21kq" (keyup.enter)="sendMessage()"
              placeholder="Type your message"></textarea>

          </div>
        </label>
      </div>
      <span class="online svelte-fspnwy">
        <div class="scale-up svelte-tgp09d is-relative">

        </div>
        <span
          class="weight-semibold line-height-default is-inline align-left size-sm text-size-sm variant-subtle with-icon-space svelte-17v69ua"><span>Online:
          </span>
          <span
            class="weight-semibold line-height-default align-left size-sm text-size-sm variant-subtle numeric with-icon-space svelte-17v69ua">{{connectedUsers?connectedUsers:0}}</span></span>
      </span>
      <div class="actions svelte-49slp7">
        <span
          class="weight-semibold line-height-default align-left size-sm text-size-sm variant-subtle with-icon-space svelte-17v69ua">160</span>
        <button type="button" tabindex="0" (click)="openChatRulesModal()"
          class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-grey-400 text-white betterhover:hover:bg-grey-300 betterhover:hover:text-white focus-visible:outline-white text-sm leading-none shadow-md py-[0.8125rem] px-[1rem]"
          data-button-root="">
          <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon ">
            <title></title>
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M22.8 8.547h36.774c0 .028.026.054.026.054h-.016a6.75 6.75 0 0 0-6.384 6.586v33.04l-.002-.02a6.8 6.8 0 0 1-6.786 7.246 6.8 6.8 0 0 1-6.786-7.226v-3.094H16V15.347a6.8 6.8 0 0 1 6.8-6.8Zm-.828 27.894h15.494V31.8H21.972v4.64Zm.002-12.4h24.8V19.4h-24.8v4.64Zm38.052-13.574h-.052A3.974 3.974 0 0 0 56 14.44v6.426h8V14.44a3.974 3.974 0 0 0-3.974-3.974ZM36.8 48.256H0a6.8 6.8 0 0 0 6.8 6.8h34.026c-2.694 0-4.026-3.04-4.026-6.8Z">
            </path>
          </svg>
        </button>
        <button type="button" tabindex="0" (click)="sendMessage()"
          class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-green-500 text-neutral-black betterhover:hover:bg-green-400 betterhover:hover:text-neutral-black focus-visible:outline-white text-sm leading-none shadow-md py-[0.8125rem] px-[1rem]"
          data-button-root="">
          <div data-loader-content="" class="contents">Send</div>
        </button>
      </div>
    </div>
  </div>


</section>


<app-chat-rules-modal></app-chat-rules-modal>