.bets-container{
  /* width: 100%;
    padding: 0 1rem;
    background: #0e212e;
    height: calc(100svh - 119px); */
    width: 100%;
    padding: 0 1rem;
    background: #0e212e;
    height: calc(100vh - 116px);
    position: absolute;
    top: 64px;
    bottom: 52px;
}
.pagetitle{
  /* margin-top: 1rem; */
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.svg-icon{
  color: #b1bad3;
  margin-right: .5rem;

}
.closebtn{
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.closebtn .svg-icon{
  margin-right: 0px !important;

}
.content{
  margin-bottom: 140px;
}
.empty-notifications {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.empty-list {
  padding: 1rem !important;
  color: #b1bad3;
  flex-direction: column;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: .875rem;
}
.large-icon {
  font-size: 6rem;
  color: #557086;
}
.empty-notifications svg {
  transform: rotate(90deg);
  margin-bottom: 1rem;
}
.empty-list.spacing-compact>*+* {
  margin-top: .25rem;
  color: #b1bad3;
  text-align: left;
  justify-content: flex-start;
  font-size: .875rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
}
