@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

.hide{
  opacity: 0 !important;
  visibility: hidden;
}

.noAnimate{
  animation: none !important;
}

.blurText{
  opacity: 0.2;
}

.pPair{
  top: 10.1rem !important;
}

.bPair{
  top: 10.1rem !important;
}

.ePair{
  top: 10.1rem !important;
}

.sPair{
  top: 7.9rem !important;
}

/* .player_score,
.banker_score{
  display: none !important;
} */

/* .winner{
  animation: highlightAnimationBackground-XRfTxu 600ms ease infinite alternate;
  visibility: visible !important;
} */

/* ================================== */

.newGameWrapper {
  background-color: #0a0a1a;
  height: calc(100vh - 114px);
  position: relative;
  width: 100%;
  overflow-y: scroll;
}

.gradientDiv {
  height: 55%;
  background: linear-gradient(315deg, #819bca47 0%, #331c3e14 100%);
}

.table__svg-uuecxW {
  overflow: visible;
}

.svgBetPlace-sylXGS {
  cursor: pointer;
  transition: opacity 300ms ease;
}

.svgBetPlace__ctaPath-kMdMxM, .svgBetPlace__losePath-ls3X5l, .svgBetPlace__winGroup-BgAOli {
  opacity: 0;
  transition-duration: 300ms;
  transition-property: opacity, visibility;
  transition-timing-function: ease;
  visibility: hidden;
}

.svgBetPlace__ctaPath-kMdMxM{
  animation: highlightAnimationBackground-XRfTxu 600ms ease infinite alternate;
  visibility: visible;
}

.svgBetPlace_cta-ULmy2Z .svgBetPlace__hieroglyph-diRB3e {
  animation: ctaAnimationHieroglyph-helyO_ 1200ms ease infinite alternate;
  animation-delay: 1200ms;
}

.svgBetPlace-sylXGS {
  cursor: pointer;
  transition: opacity 300ms ease;
}


.svgBetPlace_cta-ULmy2Z .svgBetPlace__ctaPath-kMdMxM, .svgBetPlace_win-AzyqtL .svgBetPlace__winGroup-BgAOli {
  animation: highlightAnimationBackground-XRfTxu 600ms ease infinite alternate;
  visibility: visible;
}

.svgIcon_small-WRm0qc {
  width: 0.75rem;
}
.svgIcon-JpUo7O {
  fill: currentColor;
  aspect-ratio: 1;
  overflow: visible;
}

.betStat_align_left-oq1Q2K, .betStat_align_left-oq1Q2K .betStat__info-iGat4V {
  flex-direction: row-reverse;
}

.table__html-VdPMCb {
  pointer-events: none;
  font-family: Rubik, sans-serif;
}

.table_roundStatusBetting-C_wBcs .table__bankerBetStat-TsrOF4, .table_roundStatusBetting-C_wBcs .table__bankerPairPayout-DTrMfa, .table_roundStatusBetting-C_wBcs .table__eitherPairPayout-Mz8nuW, .table_roundStatusBetting-C_wBcs .table__perfectPairPayout-jEF5WI, .table_roundStatusBetting-C_wBcs .table__perfectPairSecondPayout-OP50cA, .table_roundStatusBetting-C_wBcs .table__playerBetStat-SIKZO5, .table_roundStatusBetting-C_wBcs .table__playerPairPayout-b4Lfsu, .table_roundStatusBetting-C_wBcs .table__superSixPayout-wYHWoo, .table_roundStatusBetting-C_wBcs .table__tieBetStat-WGzf9d, .table_roundStatusFinished-ND_ckx .table__bankerScore-LBpRzc, .table_roundStatusFinished-ND_ckx .table__playerScore-pzJbwP {
  opacity: 1;
  visibility: visible;
}

.table__playerBetStat-SIKZO5 {
  left: 0.5rem;
  top: 0.5rem;
  @apply min-[1312px]:!left-[4.4375rem] min-[1312px]:!top-[0.4375rem];
}

.table__bankerBetStat-TsrOF4, .table__playerBetStat-SIKZO5, .table__tieBetStat-WGzf9d {
  /* opacity: 0; */
  position: absolute;
  transition: opacity 300ms ease, visibility 300ms ease;
  /* visibility: hidden; */
}

.betStat_size_small-kxmCJ5 {
  font-size: 0.5rem;
  line-height: 0.75rem;
}
.betStat-ms3aoF {
  align-items: center;
  color: hsla(0, 0%, 100%, .6);
  display: flex;
  font-weight: 500;
  gap: 0.25rem;
}

.betStat__percentage-BBxzKO {
  flex-shrink: 0;
}

.betStat_size_small-kxmCJ5 {
  font-size: 0.5rem;
  line-height: 0.75rem;
}

.percentageBetStat-cKHkzI {
  align-items: center;
  background-size: 200% 200%;
  border-radius: 0.25rem;
  color: #fff;
  display: flex;
  font-size: 0.5rem;
  height: 1.5rem;
  justify-content: center;
  overflow: hidden;
  transition: background-position-y .35s ease;
  width: 1.5rem;
}

.betStat__info-iGat4V {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

.svgIcon_small-WRm0qc {
  width: 0.75rem;
}
.svgIcon-JpUo7O {
  fill: currentColor;
  aspect-ratio: 1;
  overflow: visible;
}

.table__bankerBetStat-TsrOF4 {
  right: 0.5rem;
  top: 0.5rem;
  @apply min-[1312px]:!right-[4.4375rem] min-[1312px]:!top-[0.375rem];
}

.betStat_align_left-oq1Q2K {
  justify-content: flex-end;
}

.betStat_align_bottom-oEv3fK {
  flex-direction: column;
}

.table__tieBetStat-WGzf9d {
  left: 0;
  right: 0;
  top: 0.875rem;
}

.table__playerScore-pzJbwP {
  left: 0.5625rem;
}
.table__bankerScore-LBpRzc, .table__playerScore-pzJbwP {
  color: rgb(255 255 255);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  /* opacity: 0; */
  position: absolute;
  top: 0.4375rem;
  transition: opacity 300ms ease, visibility 300ms ease;
  /* visibility: hidden; */
}

.table__bankerScore-LBpRzc {
  right: 0.5625rem;
}

.table__playerTitle-IDg1Sx {
  left: 0.5rem;
  @apply min-[1312px]:!left-[4.4375rem];
}
.table__bankerTitle-xysbeW, .table__playerTitle-IDg1Sx, .table__tieTitle-uPf3Aa {
  color: rgb(255 255 255);
  font-family: Baloo\ 2, sans-serif;
  font-size: 1rem;
  font-size-adjust: var(--main-bets-font-size-adjust-ratio, none);
  font-weight: 800;
  line-height: 1;
  position: absolute;
  top: 5.69rem;
  transition: opacity 300ms ease;
}

.table__bankerTitle-xysbeW {
  right: 0.5rem;
  @apply min-[1312px]:!right-[4.4375rem];
}

.table__tieTitle-uPf3Aa {
  align-items: center;
  display: flex;
  font-weight: 700;
  height: 0;
  justify-content: center;
  left: 50%;
  top: 5.6rem;
  white-space: nowrap;
  width: 0;
}

.table__playerPairTitle-zjbgYU{
  @apply min-[1312px]:!translate-y-[0rem] min-[1312px]:!bottom-[1.125rem] min-[1312px]:!top-auto min-[1312px]:!text-[0.625rem];
  transform: translateY(-0.3125rem);
  left: 1.64rem;
  top: 9.79rem;
  font-size: 0.75rem;
  position: absolute;
  white-space: nowrap;
}

.table__playerPairPayout-b4Lfsu{
  @apply min-[1312px]:!bottom-[1.3rem] min-[1312px]:!left-[1.5rem] min-[1312px]:!text-[0.5rem];
  left: 2.88rem;
  top: 9.596rem;
  font-size: 0.68rem;
  transform: translateY(0.849rem);
  color: rgb(138, 138, 153);
  transition: opacity 300ms ease, visibility 300ms ease;
  position: absolute;
}

.table__bankerPairTitle-jKSnQU{
  @apply min-[1312px]:!translate-y-[0rem] min-[1312px]:!bottom-[1.125rem] min-[1312px]:!right-[1.2rem] min-[1312px]:!top-auto min-[1312px]:!text-[0.625rem];
  transform: translateY(-0.3125rem);
  right: 1.4rem;
  top: 9.79rem;
  font-size: 0.75rem;
  position: absolute;
  white-space: nowrap;
}

.table__bankerPairPayout-DTrMfa{
  @apply min-[1312px]:!bottom-[1.3rem] min-[1312px]:!right-[1.67rem] min-[1312px]:!text-[0.5rem];
  right: 2.88rem;
  top: 9.596rem;
  font-size: 0.68rem;
  transform: translateY(0.849rem);
  color: rgb(138, 138, 153);
  transition: opacity 300ms ease, visibility 300ms ease;
  position: absolute;
}

.table__playerBonusTitle-ayiQYv{
  @apply min-[1312px]:!left-[0.8rem] min-[1312px]:!top-[0.8rem] min-[1312px]:!text-[0.625rem];
  left: 1.1rem;
  top: 7.5rem;
  position: absolute;
  font-size: 0.75rem;
  transition-duration: 300ms;
  transition-property: opacity, color, transform;
  transition-timing-function: ease;
  white-space: nowrap;
  color: white;
}

.table__bankerBonusTitle-ct9ndo{
  @apply min-[1312px]:!right-[0.8rem] min-[1312px]:!top-[0.8rem] min-[1312px]:!text-[0.625rem];
  right: 1rem;
  top: 7.55rem;
  position: absolute;
  font-size: 0.75rem;
  transition-duration: 300ms;
  transition-property: opacity, color, transform;
  transition-timing-function: ease;
  white-space: nowrap;
  color: white;
}

.table__perfectPairTitle-bR3biK{
  @apply min-[1312px]:!translate-y-[-0rem] min-[1312px]:!left-[0.4rem] min-[1312px]:!top-[39%] min-[1312px]:!text-[0.625rem];
  transform: translateY(-0.3125rem);
  left: 41%;
  top: 7.4rem;
  font-size: 0.75rem;
  position: absolute;
  transition-duration: 300ms;
  transition-property: opacity, color, transform;
  transition-timing-function: ease;
  white-space: nowrap;
}

.table__perfectPairPayout-jEF5WI{
  @apply min-[1312px]:!translate-y-[0.4375rem] min-[1312px]:!left-[0.45rem] min-[1312px]:!text-[0.5rem];
  right: 40.35%;
  top: 7.2rem;
  font-size: 0.68rem;
  transform: translateY(0.849rem);
  color: rgb(138, 138, 153);
  transition: opacity 300ms ease, visibility 300ms ease;
  position: absolute;
}

.table__perfectPairSecondPayout-OP50cA{
  @apply min-[1312px]:!translate-y-[0.4375rem] min-[1312px]:!left-[0.7rem] min-[1312px]:!text-[0.5rem];
  right: 41.9%;
  top: 7.2rem;
  font-size: 0.68rem;
  transform: translateY(0.849rem);
  color: rgb(138, 138, 153);
  transition: opacity 300ms ease, visibility 300ms ease;
  position: absolute;
}

.table__eitherPairTitle-P2DiF2{
  @apply min-[1312px]:!translate-y-[-0rem] min-[1312px]:!right-[0.55rem] min-[1312px]:!top-[39%] min-[1312px]:!text-[0.625rem] min-[1312px]:text-end;
  transform: translateY(-0.3125rem);
  left: 42%;
  top: 9.79rem;
  font-size: 0.75rem;
  position: absolute;
  transition-duration: 300ms;
  transition-property: opacity, color, transform;
  transition-timing-function: ease;
  white-space: nowrap;
}

.table__eitherPairPayout-Mz8nuW {
  @apply min-[1312px]:!translate-y-[0.4375rem] min-[1312px]:!right-[1.7rem] min-[1312px]:!text-[0.5rem];
  right: 48%;
  top: 9.596rem;
  font-size: 0.68rem;
  transform: translateY(0.849rem);
  color: rgb(138, 138, 153);
  transition: opacity 300ms ease, visibility 300ms ease;
  position: absolute;
}

.table__perfectPairSecondPayout-OP50cA {
  animation-direction: alternate-reverse;
}

.table__perfectPairPayout-jEF5WI {
  animation-direction: alternate;
}

.table__perfectPairPayout-jEF5WI, .table__perfectPairSecondPayout-OP50cA {
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-name: payoutToggleVisibilityAnimation-peh7oz;
}

.table_sizeSmall-JYYIuA .table__eitherPairChip-XAXAXr, .table_sizeSmall-JYYIuA .table__eitherPairPayout-Mz8nuW, .table_sizeSmall-JYYIuA .table__eitherPairTitle-P2DiF2 {
  left: 50%;
  top: 10.5625rem;
}

.table__playerCards-o5vD_n {
  left: 0.5rem;
  @apply min-[1312px]:!left-[4.4375rem];
}
.table__bankerCards-i5f6OJ, .table__playerCards-o5vD_n {
  position: absolute;
  top: 2.5rem;
  transition: opacity 300ms ease;
}

.baccaratCardsStack_size_medium-jfc47n {
  width: 6.375rem;
}
.baccaratCardsStack_align_left-vV4OO8 {
  align-items: flex-end;
}

.baccaratCardsStack-JZy7rm {
  display: flex;
  flex-direction: column;
}

.baccaratCardsStack_align_left-vV4OO8 .baccaratCardsStack__cards-AobfKq {
  grid-template-columns: auto 1fr 1fr;
}
.baccaratCardsStack__cards-AobfKq {
  display: grid;
  gap: 0.25rem;
  width: -moz-fit-content;
  width: fit-content;
}

.table__bankerCards-i5f6OJ {
  right: 0.5rem;
  @apply min-[1312px]:!right-[4.4375rem];
}

.baccaratCardsStack_align_right-zQbAAZ .baccaratCardsStack__cards-AobfKq {
  grid-template-columns: 1fr 1fr auto;
}
.baccaratCardsStack__cards-AobfKq {
  display: grid;
  gap: 0.25rem;
  width: -moz-fit-content;
  width: fit-content;
}

.baccaratCardsStack_align_left-vV4OO8 .baccaratCardsStack__cardWrap-g60f5P:first-of-type {
  grid-area: 1 / 2;
}

.baccaratCardsStack__cardWrap-g60f5P {
  display: flex;
  justify-content: inherit;
  transition: transform 300ms ease, opacity 300ms ease;
}

.baccaratCardsStack_align_left-vV4OO8 .baccaratCardsStack__cardWrap-g60f5P:nth-of-type(2) {
  grid-area: 1 / 3;
}

.baccaratCardsStack__cardWrap-g60f5P {
  display: flex;
  justify-content: inherit;
  transition: transform 300ms ease, opacity 300ms ease;
}

.baccaratCardsStack_size_medium-jfc47n .baccaratCardsStack__card-NpnM09 {
  width: 1.75rem;
}
.baccaratCardsStack__card-NpnM09 {
  border-radius: 0.125rem;
}

.card_size_medium-rVA6GX {
  height: 2.375rem;
  width: 1.75rem;
}
.card_color_red-oOULpU {
  color: #e13639;
}

.card-wi2ADp {
  --box-shadow-color: rgba(0, 0, 0, .4);
  border-radius: 0.125rem;
  position: relative;
}

.card-wi2ADp:not(.card_hasBackSide-tUG5vz):before {
  background-color: #000;
  border-radius: inherit;
  content: "";
  inset: 0;
  position: absolute;
}

.card_size_medium-rVA6GX .card__inner-CIH8Z7 {
  box-shadow: 0 0.5rem 0.75rem var(--box-shadow-color);
}

.card__inner-CIH8Z7 {
  background: #fff;
  border-radius: inherit;
  height: inherit;
  position: relative;
  transition: opacity 300ms ease;
}

.card__frontSide-tJBKcu {
  height: 100%;
  width: 100%;
}

.card__backSide-eZ4pXs, .card__frontSide-tJBKcu {
  backface-visibility: hidden;
  background-color: #fff;
  border-radius: inherit;
  inset: 0;
  position: absolute;
}

.card_size_medium-rVA6GX {
  height: 2.375rem;
  width: 1.75rem;
}

.card_color_black-iDcRjL {
  color: #000;
}
.card-wi2ADp {
  --box-shadow-color: rgba(0, 0, 0, .4);
  border-radius: 0.125rem;
  position: relative;
}

.baccaratCardsStack_size_medium-jfc47n .baccaratCardsStack__cardWrap-g60f5P:nth-child(3) {
  width: 2.375rem;
}

.baccaratCardsStack_size_medium-jfc47n .baccaratCardsStack__cardWrap-g60f5P:nth-child(3) .baccaratCardsStack__card-NpnM09 {
  box-shadow: -0.5rem 0 0.75rem rgba(0, 0, 0, .4);
  overflow: hidden;
}

.baccaratCardsStack_align_right-zQbAAZ .baccaratCardsStack__cardWrap-g60f5P:nth-child(3) .baccaratCardsStack__card-NpnM09 {
  transform: rotate(-90deg) translateY(100%);
  transform-origin: left bottom;
}

.baccaratCardsStack_size_medium-jfc47n .baccaratCardsStack__cardWrap-g60f5P:nth-child(3) {
  width: 2.375rem;
}

.baccaratCardsStack_align_left-vV4OO8 .baccaratCardsStack__cardWrap-g60f5P:nth-of-type(3) {
  grid-area: 1 / 1;
  justify-content: flex-end;
}

.baccaratCardsStack_size_medium-jfc47n .baccaratCardsStack__cardWrap-g60f5P:nth-child(3) .baccaratCardsStack__card-NpnM09 {
  box-shadow: -0.5rem 0 0.75rem rgba(0, 0, 0, .4);
  overflow: hidden;
}

.baccaratCardsStack_align_left-vV4OO8 .baccaratCardsStack__cardWrap-g60f5P:nth-of-type(3) .baccaratCardsStack__card-NpnM09 {
  transform: rotate(-90deg) translateX(100%);
  transform-origin: right bottom;
}


.baccaratHistoryPortrait__scoreInfo-hQjSei {
  padding: 6% 0.5rem 0.25rem;
  @apply min-[1312px]:!pt-0;
}

.scoreBoardInfo-USWOxa{
  display: flex;
  align-items: center;
  background: rgba(0 0 0 / 0.4);
  border-radius: 0.5rem;
  justify-content: space-between;
}

.scoreBoardInfo__total-b3bUj3{
  display: flex;
  align-items: center;
}

.scoreBoardInfo__totalItem-KhIYhz{
  color: #fff;
  cursor: default;
  font-size: 0.625rem;
  margin: 0 0.25rem;
  min-width: 1.875rem;
  display: flex;
  align-items: center;
  
}

.scoreBoardInfo__totalItemSvg-eW0Cnx {
  aspect-ratio: 1;
  display: block;
  margin-right: 0.125rem;
  width: 0.5625rem;
}

.scoreBoardInfo__buttons-nUvY7g {
  align-items: center;
  display: flex;
  gap: 0.25rem;
  justify-content: space-between;
}

.scoreBoardInfo__button_left-cIMRsf {
  border: 0.0625rem solid #4781f7;
  border-radius: 0.5rem 0.125rem 0.125rem 0.5rem;
}
.scoreBoardInfo__button-wmBupa {
  box-sizing: content-box;
  cursor: pointer;
  max-width: 3rem;
  padding: 0.1875rem 0.25rem 0.1875rem 0.4375rem;
  position: relative;
  transition: background-color 300ms ease;
}

.scoreBoardInfo__button-wmBupa>svg {
  height: 0.5rem;
  width: 2rem;
}

.scoreBoardInfo__button-wmBupa:before {
  background-color: transparent;
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0;
  opacity: .2;
  position: absolute;
  top: 0;
  transition: background-color 300ms ease;
  width: 100%;
  z-index: -1;
}

.scoreBoardInfo__button_right-ZSwl6f {
  border: 0.0625rem solid #e54c45;
  border-radius: 0.125rem 0.5rem 0.5rem 0.125rem;
}

.mobileSvg{
  visibility: visible !important;
  height: auto !important;
}

.desktopSvg{
  visibility: hidden !important;
  height: 0 !important;
}

@media screen and (min-width:1312px) {
  .mobileSvg{
    visibility: hidden !important;
    height: 0 !important;
  }
  
  .desktopSvg{
    visibility: visible !important;
    position: absolute;
    height: 100% !important;
    top: 0;
  }

  .baccaratHistoryPortrait__scoreInfo-hQjSei{
    left: -26.5rem !important;
    top: 0;
    position: absolute;
  }

  .scoreBoardInfo-USWOxa{
    width: 22.5rem;
  }

  .table__playerPairTitle-zjbgYU{
    left: 1.1rem !important;
  }

  .table__playerPairPayout-b4Lfsu,
  .table__bankerPairPayout-DTrMfa{
    top: 5.3rem !important;
  }

  .table__perfectPairPayout-jEF5WI,
  .table__perfectPairSecondPayout-OP50cA{
    top: 44.5% !important;
  }

  .table__eitherPairPayout-Mz8nuW{
    top: 44.5% !important;
  }

  .pPair{
    top: 5.7rem !important;
  }
  
  .bPair{
    top: 5.7rem !important;
  }
  
  .ePair{
    top: 3.2rem !important;
  }
  
  .sPair{
    top: 3.2rem !important;
  }
  
}

.card-animation {
  animation: card-animation 500ms forwards;
}

@keyframes card-animation {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


/* key frame ====================== */
@keyframes payoutToggleVisibilityAnimation-peh7oz {
  0%, 44% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

@keyframes highlightAnimationBackground-XRfTxu {
  100% {
    opacity: 1;
  }
}

@keyframes ctaAnimationHieroglyph-helyO_ {
  0% {
    fill: #000;
  }
  100% {
    fill: #fff;
  }
}


