<div [ngClass]="{' top-[1.1%] s375:top-[1.2%] s390:top-[0.9%] s540:top-[1.1%]  md:top-[2.8%]  m820:top-[2.4%] m910:top-[2.1%] lg:top-[2%] xl:top-[3.5%] fadeIn': freeBetModalState, '  pointer-events-none fadeOut': !freeBetModalState}"
    class="absolute  top-[0.5%] duration-300 left-2 right-2   md:max-w-[500px] md:min-w-[500px] !overflow-auto   md:left-[17.5%] m820:left-[18.6%] m910:left-[21.8%]  lg:left-[22%]  xl:left-[32.1%] z-[1500] bg-[#2c2d30]  h-fit border-transparent border-0 rounded-lg">
    <div class="flex h-[36px] items-center justify-between  ps-[15px] pe-[10px] w-full">
        <div class="">
            <h2 class="text-[16px] text-[#ffffff] font-light tracking-[0.03em]">FREE BETS MANAGEMENT</h2>
        </div>
        <div (click)="closeFreeBetModal()"
            class="overlay text-[#97A4AE] cursor-pointer opacity-50 text-[24px] font-[700] ">×
        </div>
    </div>
    <div class="py-[16px]  px-[10px] bg-[#1b1c1d]  w-full">
        <div class="flex w-full border border-[#229607] bg-[#151616] rounded-[8px] mt-[10px] h-[34px] items-center ">
            <div class="ps-[9px] flex items-center gap-[12px] ">
                <!-- <input type="radio" class="h-[16px] w-[16px]"> -->
                <input
                    class="relative h-[16px] w-[16px] appearance-none rounded-full border border-solid border-green-500 before:pointer-events-none before:absolute before:h-[8px] before:w-[8px] before:scale-0 before:rounded-full before:bg-transparent before:opacity-0 before:content-[''] after:absolute after:z-[1] after:block after:h-[8px] after:w-[8px] after:rounded-full after:content-[''] checked:border-green-500 checked:before:opacity-[0.16] checked:after:absolute checked:after:left-1/2 checked:after:top-1/2 checked:after:h-[8px] checked:after:w-[8px] checked:after:rounded-full checked:after:border-green-500 checked:after:bg-green-500 checked:after:content-[''] checked:after:[transform:translate(-50%,-50%)] hover:cursor-pointer hover:before:opacity-[0.04]"
                    type="radio" name="flexRadioDefault" id="radioDefault01" checked />
                <div>
                    <h2 class="text-[#D3D3D3]  font-light text-[14px] tracking-wide"> Play with cash </h2>
                </div>
            </div>
        </div>
        <div class="flex justify-between ps-[5px] mt-[12px]">
            <div>
                <h2 class="text-[14px] font-light tracking-wide text-[#ffffff]">ACTIVE FREE BETS</h2>
            </div>
            <div
                class="gap-[3px] cursor-pointer border [&_img]:hover:[filter:_brightness(0)_saturate(100%)_invert(15%)_sepia(84%)_saturate(6744%)_hue-rotate(341deg)_brightness(89%)_contrast(103%)]  border-[#414148] rounded-[17px] bg-[#252528] h-[20px] flex justify-center items-center  translate-y-[1px] lg:mb-0 mb-[1px] pl-[5px] pr-2.5">

                <img src="/assets/icons/history.a8377d083674a681.svg" alt="" class="w-[14px] h-[14px]">

                <div class="flex justify-center items-center -translate-y-[0.5px] ">
                    <span class="text-[12px] text-[#9ea0a3] ">Archive</span>
                </div>
            </div>
        </div>

        <div class="py-[30px] ">
            <div class="flex justify-center">
                <img src="/assets/ticket.adefaa8953b7a11e.svg" alt="">
            </div>
            <div class="mt-[14px] text-center">
                <h2 class="text-[14px] text-[#ffffff] tracking-[0.011em]"> No Active Free Bets. Yet! </h2>
            </div>
        </div>
    </div>
</div>