<header class="header_wrapper">
    <a routerLink="/home/lobby" (click)="navigateHome()"  (click)="addOverflow()">
        <img class="logo_img" src="/images/universeLogo.svg" alt="logo">
    </a>
    <button class="notificationBtn" (click)="removeOverflow();closemobSidebar()" routerLink="/notifications">
      <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon " > <title></title> <path d="M56 39.64V32c0-10.44-6.68-19.32-16-22.6V8c0-4.4-3.6-8-8-8s-8 3.6-8 8v1.4C14.68 12.68 8 21.56 8 32v7.56H0V48h64v-8.44l-8 .08Zm-40 19.6c0 2.64 2.12 4.76 4.76 4.76H43.2c2.64 0 4.76-2.12 4.76-4.76V54H16v5.24Z"></path></svg>
    </button>
    <div class="header-wallet">
        <div class="balance_section   text-white">
            <h4 class="">Balance &nbsp;:</h4>
            <h4 class="font-bold userTotalBalance">{{( userBalance?userBalance:'0.00' ) | number:'1.2-2'}}</h4>
        </div>
        <div class="balance_section   -translate-x-1 mt-[2px]">
            <h4 class=" text-white  ">Exposure &nbsp;:</h4>
            <h4 class="font-bold  text-[#ff1f22] userTotalExposure">{{( UserExposure?UserExposure:'0.00') | number:'1.2-2'}}</h4>
        </div>
    </div>
</header>
