<!-- Modal -->
<div class="modal fade" id="playerStatusModal" tabindex="-1" aria-labelledby="playerStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title" id="playerStatusModalLabel">Player Status</h5>
          <img src="./../../assets/close.svg" alt="close" data-bs-dismiss="modal" aria-label="Close">
        </div>
        <!-- Modal Body -->
        <div class="modal-body" style="background-color: #071E2A; color: #B1BAD3;">
          <!-- 1st Row -->
          <div class="row mb-3">
            <div class="col-6 fw-bold">
              <span>ajbhsvdkg</span>
            </div>
            <div class="col-6 text-end">
              <span class="active-btn">Active</span>
            </div>
          </div>
          <!-- 2nd Row -->
          <div class="row mb-3 mt-4">
            <div class="col-3 text-center">
              <div class="status-box" style="border:2px solid #008728;"> 
                <span class="text-active">Active</span>
              </div>
            </div>
            <div class="col-3 text-center">
              <div class="status-box" style="border:2px solid #C90003;">
                <span class="text-suspend">Suspend</span>
              </div>
            </div>
            <div class="col-3 text-center">
              <div class="status-box" style="border:2px solid #B1BAD3;">
                <span class="text-lock">Lock</span>
              </div>
            </div>
          </div>
          <!-- 3rd Row -->
          <div class="row mb-3 mt-4">
            <div class="col-6">
              <input type="password" name="password" class="form-control" style="width: 263px; height: 45px;" placeholder="Password...">
            </div>
            <div class="col-6 text-end">
              <button class="btn btn-change" style="width: 180px; height: 45px;">Change</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  