.main__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  transition: height .15s ease,margin-top .15s ease;
  width: 100%;
}
.game__drawerLayer, .game__substrateLayer {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.game__substrateLayer, .game__video {
  overflow: hidden;
  z-index: 0;
}
.game__video {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
@media (orientation: landscape) {
  .game__video {
    height: 100%;
  }
}
@media (orientation: portrait) {
  .dragonTiger__staticVideoWrap {
    height: 30.5%;
  }
}
@media (orientation: portrait) {
  .game__video {
    height: 48.2%;
  }
}
.game__staticVideo {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}
.staticVideo__loader, .staticVideo__player_withPoster {
  inset: 0;
  position: absolute;
}
.staticVideo__poster_hidden {
  transition-delay: 300ms;
  visibility: hidden;
  opacity: 0;
}
.staticVideo__player, .staticVideo__poster {
  height: 100%;
  object-fit: cover;
  transition: opacity 300ms ease,visibility 300ms ease;
  width: 100%;
}
