.newGameWrapper {
  background-color: #0a0a1a;
  height: calc(100dvh - 114px);
  position: relative;
  width: 100%;
  overflow-y: scroll;
  @apply [@media(min-width:768px)]:!h-full [@media(min-width:768px)]:overflow-y-hidden;
}
.game__drawerLayer, .game__substrateLayer {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.game__substrateLayer, .game__video {
  overflow: hidden;
  z-index: 0;
}
.game__video {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
@media (orientation: landscape) {
  .game__video {
    height: 100%;
  }
}
@media (orientation: portrait) {
  .game__video {
    height: 48.2%;
  }
}
@media (orientation: portrait) {
  .dragonTiger__staticVideoWrap {
    height: 45.5%;
  }
}

.game__staticVideo {
  align-items: center;
  display: flex;
  height: calc(100% - 56px);
  justify-content: center;
  position: relative;
  width: 100%;
}
.staticVideo__loader, .staticVideo__player_withPoster {
  inset: 0;
  position: absolute;
}
.staticVideo__poster_hidden {
  transition-delay: 300ms;
  visibility: hidden;
  opacity: 0;
}
.staticVideo__player, .staticVideo__poster {
  height: 100%;
  object-fit: cover;
  transition: opacity 300ms ease,visibility 300ms ease;
  width: 100%;
}
.gradient-_9dd5n {
  pointer-events: none;
  position: absolute;
}
.gradient_desktop-UoLq1h {
  background: linear-gradient(
    180deg,
    transparent 0%,
    rgb(10, 10, 26) 75%,
    rgb(10, 10, 26) 100%
  );
  bottom: -0.0625rem;
  height: 13rem;
  left: 0;
  width: 100%;
}


.chatPreview_mobile {
  left: 0;
  max-width: 8.375rem;
  top: 0;
  width: 100%;
}
/*show chat preview*/
.chatPreview {
  opacity: 1;
  pointer-events: auto;
  position: absolute;
  visibility: visible;
}
/*to hide chat preview*/
.chatPreview_hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
@media (orientation: landscape) {
  .chatPreview_mobile {
    max-width: 11rem;
  }
}
.messagePreview {
  background: linear-gradient(90deg,rgba(0,0,0,.8),rgba(0,0,0,.6) 60.13%,transparent);
  color: rgb(255, 255, 255);
  font-size: 0.625rem;
  line-height: 1.2;
  min-height: 2.75rem;
  opacity: 0;
  padding: 0.625rem 0.75rem 0.625rem 0.5rem;
  transform: translateX(-0.75rem);
  transition: opacity 300ms ease,visibility 300ms ease,transform 300ms ease;
  visibility: hidden;
}
.promoWidget {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: absolute;
  right: 0;
  top: 0.25rem;
  transition: all .1s ease;
  z-index: 7;
}
.dragonTiger-RufiAg {
  height: 100%;
  position: relative;
}
.dragonTiger-RufiAg, .dragonTiger__mainArea-NsCADi {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dragonTiger__winningPlayers {
  left: 0;
  position: absolute;
  top: 0;
  width: 8.375rem;
  z-index: 5;
}
.dragonTiger__winningPlayers {
  width: 10.875rem;
}
.winningPlayersMessage {
  background-image: linear-gradient(90deg,rgba(0,0,0,.8),rgba(0,0,0,.6) 60.13%,transparent);
  color: rgb(255,255,255);
  font-size: 0.625rem;
  line-height: 1.2;
  padding: 0.5rem;
}
.winningPlayersMessage__message, .winningPlayersMessage__totalWin {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.winningPlayersMessage__message strong {
  font-weight: 500;
}
.winningPlayersMessage__totalWin {
  color: rgb(255, 170, 0);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.33;
}
.dragonTiger__rngTable {
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
  z-index: -1;
}
@media (orientation: portrait) {
  .dragonTiger__rngTable {
    top: 20%;
    width: 130%;
  }
}
@media (orientation: landscape) {
  .dragonTiger__rngTable {
    top: 8.20rem;
    width: 100%;
  }
}
.rngTable {
  opacity: 0;
  position: relative;
  transition: opacity .3s ease;
}
.rngTable_ready {
  opacity: 1;
}
.rngTableImage {
  display: block;
  height: auto;
  width: 100%;
}
.rngTable__cards {
  height: 43%;
  position: absolute;
  top: -6%;
  width: 100%;
}
.canvasBase {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.gradientDiv {
  height: 55%;
  /*background: linear-gradient(315deg, #819bca47 0%, #331c3e14 100%);*/
}

.table__html-CXMssa {
  display: grid;
  gap: 0.125rem;
  grid-template-rows: 6.7rem 2.5rem;
  pointer-events: none;
  @apply xl:[grid-template-rows:9.7rem_2.5rem];
}

.tableMainCards-LsS1Pt,
.tableMainChips-LUyExt,
.tableMainStatic-R4ES6P,
.tableSideChips-BtyLLs,
.tableSideStatic-Hgozqb,
.table__html-CXMssa,
.table__mainBetStat-tA7Phx {
  inset: 0;
  position: absolute;
}

.table_sizeSmall-dINQDu .table__html-CXMssa {
  grid-template-rows: 7rem 2.25rem;
}

.table__tieProgress-fNrEZ3 {
  left: 50%;
  margin-left: -0.75rem;
  margin-top: -0.7rem;
  position: absolute;
  top: 50%;
  @apply xl:-ml-4 xl:-mt-4;
}

.tieProgress-_85S40 {
  border-radius: 50%;
  display: grid;
  height: 1.5rem;
  overflow: hidden;
  place-items: center;
  position: relative;
  width: 1.5rem;

  @apply xl:w-[2rem] xl:h-[2rem];
}

.tieProgress__progress-wVn5_x {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(118, 118, 118);
  border: none;
  height: inherit;
  inset: 0;
  position: absolute;
  transform: rotate(-90deg);
  width: inherit;
}

.tieProgress__value-Gwj631 {
  color: rgb(255, 255, 255);
  font-size: 0.5rem;
  font-weight: 500;
  position: relative;
  z-index: 1;
  font-family: Rubik, sans-serif;
}

.table__mainBetStat-tA7Phx {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  padding: 0.5rem;
  transition: opacity 300ms ease, visibility 300ms ease;
  visibility: hidden;
}

.table_roundStatus_betting-_gqonf .table__mainBetStat-tA7Phx {
  opacity: 1;
  visibility: visible;
}
.betStat-ms3aoF {
  align-items: center;
  color: hsla(0, 0%, 100%, 0.6);
  display: flex;
  font-weight: 500;
  gap: 0.25rem;
  font-family: Rubik, sans-serif;
}
.betStat_align_left-oq1Q2K {
  justify-content: flex-end;
}
.betStat_align_left-oq1Q2K,
.betStat_align_left-oq1Q2K .betStat__info-iGat4V {
  flex-direction: row-reverse;
}
.betStat_size_small-kxmCJ5 {
  font-size: 0.5rem;
  line-height: 0.75rem;
}

.betStat__percentage-BBxzKO {
  flex-shrink: 0;
}

.percentageBetStat-cKHkzI {
  align-items: center;
  background-size: 200% 200%;
  border-radius: 0.25rem;
  color: #fff;
  display: flex;
  font-size: 0.5rem;
  height: 1.5rem;
  justify-content: center;
  overflow: hidden;
  transition: background-position-y 0.35s ease;
  width: 1.5rem;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 100%
  );
}

.svgIcon-JpUo7O {
  fill: currentColor;
  aspect-ratio: 1;
  overflow: visible;
}

.svgIcon_small-WRm0qc {
  width: 0.75rem;
}
.betStat__info-iGat4V {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

.tableMainStatic-R4ES6P {
  display: grid;
  grid-template-areas: "tie tie" "suitedTie suitedTie" "dragon tiger";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3rem 2rem 1rem;
  padding: 0.5rem;
  transition: opacity 300ms ease;
  @apply xl:[grid-template-rows:5rem_2rem_1rem];
}

.table_lose_dragon-bEbsRm .tableMainStatic__dragon-AzpGwn,
.table_lose_dragonBig-SpZg7d .tableSideStatic__dragonBig-TlYCrs,
.table_lose_dragonEven-XlwlbB .tableSideStatic__dragonEven-QFtUYx,
.table_lose_dragonOdd-pMg0DM .tableSideStatic__dragonOdd-N1tw0w,
.table_lose_dragonSmall-cUcc7_ .tableSideStatic__dragonSmall-g5iN2q,
.table_lose_suitedTie-Evy6Sg .tableMainStatic__suitedTie-M9pbef,
.table_lose_tie-CYfH2Y .tableMainStatic__tie-fDeGvN,
.table_lose_tiger-KvTRje .tableMainStatic__tiger-Y7P6nk,
.table_lose_tigerBig-SuYONK .tableSideStatic__tigerBig-dpKtTP,
.table_lose_tigerEven-fjVGth .tableSideStatic__tigerEven-dzn5KK,
.table_lose_tigerOdd-QAMFed .tableSideStatic__tigerOdd-Z4H_SB,
.table_lose_tigerSmall-loWWQd .tableSideStatic__tigerSmall-rf_rnt {
  opacity: 0.3;
}
.tableMainStatic__tie-fDeGvN {
  grid-area: tie;
  padding-top: 0.375rem;
}

.tableMainStatic__suitedTie-M9pbef,
.tableMainStatic__tie-fDeGvN {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.tableMainStatic__payout-cdrdZV {
  color: rgba(255, 255, 255, 0.6);
  font-family: Baloo, sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
}

.tableMainStatic__suitedTie-M9pbef .tableMainStatic__payout-cdrdZV,
.tableMainStatic__tie-fDeGvN .tableMainStatic__payout-cdrdZV {
  font-size: 0.625rem;
}

.tableMainStatic__title-VDxh9o {
  color: rgb(255, 255, 255);
  font-family: Baloo, sans-serif;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
}

.tableMainStatic__suitedTie-M9pbef .tableMainStatic__title-VDxh9o,
.tableMainStatic__tie-fDeGvN .tableMainStatic__title-VDxh9o {
  font-size: 0.75rem;
  font-size-adjust: none;
}


.tableMainStatic__dragon-AzpGwn {
  grid-area: dragon;
}

.tableMainStatic__dragon-AzpGwn,
.tableMainStatic__tiger-Y7P6nk {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  margin-bottom: -0.25rem;
}

.tableMainStatic__suitedTie-M9pbef {
  grid-area: suitedTie;
  margin-bottom: -0.625rem;
}

.tableMainStatic__suitedTie-M9pbef,
.tableMainStatic__tiger-Y7P6nk {
  justify-content: flex-end;
}

.tableMainStatic__tiger-Y7P6nk {
  grid-area: tiger;
}

.tableMainStatic__dragon-AzpGwn,
.tableMainStatic__tiger-Y7P6nk {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  margin-bottom: -0.25rem;
}

.tableMainCards-LsS1Pt {
  align-items: center;
  display: grid;
  gap: 7.5rem;
  grid-template-areas: "dragon tiger";
  grid-template-columns: repeat(2, 1fr);
  @apply xl:gap-[10.5rem];
}

.tableMainChips-LUyExt {
  display: grid;
  grid-template-areas: "tie tie" "dragon tiger" "suitedTie suitedTie";
  grid-template-rows: repeat(3, 1.5rem);
  padding: 0.75rem 0;
  row-gap: 0.5rem;
}

.table_sizeSmall-dINQDu .tableMainChips-LUyExt {
  padding-inline: 2.75rem;
}

.table_lose_dragon-bEbsRm .tableMainCards__dragon-qAO3wf,
.table_lose_tiger-KvTRje .tableMainCards__tiger-FJdFda {
  opacity: 0.75;
}

.tableMainCards__dragon-qAO3wf {
  grid-area: dragon;
  justify-self: flex-end;
}

.tableMainCards__dragon-qAO3wf,
.tableMainCards__tiger-FJdFda {
  transition: opacity 300ms ease;
}

.tableMainCards__tiger-FJdFda {
  grid-area: tiger;
}

.tableMainCards__card__animation {
  animation: cardAnimationAppearing 300ms ease forwards;
}

@keyframes cardAnimationAppearing {
  0% {
    opacity: 0;
    transform: translateY(-0.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card_size_large-HaRpNj {
  height: 3rem;
  width: 2.125rem;
}

.card_color_black-iDcRjL {
  color: #000;
}

.card-wi2ADp {
  --box-shadow-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.125rem;
  position: relative;
}

.card-wi2ADp:not(.card_hasBackSide-tUG5vz):before {
  border-radius: inherit;
  content: "";
  inset: 0;
  position: absolute;
}

.card__inner-CIH8Z7 {
  border-radius: inherit;
  height: inherit;
  position: relative;
  transition: opacity 300ms ease;
}

.card__frontSide-tJBKcu {
  height: 100%;
  width: 100%;
}

.card__backSide-eZ4pXs,
.card__frontSide-tJBKcu {
  backface-visibility: hidden;
  background-color: #fff;
  border-radius: inherit;
  inset: 0;
  position: absolute;
}

.card_color_red-oOULpU {
  color: #e13639;
}

.table__mainHtml-Zijkou,
.table__sideHtml-zfGh6c {
  position: relative;
}

.tableSideStatic-Hgozqb {
  display: grid;
  gap: 0.125rem;
  grid-template-columns: repeat(8, 1fr);
  height: 100%;
}

.tableSideStatic-Hgozqb > * {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
}

.tableSideStatic__title-gncnfi {
  color: rgb(255, 255, 255);
  font-family: Baloo, sans-serif;
  font-size: 0.75rem;
  font-size-adjust: none;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}


.tableSideStatic__payout-fnrtY7 {
  color: rgba(255, 255, 255, 0.5);
  font-family: Baloo, sans-serif;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1;
}

.tableSideChips-BtyLLs {
  -moz-column-gap: 0.125rem;
  column-gap: 0.125rem;
  display: grid;
  grid-template-areas: "dragonEven dragonOdd dragonSmall dragonBig tigerBig tigerSmall tigerOdd tigerEven";
  grid-template-columns: repeat(8, 1fr);
}

.table_lose_dragon-bEbsRm .tableMainStatic__dragon-AzpGwn,
.table_lose_dragonBig-SpZg7d .tableSideStatic__dragonBig-TlYCrs,
.table_lose_dragonEven-XlwlbB .tableSideStatic__dragonEven-QFtUYx,
.table_lose_dragonOdd-pMg0DM .tableSideStatic__dragonOdd-N1tw0w,
.table_lose_dragonSmall-cUcc7_ .tableSideStatic__dragonSmall-g5iN2q,
.table_lose_suitedTie-Evy6Sg .tableMainStatic__suitedTie-M9pbef,
.table_lose_tie-CYfH2Y .tableMainStatic__tie-fDeGvN,
.table_lose_tiger-KvTRje .tableMainStatic__tiger-Y7P6nk,
.table_lose_tigerBig-SuYONK .tableSideStatic__tigerBig-dpKtTP,
.table_lose_tigerEven-fjVGth .tableSideStatic__tigerEven-dzn5KK,
.table_lose_tigerOdd-QAMFed .tableSideStatic__tigerOdd-Z4H_SB,
.table_lose_tigerSmall-loWWQd .tableSideStatic__tigerSmall-rf_rnt {
  opacity: 0.3;
}

.dragonTigerHistoryPortrait__scoreInfo-jDmarn {
  padding: 0 0.5rem 0.25rem;
  margin-top: 5px;
}

.scoreBoardInfo-USWOxa,
.scoreBoardInfo__total-b3bUj3,
.scoreBoardInfo__totalItem-KhIYhz {
  align-items: center;
  display: flex;
  font-family: Rubik, sans-serif;
}

.scoreBoardInfo-USWOxa {
  --leftColor: #0000e5;
  --rightColor: #c00;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  justify-content: space-between;
}

.scoreBoardInfo-USWOxa,
.scoreBoardInfo__total-b3bUj3,
.scoreBoardInfo__totalItem-KhIYhz {
  align-items: center;
  display: flex;
}

.scoreBoardInfo__buttons-nUvY7g {
  align-items: center;
  display: flex;
  gap: 0.25rem;
  justify-content: space-between;
}

.scoreBoardInfo__totalItem-KhIYhz {
  color: #fff;
  cursor: default;
  font-size: 0.625rem;
  margin: 0 0.25rem;
  min-width: 1.875rem;
  @apply [@media(min-width:1512px)]:text-[12.79px]
}

.scoreBoardInfo-USWOxa,
.scoreBoardInfo__total-b3bUj3,
.scoreBoardInfo__totalItem-KhIYhz {
  align-items: center;
  display: flex;
}

.scoreBoardInfo__totalItemSvg-eW0Cnx {
  aspect-ratio: 1;
  display: block;
  margin-right: 0.125rem;
  width: 0.5625rem;
  @apply [@media(min-width:512px)]:!w-[11.59px]
}

.scoreBoardInfo__button_left-cIMRsf {
  border: 0.0625rem solid #c62808;
  border-radius: 0.5rem 0.125rem 0.125rem 0.5rem;
}

.scoreBoardInfo__button-wmBupa {
  box-sizing: content-box;
  cursor: pointer;
  max-width: 3rem;
  padding: 0.1875rem 0.25rem 0.1875rem 0.4375rem;
  position: relative;
  transition: background-color 300ms ease;
}

.scoreBoardInfo__button-wmBupa:before {
  background-color: transparent;
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  transition: background-color 300ms ease;
  width: 100%;
  z-index: -1;
}

.scoreBoardInfo__button-wmBupa > svg {
  height: 0.5rem;
  width: 2rem;
}

.scoreBoardInfo__button_right-ZSwl6f {
  border: 0.0625rem solid #e19d19;
  border-radius: 0.125rem 0.5rem 0.5rem 0.125rem;
}

.table__mainBetStat-tA7Phx {
  opacity: 1;
  visibility: visible;
}

.svg__ctaBackground-pE1PGC,
.svg__ctaHieroglyph-fFGmMQ,
.svg__winBackground-AgT0Cm,
.svg__winHieroglyph-M8Cx0K,
.svg__winTopBackground-bNOeP6 {
  opacity: 0;
  visibility: hidden;
}

.svg_cta-fTTgEw .svg__ctaBackground-pE1PGC,
.svg_cta-fTTgEw .svg__ctaHieroglyph-fFGmMQ,
.svg_win-qJa6ey .svg__winBackground-AgT0Cm,
.svg_win-qJa6ey .svg__winHieroglyph-M8Cx0K,
.svg_win-qJa6ey .svg__winTopBackground-bNOeP6 {
  animation: blinkingAnimation-BVoTic 2s ease 2s infinite;
  visibility: visible;
}

.blinking_animation {
  animation: blinkingAnimation-BVoTic 2s ease 2s infinite;
  visibility: visible;
}

.time-container {
  @apply flex justify-between w-full items-center px-[4%] mt-1 lg:flex-col lg:items-end;
  position: absolute;
  bottom: 2px;
}
.last-win {
  @apply text-[0.625rem] text-white;
}
.roundInfo-date {
  color: #8a8a99;
  display: flex;
  font-weight: 300;
  line-height: 1.5;
  font-size: 10px;
}

@keyframes blinkingAnimation-BVoTic {
  50% {
    opacity: 1;
  }
}
.tableSideStatic__dragonEven-QFtUYx {
  /* opacity: 0.4 !important; */
}
.player-text {
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgb(225, 157, 25) 50%,
    transparent 100%
  );
}
.playerA-winnerText {
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgb(198, 40, 8) 50%,
    transparent 100%
  ) !important;
}
.no-more-bets {
  @apply absolute left-[50%] translate-x-[-50%] text-nowrap top-[35%] md:top-[35%] text-[#fff] text-[0.875rem] md:text-[1.5rem] !bg-none px-3 py-1  max-w-fit font-[550] font-[Rubik,_sans-serif] leading-[1.14] tracking-[-0.2px];
}

.roundStatus__decor-DDvAQJ {
  @apply absolute bg-[rgba(0,0,0,.6)] [filter:blur(0.375rem)] inset-0 rounded-[0.75rem];
}
.playerA-win-point-virtual {
  @apply left-[50%] cursor-none absolute translate-x-[-50%] z-[4] top-[7rem];
}

::ng-deep app-video-player .timer-overlay app-timer .timerPortrait {
  @apply [@media(min-width:1200px)]:top-[50dvh] !important;
}
.wait-next-round {
  @apply bg-black text-white text-[12px] px-3 py-0.5 font-medium max-w-fit absolute translate-x-[-50%] font-[Rubik] text-nowrap translate-y-[-50%] rounded-[12px] left-[50%] top-[35%] z-20;
}
