.main__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  transition: height .15s ease,margin-top .15s ease;
  width: 100%;
}
.game__drawerLayer, .game__substrateLayer {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.game__substrateLayer, .game__video {
  overflow: hidden;
  z-index: 0;
}
.game__video {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
@media (orientation: landscape) {
  .game__video {
    height: 100%;
  }
}
@media (orientation: portrait) {
  .dragonTiger__staticVideoWrap {
    height: 30.5%;
  }
}
@media (orientation: portrait) {
  .game__video {
    height: 48.2%;
  }
}
.game__staticVideo {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}
.staticVideo__loader, .staticVideo__player_withPoster {
  inset: 0;
  position: absolute;
}
.staticVideo__poster_hidden {
  transition-delay: 300ms;
  visibility: hidden;
  opacity: 0;
}
.staticVideo__player, .staticVideo__poster {
  height: 100%;
  object-fit: cover;
  transition: opacity 300ms ease,visibility 300ms ease;
  width: 100%;
}

.gradient_mobile-cBpe4n {
  --video-height: var(--video-size,48.2%);
  background-image: var(--color-videobg-0),var(--color-videobg-1);
  --color-videobg-0: linear-gradient(180deg, rgba(10, 10, 26, 0) 84.62285995483398%, #0a0a1a 100%);
  --color-videobg-1: linear-gradient(180deg, #0a0a1a 0%, #0a0a1a 100%);
  background-position: top,bottom;
  background-repeat: no-repeat;
  background-size: 100% calc(var(--video-height) + 0.0625rem),100% calc(100% - var(--video-height));
}
@media (orientation: landscape) {
  .gradient_mobile-cBpe4n {
    background-image: linear-gradient(to top, rgb(10,10,26, 0%), transparent 100%);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 6rem;
  }
}
.gradient_mobile-cBpe4n {
  inset: 0;
}
.gradient-_9dd5n {
  pointer-events: none;
  position: absolute;
  z-index: 5;
}
.chatPreview_mobile {
  left: 0;
  max-width: 8.375rem;
  top: 0;
  width: 100%;
}
/*show chat preview*/
.chatPreview {
  opacity: 1;
  pointer-events: auto;
  position: absolute;
  visibility: visible;
}
/*to hide chat preview*/
.chatPreview_hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
@media (orientation: landscape) {
  .chatPreview_mobile {
    max-width: 11rem;
  }
}
.messagePreview {
  background: linear-gradient(90deg,rgba(0,0,0,.8),rgba(0,0,0,.6) 60.13%,transparent);
  color: rgb(255, 255, 255);
  font-size: 0.625rem;
  line-height: 1.2;
  min-height: 2.75rem;
  opacity: 0;
  padding: 0.625rem 0.75rem 0.625rem 0.5rem;
  transform: translateX(-0.75rem);
  transition: opacity 300ms ease,visibility 300ms ease,transform 300ms ease;
  visibility: hidden;
}
.promoWidget {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: absolute;
  right: 0;
  top: 0.25rem;
  transition: all .1s ease;
  z-index: 7;
}
.dragonTiger-RufiAg, .dragonTiger__mainArea-NsCADi {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dragonTiger-RufiAg {
  height: 100%;
  position: relative;
}
.dragonTiger__winningPlayers {
  left: 0;
  position: absolute;
  top: 0;
  width: 8.375rem;
  z-index: 5;
}
.dragonTiger__winningPlayers {
  width: 10.875rem;
}
.winningPlayersMessage {
  background-image: linear-gradient(90deg,rgba(0,0,0,.8),rgba(0,0,0,.6) 60.13%,transparent);
  color: rgb(255,255,255);
  font-size: 0.625rem;
  line-height: 1.2;
  padding: 0.5rem;
}
.winningPlayersMessage__message, .winningPlayersMessage__totalWin {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.winningPlayersMessage__message strong {
  font-weight: 500;
}
.winningPlayersMessage__totalWin {
  color: rgb(255, 170, 0);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.33;
}
.dragonTiger__rngTable {
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
  z-index: -1;
}
@media (orientation: portrait) {
  .dragonTiger__rngTable {
    top: 25%;
    width: 130%;
  }
}
@media (orientation: landscape) {
  .dragonTiger__rngTable {
    top: 3.75rem;
    width: 100%;
  }
}
.rngTable {
  opacity: 0;
  position: relative;
  transition: opacity .3s ease;
}
.rngTable_ready {
  opacity: 1;
}
.rngTableImage {
  display: block;
  height: auto;
  width: 100%;
}
.rngTable__cards {
  height: 43%;
  position: absolute;
  top: -6%;
  width: 100%;
}
.canvasBase {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
