
.top_bar_wrapper {
  /* padding: 6px 8px;
  padding-top: 10.91px; */
  background-color: #0a0a1a;
  /* gap: 8.71px; */
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  padding: 5px 0px;
}
/* .top_bar button {
  border: 0px solid transparent;
  color: white;
  border-radius: 2px;
  height: 13px;
  width: 13px;
  font-size: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 10.5px;
  font-family: "Poppins", sans-serif;
} */


@media(min-width:1512px){
 
 .top_bar_wrapper {
      background: linear-gradient(
      135deg,
      rgba(31, 31, 51, .9),
      rgba(31, 37, 51, .9)) !important;
       background-color: none !important;
       padding: 13.068px;
 }
}

.red_bg {
  background-color: #ab1d37;
}
.yellow_bg {
  background-color: #ed8840;
}
.tile_theme_playerTie{
  background-color: #18862e;

}
.result{
  width: 100%;
}

.secbo-result{
@apply flex-auto text-[12px] [@media(min-width:430px)]:text-[14.25px] font-[500]  text-center md:!text-[18.75px] [@media(min-width:820px)_and_(max-width:1023px)]:!text-[21.75px] lg:!text-[24.75px] xl:!text-[14px]
}

.resultItem {
  position: relative;
}
.resultItem_size_small-Feox9S .resultItem__list-J7YJ2v {
  height: 1rem;
}
.resultItem_size_small-dt .resultItem__list-J7YJ2v {
  height: 2rem;
}

.resultItem__list-J7YJ2v {
  overflow: hidden;
}
.abResultLine-eMgxz_, .abResultLine__inner-fF8OCI {
  height: 100%;
  position: relative;
}
.abResultLine__inner-fF8OCI.animated2-gtLnvD {
  animation-name: newNumber2;
}
@keyframes newNumber2 {
  0% {
    transform: translateX(var(--shift-horizontally, -1.5rem));
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes firstItem1-hJyVZr {
  0% {
    opacity: 0;
}

100% {
    opacity: 1;
}
}
.abResultLine__inner-fF8OCI.animated1-u3PTqR, .abResultLine__inner-fF8OCI.animated2-gtLnvD {
  animation-delay: var(--animation-delay,0s);
  animation-duration: var(--animation-duration,300ms);
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  transform: translateX(var(--shift-horizontally,-1.5rem));
}
.abResultLine__inner_multipleLines-pKLIP8 {
  flex-wrap: wrap;
}
.abResultLine-eMgxz_, .abResultLine__inner-fF8OCI {
  height: 100%;
  position: relative;
}
.abResultLine__inner-fF8OCI {
  align-items: center;
  -moz-column-gap: var(--history-line-column-gap,0);
  column-gap: var(--history-line-column-gap,0);
  display: flex;
  row-gap: var(--history-line-row-gap,0);
  will-change: transform;
}
.abResultLine__inner_stretch-Z3RTMl {
  justify-content: space-between;
  overflow: hidden;
}
.tile-lWsz_U {
  border-radius: 0.25rem;
  color: #fff;
  display: inline-flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
}
.tile-lWsz_U_dt{
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
}
.tile_size_small-ATZ3H_ {
  font-size: 0.625rem;
  line-height: 1.5rem;
  /* width: 1rem; */
}
.tile_size_small_dt{
  @apply md:text-[1rem] text-[0.625rem] md:leading-[2rem] leading-[1.5rem];
}
.tile_indentSize_medium-U9Lwul {
  margin: 0 0.25rem;
}
.abResultLine__inner_animateFirstItem-Nbi5o9.animated1-u3PTqR>div:first-of-type {
  animation: firstItem1-hJyVZr .7s ease;
}
.tile_theme_playerB .tile__label {
  background-color: #ed8840
}
.tile_theme_Dragon{
  background-color: rgb(198, 40, 8);
}
.tile_theme_Tiger{
  background-color: rgb(225, 157, 25);
}
.tile_theme_Tie{
  background-color: rgb(41, 204, 204);
}
.tile_theme_Baccarat{
  background-color: rgb(229, 76, 69) !important;
}
.tile_theme_Player{
  background-color: rgb(71, 129, 247) !important;
}
.tile_theme_baccarat_Tie{
  background-color: rgb(83, 178, 83) !important;
}
.tile_theme_playerA .tile__label {
  background-color: #cc493e;
}
.tile_size_small-ATZ3H_ .tile__label {
  height: 1rem;
  width: 1.5rem;
}
.tile__label_dt{
  @apply md:h-[2rem] h-[1.5rem] md:w-[2rem] w-[1.5rem];

}
.tile__label_dt{
  align-items: center;
  border-radius: 50%;
  display: flex;
  font-weight: 500;
  justify-content: center;
}
.tile__label {
  align-items: center;
  border-radius: 0.25rem;
  display: flex;
  font-weight: 500;
  justify-content: center;
}
.carousel__slide-KasfxJ:last-child {
  margin-right: 0.5rem;
}
.carousel__slide-KasfxJ {
  align-self: flex-end;
  flex-shrink: 0;
  margin-right: 0.3125rem;
  scroll-snap-align: start;
  transition: opacity 300ms ease;
  width: 100%;
}
.scoreBoardPanel-AVowPF {
  background: rgba(0,0,0,0.4);
  border: 0.0625rem solid transparent;
  border-radius: 0.25rem;
  padding: 0.1875rem;
}
.svgMatrix-m_PnD5 {
  display: block;
  height: auto;
  width: 100%;
}

/*top-card-results*/
.topCard__historyLine {
  position: absolute;
  left: 0;
  padding: 0 0.25rem;
  top: -0.5rem;
  width: 100%;
}

.topCardHistoryLineScrollable {
  height: 1.5rem;
  position: relative;
}
.topCardHistoryLineScrollable_withBackground:before {
  background: linear-gradient(90deg,rgba(10,10,26,0),rgba(10,10,26,.6) 2.44%,rgba(10,10,26,.6) 97.55%,rgba(10,10,26,0));
  content: "";
  inset: 0;
  position: absolute;
}
.topCardHistoryLineScrollable__list {
  overflow: hidden;
}
.topCardHistoryLineScrollable_withBackground .topCardHistoryLineScrollable__list {
  height: 100%;
  position: absolute;
  width: 100%;
}
.abstractHistoryLine, .abstractHistoryLine__inner {
  height: 100%;
  position: relative;
}
.abstractHistoryLine__inner {
  align-items: center;
  column-gap: var(--history-line-column-gap,0);
  display: flex;
  row-gap: var(--history-line-row-gap,0);
  will-change: transform;
}
.abstractHistoryLine__inner_stretch {
  justify-content: space-between;
  overflow: hidden;
}
.abstractHistoryLine__inner.animated1, .abstractHistoryLine__inner.animated2 {
  animation-delay: var(--animation-delay,0s);
  animation-duration: var(--animation-duration,300ms);
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  transform: translateX(var(--shift-horizontally,-1.5rem));
}
.abstractHistoryLine__inner.animated1{
  animation-name: newNumber1;
}
.abstractHistoryLine__inner.animated2 {
  animation-name: newNumber2;
}
@keyframes newNumber1 {
  0% {
    transform: translateX(var(--shift-horizontally, -1.5rem));
  }
  100% {
    transform: translateX(0);
  }

}
@keyframes newNumber2 {
  0% {
    transform: translateX(var(--shift-horizontally, -1.5rem));
  }
  100% {
    transform: translateX(0);
  }
}
.topCardHistoryItem {
  color: rgb(0,0,0);
  display: grid;
  flex-shrink: 0;
  place-items: center;
}
.topCardHistoryItem_size_medium {
  height: 1.125rem;
  margin: 0 0.375rem;
  width: 2rem;
}
.topCardHistoryItem_withoutIndents {
  margin: 0;
}
.topCardHistoryItem_theme_contender {
  --history-item-accent-color: rgb(235,0,56);
}
.topCardHistoryItem_theme_draw {
  --history-item-accent-color: rgb(248,255,19);
}
.topCardHistoryItem_theme_champion {
  --history-item-accent-color: rgb(1,202,190);
}
.topCardHistoryItem:after, .topCardHistoryItem:before, .topCardHistoryItem>* {
  grid-area: 1/1;
}
.topCardHistoryItem:before {
  background-color: var(--history-item-accent-color,transparent);
  content: "";
  height: 100%;
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27none%27 viewBox=%270 0 32 18%27%3E%3Cpath d=%27M0 8.107C0 4.509 0 2.71 1.12 1.549S4.016.32 7.57.19C10.368.087 13.47 0 16 0c2.53 0 5.632.087 8.43.19 3.554.131 5.33.197 6.45 1.359S32 4.509 32 8.107v1.786c0 3.598 0 5.396-1.12 6.558s-2.896 1.228-6.45 1.36c-2.797.102-5.9.189-8.43.189-2.53 0-5.633-.087-8.43-.19-3.554-.131-5.33-.197-6.45-1.359S0 13.491 0 9.893V8.107Z%27 fill=%27%23000%27/%3E%3C/svg%3E");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  width: 100%;
  z-index: -1;
}
.topCardHistoryItem__label {
  font-weight: 500;
  line-height: 0;
  text-transform: uppercase;
  z-index: 0;
  font-family: 'Rubik', sans-serif;
}
.topCardHistoryItem_size_medium .topCardHistoryItem__label {
  font-size: 0.875rem;
}
.topCardHistoryItem_shadow:after {
  border-radius: 50% / 30%;
  content: "";
  height: 100%;
  width: 100%;
  z-index: -1;
}
.abstractHistoryLine__inner_animateFirstItem>div:first-of-type:after {
  opacity: 0;
}
.abstractHistoryLine__inner_animateFirstItem.animated1>div:first-of-type:after {
  animation: firstItemShadowShow1 .4s ease .44s 1,firstItemShadowPulse1 1.54s ease .84s 3 forwards,firstItemShadowHide1 .7s ease 5.46s reverse forwards;
}
@keyframes firstItemShadowShow1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes firstItemShadowPulse1 {
  0%, 100% {
    opacity: 1;
  }

  45%, 73% {
    opacity: .75;
  }
}
@keyframes firstItemShadowHide1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
