
.top_bar_wrapper {
  /* padding: 6px 8px;
  padding-top: 10.91px; */
  background-color: #0a0a1a;
  /* gap: 8.71px; */
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  padding: 5px 0px;
}
/* .top_bar button {
  border: 0px solid transparent;
  color: white;
  border-radius: 2px;
  height: 13px;
  width: 13px;
  font-size: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 10.5px;
  font-family: "Poppins", sans-serif;
} */

.red_bg {
  background-color: #ab1d37;
}
.yellow_bg {
  background-color: #ed8840;
}
.tile_theme_playerTie{
  background-color: #18862e;

}
.result{
  width: 100%;
}


.resultItem {
  position: relative;
}
.resultItem_size_small-Feox9S .resultItem__list-J7YJ2v {
  height: 1rem;
}
.resultItem_size_small-dt .resultItem__list-J7YJ2v {
  height: 2rem;
}

.resultItem__list-J7YJ2v {
  overflow: hidden;
}
.abResultLine-eMgxz_, .abResultLine__inner-fF8OCI {
  height: 100%;
  position: relative;
}
.abResultLine__inner-fF8OCI.animated2-gtLnvD {
  animation-name: newNumber2;
}
@keyframes newNumber2 {
  0% {
    transform: translateX(var(--shift-horizontally, -1.5rem));
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes firstItem1-hJyVZr {
  0% {
    opacity: 0;
}

100% {
    opacity: 1;
}
}
.abResultLine__inner-fF8OCI.animated1-u3PTqR, .abResultLine__inner-fF8OCI.animated2-gtLnvD {
  animation-delay: var(--animation-delay,0s);
  animation-duration: var(--animation-duration,300ms);
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  transform: translateX(var(--shift-horizontally,-1.5rem));
}
.abResultLine__inner_multipleLines-pKLIP8 {
  flex-wrap: wrap;
}
.abResultLine-eMgxz_, .abResultLine__inner-fF8OCI {
  height: 100%;
  position: relative;
}
.abResultLine__inner-fF8OCI {
  align-items: center;
  -moz-column-gap: var(--history-line-column-gap,0);
  column-gap: var(--history-line-column-gap,0);
  display: flex;
  row-gap: var(--history-line-row-gap,0);
  will-change: transform;
}
.abResultLine__inner_stretch-Z3RTMl {
  justify-content: space-between;
  overflow: hidden;
}
.tile-lWsz_U {
  border-radius: 0.25rem;
  color: #fff;
  display: inline-flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
}
.tile-lWsz_U_dt{
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
}
.tile_size_small-ATZ3H_ {
  font-size: 0.625rem;
  line-height: 1.5rem;
  /* width: 1rem; */
}
.tile_size_small_dt{
  font-size: 1rem;
  line-height: 2rem;
}
.tile_indentSize_medium-U9Lwul {
  margin: 0 0.25rem;
}
.abResultLine__inner_animateFirstItem-Nbi5o9.animated1-u3PTqR>div:first-of-type {
  animation: firstItem1-hJyVZr .7s ease;
}
.tile_theme_playerB .tile__label {
  background-color: #ed8840
}
.tile_theme_Dragon{
  background-color: rgb(198, 40, 8);
}
.tile_theme_Tiger{
  background-color: rgb(225, 157, 25);
}
.tile_theme_Tie{
  background-color: rgb(41, 204, 204);
}
.tile_theme_playerA .tile__label {
  background-color: #cc493e;
}
.tile_size_small-ATZ3H_ .tile__label {
  height: 1rem;
  width: 1.5rem;
}
.tile__label_dt{
  height: 2rem;
  width: 2rem;
}
.tile__label_dt{
  align-items: center;
  border-radius: 50%;
  display: flex;
  font-weight: 500;
  justify-content: center;
}
.tile__label {
  align-items: center;
  border-radius: 0.25rem;
  display: flex;
  font-weight: 500;
  justify-content: center;
}
.carousel__slide-KasfxJ:last-child {
  margin-right: 0.5rem;
}
.carousel__slide-KasfxJ {
  align-self: flex-end;
  flex-shrink: 0;
  margin-right: 0.3125rem;
  scroll-snap-align: start;
  transition: opacity 300ms ease;
  width: 100%;
}
.scoreBoardPanel-AVowPF {
  background: rgba(0,0,0,0.4);
  border: 0.0625rem solid transparent;
  border-radius: 0.25rem;
  padding: 0.1875rem;
}
.svgMatrix-m_PnD5 {
  display: block;
  height: auto;
  width: 100%;
}
