<div [ngClass]="{' top-[1.1%] s375:top-[1.2%] s390:top-[0.9%] s540:top-[1.1%]  md:top-[2.8%]  m820:top-[2.4%] m910:top-[2.1%] lg:top-[2%] xl:top-[3.5%]  fadeIn': detailedRuleModalState, '  pointer-events-none fadeOut': !detailedRuleModalState}"
    class="absolute top-[0.5%] duration-300    md:max-w-[500px] md:min-w-[500px]  mx-2 md:left-[16.5%] m820:left-[18.6%] m910:left-[21.8%] lg:min-w-[800px] lg:max-w-[800px] xl:min-w-[1140px] xl:max-w-[1140px] lg:left-[10.2%]  xl:left-[10.65%] z-[1500] bg-[rgb(37,40,48)]  max-h-fit border-transparent border-0 rounded-lg">
    <div class="bg-[#2c2d30] px-2.5 border-0 rounded-t-lg h-9 flex justify-between items-center w-full">
        <h3 class=" text-base text-white  tracking-[0.008em] font-['Inter'] font-light">
            GAME RULES</h3>
        <button (click)="closeDetailedRulesModal()"
            class="text-[#97a4ae]  -translate-y-0.5 cursor-pointer text-[24px] font-bold font-['Nunito'] leading-none opacity-50 ![text-shadow:_0_1px_0_#97a4ae]">
            x
        </button>
    </div>
    <div
        class="bg-[#1b1c1d] text-[#d2d2d2] overflow-auto max-h-fit lg:max-h-[88svh] text-sm p-4 box-border font-light font-['Inter'] tracking-[0.011em] leading-normal">
        <p class="mb-4"> Vimaan is a new generation of iGaming entertainment. You can win many times more, in seconds!
            Vimaan is
            built on a provably fair system, which is currently the only real guarantee of honesty in the gambling
            industry. </p>
        <a (click)="openProvablyFairModal()" class="text-[#ff0000] cursor-pointer ">
            Read more about provably fair system
        </a>
        <h3 class="mt-[28px] mb-2 text-[16px] text-white">HOW TO PLAY</h3>
        <div class="">
            <iframe class="w-full h-[180px] lg:h-[500px] xl:h-[450px]"
                src="https://www.youtube.com/embed/PZejs3XDCSY?si=T5PvikdVbYAZ0vxD" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="pt-[62px] pb-2.5 mb-2.5 text-[16px]  leading-[1.2] text-white pl-2.5 font-light tracking-[0.016em]">
            Vimaan is as easy to play as 1-2-3:
        </div>

        <div class="flex flex-col lg:flex-row  justify-center lg:justify-between items-center w-full lg:px-5 ">
            <div class="flex flex-col justify-center items-start ">
                <h3 class="text-white text-2xl font-bold mt-2.5 mb-2.5">
                    01
                </h3>
                <div class="w-full">
                    <img class="w-[240px] h-[140px] border border-[#4e4e4e] border-solid  rounded-[20px]"
                        src="/assets/icons/rules-step-01.png" alt="stage-1">
                </div>
                <h3 class="text-[14px] flex justify-start items-center gap-1 mt-2.5">
                    <img class="w-10 h-10" src="/assets/icons/01-bet.825ca2bc7c7b97a6.svg" alt="bet">
                    <div>
                        <h4 class="text-white font-medium"> <span class="text-[#ff0000] font-bold">BET</span> before
                            take-off</h4>
                    </div>
                </h3>
            </div>
            <div class="flex flex-col justify-center items-start translate-x-4">
                <h3 class="text-white text-2xl font-bold mt-2.5 mb-2.5">
                    02
                </h3>
                <div>
                    <img class="w-[240px] h-[140px] border border-[#4e4e4e] border-solid  rounded-[20px]"
                        src="/assets/icons/rules-step-02.png" alt="stage-2">
                </div>
                <h3 class="text-[14px] flex justify-start items-center gap-1 mt-2.5">
                    <img class="w-10 h-10" src="/assets/icons/01-bet.825ca2bc7c7b97a6.svg" alt="bet">
                    <div class="max-w-[240px]  ">
                        <h4 class="text-white font-medium "> <span class="text-[#ff0000] font-bold">WATCH</span> as your
                            Lucky Plane takes off and your winnings increase. </h4>
                    </div>
                </h3>
            </div>
            <div class="flex flex-col justify-center items-start translate-x-4">
                <h3 class="text-white text-2xl font-bold mt-2.5 mb-2.5">
                    03
                </h3>
                <div>
                    <img class="w-[240px] h-[140px] border border-[#4e4e4e] border-solid  rounded-[20px]"
                        src="/assets/icons/rules-step-03.png" alt="stage-3">
                </div>
                <h3 class="text-[14px] flex justify-start items-center gap-1 mt-2.5">
                    <img class="w-10 h-10" src="/assets/icons/01-bet.825ca2bc7c7b97a6.svg" alt="bet">
                    <div class="max-w-[240px] ">
                        <h4 class="text-white font-medium "> <span class="text-[#ff0000] font-bold">CASH OUT</span>
                            before the plane disappears and wins X times more! </h4>
                    </div>
                </h3>
            </div>
        </div>
        <div class="flex flex-col justify-center items-start translate-x-4 w-full">


            <p class="my-5 text-[#d2d2d2] text-[14px] "> But remember, if you did not have time to Cash
                Out before
                the Lucky
                Plane flies away,
                your bet will be lost. Vimaan is pure excitement! Risk and win. It’s all in your hands! </p>

        </div>
        <div class="flex flex-col justify-start p-5 pb-0">
            <h3 class="text-[14px] font-light text-white text-start ">More details</h3>
            <ul class="mt-5 ">
                <li class="flex justify-start items-start gap-1 pl-[14px]">
                    <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                    <h3> The win multiplier starts at 1x and grows more and more as the Lucky Plane takes off. </h3>
                </li>
                <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                    <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                    <h3>Your winnings are calculated at the multiplier at which you made a Cash Out, multiplied by your
                        bet. </h3>
                </li>
                <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                    <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                    <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                        <div>
                            Before the start of each round, our provably fair random number generator
                            generates the
                            multiplier at which the Lucky Plane will fly away. You can check the honesty of this
                            generation
                            by clicking on
                        </div>
                        <div class="flex">
                            <img class="w-3.5 h-4  " src="/assets/icons/icon-provabyfair.71eb97eaadfab595.svg"
                                alt="provabyfair">
                        </div>
                        <div class="flex">
                            icon, opposite the result, in the History tab
                        </div>
                    </h3>
                </li>
            </ul>
        </div>
        <div class="mt-[60px]">
            <h3 class="text-[16px] text-white  font-normal">GAME FUNCTIONS</h3>
        </div>
        <ul class="pt-2.5">
            <h3 class="text-white mb-2.5">Bet & Cash Out</h3>
            <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    Select an amount and press the “Bet” button to make a bet.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    You can cancel the bet by pressing the "Cancel" button if the round has not yet started.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    Adjust the bet size using the "+" and "-" buttons to change the bet amount. Alternatively, you can
                    select the bet size using the preset values or enter a value manually.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    You can make two bets simultaneously, by adding a second bet panel. To add a second bet panel, press
                    the plus icon, which is located on the top right corner of the first bet panel.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    Press the “Cash Out” button to cash out your winnings. Your win is your bet multiplied by the Cash
                    Out multiplier.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    Your bet is lost, if you didn’t cash out before the plane flies away.
                </h3>
            </li>
        </ul>

        <ul class="pt-2.5">
            <h3 class="text-white mb-2.5"> Auto Play & Auto Cash Out </h3>
            <li class="flex justify-start items-start gap-1 pt-0.5  pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    Before starting Auto Play, select the bet size you want to play with. How to do this is described in
                    the Bet &amp; cash out section.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    Auto Play is activated from the “Auto” tab on the Bet Panel, by pressing the “Auto Play” button.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    When configuring Auto Play, choose the number of rounds from the provided options, and one or more
                    stop conditions such as "Stop if balance decreases by", "Stop if balance increases by", "Stop if
                    single win exceeds".
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    In the Auto Play Panel, the “Stop if cash decreases by” option stops Auto Play, if the balance is
                    decreased by the selected amount.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    In the Auto Play Panel, the “Stop if cash increases by” option stops Auto Play, if the balance is
                    increased by the selected amount.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    In the Auto Play Panel, the “Stop if single win exceeds” option stops Auto Play, if a single win
                    exceeds the selected amount.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    Auto Cash Out is available from the “Auto” tab on the Bet panel. After activation, your bet will be
                    automatically cashed out when it reaches the multiplier entered
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    You can stop Auto Play by pressing the Stop button.
                </h3>
            </li>
        </ul>

        <ul class="pt-2.5">
            <h3 class="text-white mb-2.5"> Live Bets & Statistics </h3>
            <li class="flex justify-start items-start gap-1 pt-0.5  pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    On the left side of the game interface (or under the Bet Panel on mobile), is located the Live Bets
                    panel. Here you can see all bets that are being made in the current round.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    In the “My Bets” panel you can see all of your bets and Cash Out information.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    In the “Top” panel, game statistics are located. You can browse wins by amount, or Cash Out
                    multiplier, and see the biggest round multipliers.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    In the Auto Play Panel, the “Stop if cash decreases by” option stops Auto Play, if the balance is
                    decreased by the selected amount.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    In the Auto Play Panel, the “Stop if cash increases by” option stops Auto Play, if the balance is
                    increased by the selected amount.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    In the Auto Play Panel, the “Stop if single win exceeds” option stops Auto Play, if a single win
                    exceeds the selected amount.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    Auto Cash Out is available from the “Auto” tab on the Bet panel. After activation, your bet will be
                    automatically cashed out when it reaches the multiplier entered
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    You can stop Auto Play by pressing the Stop button.
                </h3>
            </li>
        </ul>

        <ul class="pt-2.5">
            <h3 class="text-white mb-2.5"> Free Bets </h3>
            <li class="flex justify-start items-start gap-1 pt-0.5  pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    You can check the status of Free Bets, from the Game Menu &gt; Free Bets. Free Bets are awarded by
                    the operator, or by the Rain Feature.
                </h3>
            </li>

        </ul>


        <ul class="pt-2.5">
            <h3 class="text-white mb-2.5"> Rain Feature </h3>
            <li class="flex justify-start items-start gap-1 pt-0.5  pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    The Rain Feature drops an amount of Free Bets into the Chat. You can claim Free Bets by pressing the
                    “Claim” button. Free Bets are awarded by the operator, or from other players. You can also drop an
                    amount of Free Bets for other players from the “Rain” panel, by pressing the “Rain” Button on the
                    bottom side of the Chat.
                </h3>
            </li>
        </ul>

        <ul class="pt-2.5">
            <h3 class="text-white mb-2.5"> Randomisation </h3>
            <li class="flex justify-start items-start gap-1 pt-0.5  pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    The multiplier for each round is generated by a “Provably Fair” algorithm and is completely
                    transparent, and 100% fair. <a (click)="openProvablyFairModal()"
                        class="text-[#ff0000] cursor-pointer"> Read more about provably fair
                        system </a>
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5 pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    <div>
                        You can check the fairness of each round by pressing
                    </div>
                    <div class="flex">
                        <img class="w-3.5 h-4  " src="/assets/icons/icon-provabyfair.71eb97eaadfab595.svg"
                            alt="provabyfair">
                    </div>
                    <div class="flex">
                        icon, opposite the results in the “My Bets” or inside “Top” tabs.
                    </div>
                </h3>
            </li>
        </ul>

        <ul class="pt-2.5">
            <h3 class="text-white mb-2.5"> Return to Player </h3>
            <li class="flex justify-start items-start gap-1 pt-0.5  pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    The overall theoretical return to player is 97%. This means that on average, for every 100 rounds,
                    every 3 rounds end with the Lucky Plane flying away at the very beginning of the round.
                </h3>
            </li>
        </ul>

        <ul class="pt-2.5">
            <h3 class="text-white mb-2.5"> Game Menu</h3>
            <li class="flex justify-start items-start gap-1 pt-0.5  pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    Access the game menu by tapping the menu button in the top right corner of the screen.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5  pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    Toggle the "Sound" switch to turn the game sounds on or off.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5  pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    Toggle the "Music" switch to turn the background music on or off.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5  pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    Toggle the "Animation" switch to turn the airplane animation on or off.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5  pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    Press the "Limits" button to view the limits for minimum and maximum bets, as well as the maximum
                    win limit.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5  pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    Press the "My Bets History" button to view the history of your bets
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5  pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    Open "Game Rules" to read detailed rules of the game
                </h3>
            </li>
        </ul>

        <ul class="pt-2.5">
            <h3 class="text-white mb-2.5"> Other </h3>
            <li class="flex justify-start items-start gap-1 pt-0.5  pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    If the internet connection is interrupted when the bet is active, the game will auto cash out with
                    the current multiplier, and the winning amount will be added to your balance.
                </h3>
            </li>
            <li class="flex justify-start items-start gap-1 pt-0.5  pl-[14px]">
                <img src="/assets/icons/right-red-arrow.14ee00bd9966ab35.svg" alt="arrow">
                <h3 class="flex flex-row flex-wrap justify-start items-center w-full gap-1">
                    In the event of a malfunction of the gaming hardware/software, all affected game bets and payouts
                    are rendered void and all affected bets are refunded.
                </h3>
            </li>
        </ul>

    </div>


</div>
