<header class="text-white d-flex align-items-center justify-content-between">

    <!-- Left Section -->
    <div class="flex-shrink-0 d-none d-md-block"></div>

    <!-- Right Section -->
    <div class="d-flex align-items-center right">
        <!-- Wallet button -->
        <div class="d-flex align-items-center wallet-div">
            <button class="btn btn-primary wallet me-3 fw-bold">
                Wallet
            </button>
            <div class="d-flex align-items-center d-none d-md-flex">
                <div class="me-2 search-img">
                    <img src="/assets/header/search.svg" alt="search">
                </div>
                <span class="fw-semibold">Search</span>
            </div>
        </div>
        <!-- Account -->
        <div>
            <img src="/assets/header/account.svg" alt="account">
        </div>
        <!-- Notification -->
        <div>
            <img src="/assets/header/notification.svg" alt="notification">
        </div>
        <!-- Balance -->
        <div class="text-end text-white d-flex flex-column gap-1">
            <div class="mb-0 balance">
                Balance: <span class="text-white fw-bold">1000.00</span>
            </div>
            <div class="mb-0 balance">
                Exposure: <span class="text-danger fw-bold">1000.00</span>
            </div>
        </div>
    </div>
</header>