<div #phaserContainer class="phaser-container font-['Roboto'] relative ">
    <div class="phaser-game ">


        <div class="absolute left-5 top-[50%] z-[1000]">

            <!-- <button class="bg-red-600 text-white px-2 py-1 border-0 rounded-xl ml-5  cursor-pointer"
                (click)="resetGame()"> Reset
                Play</button>
            <button class="bg-red-600 text-white px-2 py-1 border-0 rounded-xl ml-5  prevent-select"
                (click)="showGlass('plus1')">
                showGlass1</button>
           -->
        </div>
        <div class="relative canvas-container">



        </div>


    </div>




</div>