<div class="sidebar d-flex justify-content-between flex-column">
  <!-- Logo -->
  <div class="d-flex justify-content-center align-items-center logo-section">
    <img src="/assets/logo.svg" alt="Universe Logo" class="logo">
  </div>

  <div class="main-sidebar">
    <!-- Sidebar items -->
    <ul class="menu text-white">
      <li class="menu-item d-flex align-items-center"  [routerLink]="'/dashboard'"  routerLinkActive="active">
        <img src="/assets/left-sidebar/dashboard.svg" alt="board">
        <span>Dashboard</span>
      </li>
      <li class="menu-item d-flex align-items-center" [routerLink]="'/player-list'" routerLinkActive="active" (click)="toggleSection()">
        <img src="/assets/left-sidebar/Profile.svg" alt="profile">
        Player List
      </li>
      <li class="menu-item d-flex align-items-center" [routerLink]="'/operator-list'" routerLinkActive="active">
        <img src="/assets/left-sidebar/user.svg" alt="user">
        Operator List
      </li>
      <li class="menu-item d-flex align-items-center" [routerLink]="'/bet-reports'" routerLinkActive="active">
        <img src="/assets/left-sidebar/bet-profit.svg" alt="Reports">
        Bet Reports
      </li>
      <li class="menu-item d-flex align-items-center" [routerLink]="'/pl-report-user-wise'" routerLinkActive="active">
        <img src="/assets/left-sidebar/p-l.svg" alt="Reports">
        P&L Reports UserWise
      </li>
      <li class="menu-item d-flex align-items-center" [routerLink]="'/pl-report-game-wise'" routerLinkActive="active">
        <img src="/assets/left-sidebar/p-l.svg" alt="p-l">
        P&L Reports GameWise
      </li>
      <li class="menu-item d-flex align-items-center" [routerLink]="'/market-analysis'" routerLinkActive="active">
        <img src="/assets/left-sidebar/Chart.svg" alt="market">
        Market Analysis
      </li>
      <li class="menu-item d-flex align-items-center" [routerLink]="'/lobby-settings'" routerLinkActive="active">
        <img src="/assets/left-sidebar/Filter.svg" alt="lobby">
        Lobby Settings
      </li>
      <li class="menu-item d-flex align-items-center" [routerLink]="'/results'" routerLinkActive="active">
        <img src="/assets/left-sidebar/Paper.svg" alt="result">
        Results
      </li>
      <li class="menu-item d-flex align-items-center" [routerLink]="'/invoice'" routerLinkActive="active">
        <img src="/assets/left-sidebar/Bookmark.svg" alt="mark">
        Invoice
      </li>
      <li class="menu-item d-flex align-items-center" [routerLink]="'/settings'" routerLinkActive="active">
        <img src="/assets/left-sidebar/setting.svg" alt="setting">
        Settings
      </li>
    </ul>

    <div class="hr-line"></div>
    <!-- Bottom buttons -->
    <div class="bottom-section d-flex flex-column gap-3">
      <button class="btn developer-btn text-center fw-semibold">Developer Mode</button>
      <button class="btn profile-btn text-center fw-semibold">My Profile</button>
      <button class="btn logout-btn text-center fw-semibold d-flex justify-content-center align-items-center text-white" (click)="logout()">Logout</button>
    </div>
  </div>
</div>