@if (isShow) {

  <div class="popup-overlay" >
    <div class="popup-content">
      <div class="modal rounded-[.5rem]">

          <div class="modal-main-content-wrapper" (click)="$event.stopPropagation()">
            <div class="modal-header-container">
              <div class="modal-title">
                <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon "> <title></title> <path fill-rule="evenodd" clip-rule="evenodd" d="M22.8 8.547h36.774c0 .028.026.054.026.054h-.016a6.75 6.75 0 0 0-6.384 6.586v33.04l-.002-.02a6.8 6.8 0 0 1-6.786 7.246 6.8 6.8 0 0 1-6.786-7.226v-3.094H16V15.347a6.8 6.8 0 0 1 6.8-6.8Zm-.828 27.894h15.494V31.8H21.972v4.64Zm.002-12.4h24.8V19.4h-24.8v4.64Zm38.052-13.574h-.052A3.974 3.974 0 0 0 56 14.44v6.426h8V14.44a3.974 3.974 0 0 0-3.974-3.974ZM36.8 48.256H0a6.8 6.8 0 0 0 6.8 6.8h34.026c-2.694 0-4.026-3.04-4.026-6.8Z"></path></svg>
                <span class="ms-2 text-[16px] text-white">
                  Enter Your Details
                </span>

              </div>
              <!-- <button class="crossBtn" (click)="toggleExposure()">
                <svg  fill="currentColor" viewBox="0 0 64 64" class="svg-icon " >
                  <title></title>
                  <path
                    d="m54.827 16.187-7.014-7.014L32 24.987 16.187 9.173l-7.014 7.014L24.987 32 9.173 47.813l7.014 7.014L32 39.013l15.813 15.814 7.014-7.014L39.013 32l15.814-15.813Z">
                  </path>
                </svg>
              </button> -->
            </div>

              <div class="modal-content svelte-cq3ecl ">
                <div class="content-container">
                  <div class="mb-3">
                    <input
                    [(ngModel)]="userName"
                      type="text"
                      id="chat_username"
                      placeholder="Type a username..."
                      class="w-full px-4 py-2 rounded userName"
                      autofocus
                      autocomplete="new-password"
                    />
                  </div>

                  <div class="mb-3">
                    <select
                    [(ngModel)]="room"
                      id="room-select"

                      class="block w-full px-4 py-2 rounded"
                    >
                      <option value="">Select Room</option>
     
                      <option value="Room1">Room 1</option>
                      <option value="Room2">Room 2</option>
                      <option value="Room3">Room 3</option>
                    </select>
                  </div>
                  <button class="w-full mb-3 px-4 py-2 rounded-md bg-[#3c82f6] font-bold text-[14px]" (click)="submitDetails()">
                    Start Chat
                  </button>
                </div>


              </div>

          </div>

      </div>
    </div>
  </div>
  }
