<main id="root">
    <div class="wrapper game_shiftedDown-rzul1J">
        <div class="game__substrateLayer-LGkRLq">
            <div class="game__video-YzLt9h topCard__staticVideoWrap-FiHDJy">
                <div class="game__staticVideo-y5rXT0">
                    <div class="staticVideo-PcRqrm">
                        <img class="staticVideo__poster-hdUGdJ staticVideo__poster_hidden-yMci7o staticVideo__player_withPoster-vt9rL5"
                            src="https://client.petros04.com/js/../img/rng-tc-poster-m.e7c0fe18.png" alt="poster">
                        <video class="staticVideo__player-oLgBsz staticVideo__player_withPoster-vt9rL5" playsinline=""
                            loop="">
                            <source src="https://client.petros04.com/js/../img/TopCard_RNG_BG_portrait.13dd0c39.mp4"
                                type="video/mp4; codecs=avc1.4D401E,mp4a.40.2">
                            <source src="https://client.petros04.com/js/../img/TopCard_RNG_BG_portrait.51d51315.webm"
                                type="video/webm">
                        </video>
                    </div>
                </div>
            </div>
            <div class="gradient-_9dd5n gradient_mobile-cBpe4n"></div>
        </div>

        <div class="game__body">
            <div class="chatPreview-THFBrz chatPreview_mobile-zB9URg chatPreview_hidden-GXvWSw">
                <div class="messagePreview-qrVrW0"></div>
            </div>

            <div class="promoWidget-MC5DKE"></div>

            <div class="topCard-c1emFi topCard_rngGame-ftIaEw">
                <div class="topCard__rngTable-POdQ39">
                    <div class="rngTable-m9dIQZ rngTable_ready-h53afX">
                        <div class="rngTable-U4qMWx">
                            <img class="rngTable__image-qO0cK5"
                                src="https://client.petros04.com/js/../img/rng-table.286655c6.png" alt="table">
                            <svg class="rngTable__svg-p8L0DQ" viewBox="0 0 940 684" xmlns="http://www.w3.org/2000/svg"
                                stroke-linecap="round">
                                <path
                                    d="M66.721,91.239l180.463,-0c7.758,-0 9.142,1.11 12.174,4.336c4.656,4.954 16.34,17.916 21.705,23.064c3.79,3.636 5.323,4.357 13.482,4.359c193.074,0.039 158.675,0.039 351.75,0c8.159,-0.002 9.691,-0.723 13.481,-4.359c5.365,-5.148 17.049,-18.11 21.705,-23.064c3.032,-3.226 4.417,-4.336 12.174,-4.336l180.464,-0"
                                    filter="url(#rngTopCardLineFilter)" fill="none" stroke="currentColor"
                                    stroke-width="4"></path>
                                <path class="rngTable__svgWinPath-PkAVLR"
                                    d="M66.721,91.239l180.463,-0c7.758,-0 9.142,1.11 12.174,4.336c4.656,4.954 16.34,17.916 21.705,23.064c3.79,3.636 5.323,4.357 13.482,4.359c193.074,0.039 158.675,0.039 351.75,0c8.159,-0.002 9.691,-0.723 13.481,-4.359c5.365,-5.148 17.049,-18.11 21.705,-23.064c3.032,-3.226 4.417,-4.336 12.174,-4.336l180.464,-0"
                                    filter="url(#rngTopCardLineFilter)" fill="none" stroke="currentColor"
                                    stroke-width="4"></path>
                                <defs>
                                    <filter id="rngTopCardLineFilter" x="0" y="0" width="100%" height="100%"
                                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feDropShadow dx="0" dy="0" stdDeviation="3" flood-color="currentColor">
                                        </feDropShadow>
                                    </filter>
                                </defs>
                            </svg>
                        </div>
                        <div class="rngTable__cards-CIQw_j relative">
                            <img class="h-[3rem] w-[3.5rem] lg:h-[4.8rem] lg:w-[7rem] absolute left-[50%] rounded -translate-x-2/4 top-[17%]"
                                src="/assets/virtual-table-cards/cardStack.svg" alt="card-stack">
                            <img class="h-[3rem] w-[2.3rem]  lg:h-[3.5rem] lg:w-[4.4rem]  absolute top-[18%] lg:top-[22%] left-[17%] skew-x-[-22deg]"
                                src="/assets/virtual-table-cards/singleCard.svg" alt="single-card">
                            <div class="canvasBase-rsnbXU">
                                <div class="konvajs-content" role="presentation"
                                    style="position: relative; user-select: none; width: 337.909px; height: 154.875px;">
                                    <canvas width="675" height="309"
                                        style="padding: 0px; margin: 0px; border: 0px; background: transparent; position: absolute; top: 0px; left: 0px; width: 337.909px; height: 154.875px; display: block;">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="game__playLive-jjimr6">
            <div>
                <button class="liveButton-y8QTk5 liveButton_size_small-bvNeeX" type="button"
                    data-locator="play-live-btn">
                    <span class="liveButton__icon-rEVAEv">
                        <svg class="svgIcon-JpUo7O svgIcon_auto-zs7WXn" viewBox="0 0 12 12"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6 8C7.10457 8 8 7.10457 8 6C8 4.89543 7.10457 4 6 4C4.89543 4 4 4.89543 4 6C4 7.10457 4.89543 8 6 8Z"
                                fill="currentColor"></path>
                            <path
                                d="M8.65012 3.75529C8.9988 4.0503 9.27541 4.40063 9.46414 4.78625C9.65286 5.17187 9.75 5.58521 9.75 6.00265C9.75 6.42008 9.65286 6.83343 9.46414 7.21905C9.27541 7.60466 8.9988 7.95499 8.65012 8.25M3.34988 8.24471C3.0012 7.9497 2.72459 7.59937 2.53586 7.21375C2.34714 6.82813 2.25 6.41479 2.25 5.99735C2.25 5.57992 2.34714 5.16657 2.53586 4.78095C2.72459 4.39534 3.0012 4.04501 3.34988 3.75"
                                fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </span>
                    <span class="liveButton__label-eDGo99">Play Live</span>
                </button>
            </div>
        </div>
    </div>
</main>