@import url(../unitycasinoStyles.css);

.title {
  font-size: 15px;
  font-weight: bold;
}

.baccarat .baccarat-bets-name div {
  font-size: 15px;
  font-weight: bold;
}



.baccarat .banker-pair {
  width: 15%;
  margin-left: 2px;
  height: 90px;
  margin-top: 15px;
  position: relative;
}

.baccarat .banker .baccarat-bets-name {
  background: linear-gradient(-180deg, #af2736 0, #93212d 100%);
  align-items: flex-end;
  padding-right: 20px !important;
  border-top-right-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
  color: white;
}

.baccarat .tie .baccarat-bets-name {
  background: linear-gradient(-180deg, #11b24b 0, #1c6235 100%);
  border-radius: 50%;
  border: 2px solid #000;
}

.baccarat .tie {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 15;
}

.chips_1_selected p {
  /* background: url(chips1.d60841a….svg) 0 0/contain no-repeat; */
  height: 50px;
  width: 54px;
  color: #000;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  font-size: 12px;
  padding: 12px;
  top: 0;
  right: 0;
  left: 25%;
}

.baccarat .player {
  width: 50%;
  /* width: 35%; */
  height: 120px;
  position: relative;
}

.player {
  color: #4694de;
}

.baccarat .banker {
  width: 50%;
  /* width: 35%; */
  height: 120px;
  position: relative;
}

.banker {
  color: #f10c0c;
}

.baccarat .player-pair .baccarat-bets-name {
  border-radius: 16px 0 0 16px;
  background: linear-gradient(-180deg, #1285e2 0, #0b5795 100%);
  color: white;
}

.baccarat .player-pair .baccarat-bets-name .suspended:after {
  border-radius: 16px 0 0 16px;
}

.baccarat.player-pair {
  margin-right: 2px;
  width: 15%;
  height: 90px;
  margin-top: 15px;
  position: relative;
}

.baccarat-betsdiv {
  cursor: pointer;
}

.baccarat .baccarat-bets {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  margin-top: 30px;
  position: relative;
  padding-bottom: 20px;
}

.baccarat .player-pair {
  margin-right: 2px;
  width: 15%;
  height: 90px;
  margin-top: 15px;
  position: relative;
}


li.chips_1_selected {
  list-style: none;
}

.baccarat .player .baccarat-bets-name {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-left: 5px;
  text-decoration: none;

}

.baccarat .player .baccarat-bets-name {
  background: linear-gradient(-180deg, #1285e2 0, #0b5795 100%);
  border-top-left-radius: 16px !important;
  border-bottom-left-radius: 16px !important;
  align-items: flex-start;
  padding-left: 20px !important;
  text-decoration: none;
  color: white;

}

.baccarat .baccarat-bets-name {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  flex-direction: column;
  color: var(--text-white);
  padding-left: 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;

}

.baccarat .banker-pair .baccarat-bets-name {
  border-radius: 0 16px 16px 0;
  background: linear-gradient(-180deg, #af2736 0, #93212d 100%);
}

.setting-icon.mobile,
.show-xs {
  /* display: none; */
}

.baccarat .baccarat-bets-odds {
  width: 100%;
  margin-top: 0;
}

.baccarat .baccarat-bets-odds {
  width: 75%;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.baccarat .baccarat-bets {
  padding: 0 5px;
  margin-top: 20px;
  height: 100px;
}

.baccarat .baccarat-bets {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  margin-top: 30px;
  position: relative;
  padding-bottom: 20px;
}

.baccarat .player-pair {
  margin-right: 2px;
  width: 50%;
  /* width: 15%; */
  height: 90px;
  margin-top: 15px;
  position: relative;
}

.baccarat .player-pair .baccarat-bets-name {
  border-radius: 16px 0 0 16px;
  background: linear-gradient(-180deg, #1285e2 0, #0b5795 100%);
}

.baccarat .banker-pair {
  width: 50%;
  /* width: 15%; */
  margin-left: 2px;
  height: 90px;
  margin-top: 15px;
  position: relative;
}

.hidden-xs-left {
  display: none;
}

.hidden-xs-right {
  display: none;
}

@media only screen and (max-width: 1320px) {
  .show-xs {
      display: block;
  }
}

@media only screen and (min-width: 280px) and (max-width: 1320px) {
  .baccarat .banker-pair {
      width: 50%;
      height: 60px;
      margin: 0;
  }

  .baccarat .baccarat-bets-name div {
      line-height: 14px !important;
      margin-bottom: 2px !important;
  }

  .pairmobile .player-pair .baccarat-bets-name {
      background: linear-gradient(-180deg, #af2736 0, #93212d 100%);
  }

  .baccarat .player-pair .baccarat-bets-name {
      border-radius: 4px 0 0 4px;
  }

  .player-pair .baccarat-bets-name .suspended:after {
      border-radius: 4px 0 0 4px;
  }

  .banker-pair .baccarat-bets-name.suspended:after {
      border-radius: 4px 0 0 4px;
  }

  .baccarat .player-pair {
      width: 50%;
      height: 60px;
      margin: 0 10px 0 0;
  }

  .baccarat .banker-pair .baccarat-bets-name {
      border-radius: 0 4px 4px 0;
  }

  .baccarat .player-pair {
      width: 50%;
      height: 60px;
      margin: 0 10px 0 0;
  }

  .baccarat .baccarat-bets {
      padding: 0 5px;
      margin-top: 20px;
      height: 100px;
  }

  .baccarat .player-pair {
      width: 50%;
      height: 70px;
      margin: 0 10px 0 0;
  }


  .baccarat .player-pair .baccarat-bets-name {
      border-radius: 4px 0 0 4px;
  }



  .baccarat .baccarat-bets-name {
      height: 100%;
      font-size: var(--font-v-small);
      padding-left: 0;
  }

  .baccarat .baccarat-bets-name div {
      line-height: 14px !important;
      margin-bottom: 2px !important;
      font-size: 15px;
      font-weight: bold;
  }

  .player-pair .chips_1_selected p {
      left: 10%;
  }

  .chips_1_selected p {
      height: 35px;
      width: 38px;
      font-size: 7px;
      padding: 11px;
      line-height: 10px;
  }

  .baccarat .baccarat-bets-name {
      height: 100%;
      font-size: var(--font-v-small);
      padding-left: 0;
  }


  .baccarat .banker,
  .baccarat .player {
      width: 50% !important;
      height: 90px !important;
  }

  .baccarat .banker .baccarat-bets-name {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      padding-right: 5px;
  }

  .baccarat .player img,
  .baccarat .banker img {
      height: 25px;
  }

  .baccarat .banker-pair {
      width: 50%;
      height: 70px;
      margin: 0;
  }

  .pairmobile .baccarat-bets {
      height: auto !important;
  }

  .pairmobile .banker-pair .baccarat-bets-name {
      background: linear-gradient(-180deg, #1285e2 0, #0b5795 100%);
  }

  .baccarat .banker-pair .baccarat-bets-2 {
      background: black !important;
      color: white !important;
  }


}

@media only screen and (min-width: 320px) and (max-width: 767px) {

  .baccarat .baccarat-bets {
      padding: 0 5px;
      margin-top: 5px;
      height: 110px;
  }

  .baccarat .tie {
      height: 90px !important;
      width: 90px !important;
      top: 0 !important;
  }
}


.suspended:after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--text-white-color);
  text-transform: uppercase;
  font-family: "Font Awesome 5 Free";
  content: "\f023";
  font-weight: 900;
  font-size: 18px;
  top: 0;
  z-index: 10;
  width: 100%;
  color: white;
}




:host ::ng-deep .input-Betslip {
  margin-left: 40px !important;
}

.imgPadding {
  padding-right: 2px;
  width: 35px;
}

.profitLoss {
  display: flex;
  justify-content: center;
  width: 100%;
}


.baccarat .player.suspended:after {
  border-top-left-radius: 16px !important;
  border-bottom-left-radius: 16px !important;
  padding-left: 5px;
}

.baccarat .banker.suspended:after {
  border-top-right-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
  padding-left: 5px;
  z-index: -1111px !important;
}


.baccarat .tie.suspended:after {
  border-radius: 50% !important;
}

.select-box-player {
  background: black !important;
}

.select-box-banker {
  background: black !important;
}

::ng-deep .recent-res {
  margin-bottom: 160px !important;
}

.market-size-container-firstbox {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  /* flex-direction: column; */
  background: #ffffff4d;
  height: 100%;
  border-radius: 16px 0px 0px 16px;
  top: 0px;
  left: 0px;
  /* align-items: center; */
  padding-left: 4px;
  padding-top: 5px;
  opacity: .7;
  font-size: 15px;
  color: whitesmoke;
  font-weight: 100 !important;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
}

.market-size-container-secondBox {
  position: absolute;
  display: flex;
  justify-content: right;
  flex-direction: column;
  background: #ffffff4d;
  height: 100%;
  border-radius: 0px 16px 16px 0px;
  top: 0px;
  right: 0px;
  align-items: center;
  font-size: 15px;
  padding-right: 2px;
  padding-top: 5px;
  opacity: .7;
  color: whitesmoke;

  align-items: flex-end;
}

.adjustmnet {
  left: -13px;
  padding-left: 0px;
}

.adjustmnetScnd {
  right: -13px;
  padding-right: 0px;
}

.market-size-container-firstbox-pair {
  position: absolute;
  display: flex;
  justify-content: right;
  flex-direction: row;
  background: #ffffff4d;
  height: 100%;
  /* border-radius: 24px 0px 0px 24px; */
  top: 0px;
  right: 0px;
  align-items: center;
  padding-left: 10px;
  opacity: .7;
  font-size: 15px;
  color: whitesmoke;
}

.market-size-container-secondBox-pair {
  position: absolute;
  display: flex;
  justify-content: left;
  flex-direction: row;
  background: #ffffff4d;
  height: 100%;
  /* border-radius: 0px 24px 24px 0px; */
  top: 0px;
  left: 0;
  align-items: center;
  font-size: 15px;
  padding-right: 10px;
  opacity: .7;
  color: whitesmoke;
  /* padding-right: 13px; */
}

.market-size-container-tieMarket {
  position: absolute;
  display: flex;
  justify-content: right;
  flex-direction: column;
  background: #ffffff4d;
  height: 100%;
  border-radius: 50%;
  top: 0px;
  /* right: 0px; */
  align-items: center;
  padding-left: 10px;
  opacity: .7;
  font-size: 15px;
  color: whitesmoke;
  padding-top: 5px;
}

@media only screen and (min-width: 421px) {
  .chips_1 {
      height: 0px;
  }
}


@media only screen and (min-width: 767px) {

  .chips li .ring{
      width: 60px;
      height: 48px;
      left: calc(50% - 59px / 2);
  }

}

.playerWidthCard20{
  width: 100% !important;
}

.playerWidthCard20 .baccarat-bets-name{
  border-radius: 16px !important;
}

.playerWidthCard20.suspended::after{
  border-radius: 16px !important;
}

.playerWidthCard20{
  margin: 0 0px 0px 0 !important;
}
