<!-- Footer -->
<div class="text-end footer">
    <div class="d-flex flex-row p-2 justify-content-end align-items-center gap-4 me-2">
      <div class="d-flex gap-2 footer-btn" (click)="ShowSection()">
        <img src="/assets/Swap.svg" alt="p-l">
        Profile & loss
      </div>
      <div class="d-flex gap-2 footer-btn" (click)="ShowSection()">
        <img src="/assets/left-sidebar/bet-profit.svg" alt="bet-history">
        Bet History
      </div>
      <div class="d-flex gap-2 footer-btn" (click)="ShowSection()" data-bs-toggle="modal" data-bs-target="#playerStatusModal">
        <img src="/assets/left-sidebar/setting.svg" alt="settings">
        Settings
      </div>
      <div class="d-flex gap-2 footer-btn" (click)="ShowSection()" data-bs-toggle="modal" data-bs-target="#playerStatusModal">
        <img src="/assets/left-sidebar/Profile.svg" alt="player">
        Player Profile
      </div>
    </div>
  </div>