.footer{
    background-color: #071E2A;
    height: 42px;
    color: #B1BAD3;
    border: none !important;
}

.footer img{
    height: 16px;
    margin-top: auto;
    margin-bottom: auto;
}
.footer-btn{
    cursor: pointer;
}