

html,
body {
  background: var(--mainBodyBG);
  /* background: var(--app-backgroudColor); */

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Tahoma, Helvetica, sans-serif;
  top: 0 !important;
  /* overflow-y: scroll; */
  touch-action: manipulation;
  /* Add the ability to scroll */
}

.casino-font {
  font-size: 40px;
  line-height: 40px;
  font-family: CasinoNumFont;
}

.casino-numfont {
  font-size: 150px;
  font-family: 'CasinoNumFont';
  line-height: 0.8;
  color: #6A0015;
  font-weight: normal;
}

/* @font-face {
  font-family: 'CasinoNumFont';
  src: url('src/assets/fonts/Casino 3D Marquee Regular/@font-face/3f7725f6e641df6ad0e55c6350983a43.woff2') format('woff2'),
      url('src/assets/fonts/Casino 3D Marquee Regular/Casino 3D Marquee Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monoton';
  src: url('./assets/fonts/Monoton-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Card Characters";
  src: url("assets/fonts/card.ttf");
}

@font-face {
  font-family: 'CasinoNumFont';
  src: url('src/assets/fonts/Casino 3D Marquee Regular/@font-face/3f7725f6e641df6ad0e55c6350983a43.woff2') format('woff2'), url('src/assets/fonts/Casino 3D Marquee Regular/Casino 3D Marquee Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

.casino-numfont {
  font-size: 150px;
  font-family: 'CasinoNumFont';
  line-height: 0.8;
  color: #6A0015;
  font-weight: normal;
}

.casino-font {
  font-size: 40px;
  line-height: 40px;
  font-family: CasinoNumFont;
}


.card-icon {
  font-family: Card Characters;
  width: 24px;
  text-align: right;
  display: inline-block;
}

.card-red {
  color: #FF0000;
}

.card-black {
  color: #000000;
}


.card-icon {
  font-family: Card Characters;
  width: 24px;
  text-align: right;
  display: inline-block;
}

.card-red {
  color: #ff0000;
}

.card-black {
  color: #000000;
}



.btn-primary {
  border-color: unset;
  background: var(--newsColor);
}


.threecardj-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-table-header);
  color: var(--text-table-header);
  padding: 5px;
  font-size: 13px;
}

.navBar {
  background: var(--topHeaderColor);
  height: 70px;

}

.modal-header {
  background: var(--modal-header-bg);
  color: var(--modal-header-text);
  padding: .25rem .4rem;
  border: 1px solid var(--modal-header-text);
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

.close {
  float: right;
  font-size: 1.7125rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.close {
  color: #fff;
  opacity: 1;
}

.close-btn {
  background: transparent;
  border: 0px;
  color: white;
}

.modal-body {
  background: var(--header-color);
  padding: 0px;
  overflow-y: scroll;
  max-height: 93vh;

}

@media only screen and (min-width: 320px) and (max-width: 1279px) {
  body {
      font-size: var(--font-small);
  }

  .modal-title {
      font-size: var(--font-caption);
  }

}





/* box start */

.minus-book {
  color: var(--matchodds-pl-minus) !important;
  display: inline-block;
  font-weight: bold !important;
  margin-left: 5px;
}

.plus-book {
  color: var(--matchodds-pl-plus) !important;
  display: inline-block;
  font-weight: bold !important;
  margin-left: 5px;
}



.box-1 {
  width: 10%;
  min-width: 10%;
  max-width: 10%;
}

.box-2 {
  width: 23%;
  min-width: 20%;
  max-width: 20%;
}

.box-3 {
  width: 30%;
  min-width: 30%;
  max-width: 30%;
}

.box-4 {
  width: 40%;
  min-width: 40%;
  max-width: 40%;
}

.box-5 {
  min-width: 50%;
  max-width: 50%;
}

.box-6 {
  width: 60%;
  min-width: 60%;
  max-width: 60%;
}

.box-7 {
  width: 70%;
  min-width: 70%;
  max-width: 70%;
}

.box-8 {
  width: 80%;
  min-width: 80%;
  max-width: 80%;
}

.box-9 {
  width: 90%;
  min-width: 90%;
  max-width: 90%;
}

.box-10 {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.min-max-info {
  right: 0;
}

.back {
  background-color: #a7d8fd !important;
  cursor: pointer;
}

.back-1,
.back1 {
  background-color: rgba(114, 187, 239, 0.5);
  cursor: pointer;
}

.back-2,
.back2 {
  background-color: rgba(114, 187, 239, 0.75);
  cursor: pointer;
}

.lay {
  background-color: #f9c9d4 !important;
  cursor: pointer;
}

.lay-2,
.lay2 {
  background-color: rgba(250, 169, 186, 0.75);
  cursor: pointer;
}

.lay-1,
.lay1 {
  background-color: rgba(250, 169, 186, 0.5) !important;
  cursor: pointer;
}



.card .inner-sportbook {
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 700;
  background: var(--marketdetails-marketName-bg);
  color: var(--marketdetails-marketName-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.p-rltv {
  position: relative;
}

.sportbook-market-tbl {
  padding: 0;
  margin: 0;
  background: var(--marketdetails-matchodds-Box-bg);
  /* border: 1px solid var(--market-border); */
  border-bottom-left-radius: 6px;

}

.sportbook-market-tbl table:last-child {
  /* border-bottom-right-radius: 6px; */
}

.inner-sportbook>i {
  margin-right: 0.5rem;
}

.tbl-bets .odd-row {
  border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 992px) {

  /* .tbl-bets .team-name {
      min-width: 165px;
  } */

  .odd-row .team-name .title {
      font-size: 13px;
  }

  .show-xs {
      display: block;
  }

  .hidden-xs,
  .min-max-bet {
      display: none !important;
  }

  .tbl-bets .back-1,
  .tbl-bets .lay-1 {
      min-width: 65px;
      margin: 0;
  }

}

.odd-row .team-name {
  text-align: left;
  padding-left: 6px !important;
}

.tbl-bets td {
  text-align: center;
  font-size: 12px;
  padding: 3px 0;
  font-weight: 700;
  border-top: none;
}

.sportbook-name {
  width: 45%;
  padding-left: 3px !important;
}

.odd-row .team-name .title {
  font-size: 12px;
  display: contents;
  font-weight: 700;
  color: var(--matchodds-runner-text) !important;
}

.tbl-bets .odd-row td span {
  display: block;
  font-weight: 400;
  font-size: 11px;
}
.odd-row .team-name .title {
  font-size: 12px !important;;
  display: contents;
  font-weight: 700 !important;
  color: var(--matchodds-runner-text)!important;
}
.minus-book {
  color: #d0021b;
  display: block;
  font-weight: 700 !important;
}

.back-1 {
  background-color: #72bbef !important;
  ;
  border-left-color: #fff;
  border-radius: 0px;
}


@media only screen and (max-width: 767px) {}


.table td,
.table th {

  vertical-align: top;
  border-top: 1px solid var(--marketdetails-matchodds-bottom-border);
  /* border-bottom-right-radius: 6px; */
}

.suspended-casino {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: 700;
  top: 0;
  display: flex;
  text-align: center;
  opacity: .5 !important;
  z-index: 1;
  border-radius: 0 0 5px 5px;
  color: var(--matchodds-suspended-color);
  background: var(--matchodds-suspended-bg);
  border: 2px solid var(--matchodds-suspended-border);
}

.stats-text {
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex: auto;
}


.tooltip-betlimit {
  position: absolute;
  /* inset: 1px auto auto 214px !important; */
  /* right: 31px !important; */
  padding: 0px 6px 0px 6px !important;
  transform: translate3d(0px, -2px, 0px) !important;


  max-width: 200px;
  color: #fff;
  text-align: center !important;
  background-color: #000;
  border-radius: 0.25rem;
}

.tooltip-betlimit span {
  font-size: 12px;
  font-weight: 400;
}



/* suspend only boxk */

.spnd-casinouniqueLay {
  padding: 10px;
  position: absolute;
  font-size: 12px;
  height: 41px;
  font-weight: 700;
  right: 0;
  width: 200%;
  z-index: 1;
  left: 0;
  color: #ca1010;
  text-align: center;
  background: #fff;
  border: 2px solid #ca1010;
}


@media screen and (max-width:993px) and (min-width:280px) {
  .responsiveMobile {
      margin-top: 56px;
  }
}


.suspended {
  position: relative;
}

.suspended:after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--white-color);
  text-transform: uppercase;
  font-family: "Font Awesome 5 Free";
  content: "\f023";
  font-weight: 900;
  font-size: 18px;
  top: 0;
  z-index: 10;
}

.firstboxTpSelected {
  box-shadow: 0px 0px 20px 7px rgb(255 255 255);
  -webkit-box-shadow: 0px 0px 20px 7px rgb(255 255 255);
  -moz-box-shadow: 0px 0px 20px 7px rgb(255 255 255);
  /* background: rgb(0, 0, 0);
      color: rgb(255, 255, 255); */
}


.chips li:not(:hover) {
  transition: all .15s linear;
}


.responsiveMobile {
  margin-top: 55.5px;
  /* overflow-y: hidden; */
  /* -ms-overflow-style: none !important; */
  /* Internet Explorer 10+ */
  /* scrollbar-width: none !important; */
  /* Firefox */
}

.responsiveMobile ::-webkit-scrollbar {
  /* display: none !important; */
  /* Safari and Chrome */
}

.scrollMarket {
  height: 62vh;
  position: relative;
  overflow-y: scroll;
}



/* chips css start  */
.function_zone,
.function_zone_many {
  width: 100%;
  height: 100px;
  line-height: 43px;
  z-index: 1;
  /* background: rgb(146, 213, 232); */
  text-align: center;
}

.function_zone,
.function_zone_many {
  /* position: relative; */
  bottom: 0;
  left: 0;
  top: 70px;
}

.function_zone .chips {
  position: relative;
  left: 0;
  float: unset;
}

.chips {
  height: 56px;
  width: 35px;
  position: relative;
  padding: 5px;
  margin-left: 14px;
  display: inline;
}

.chips li {
  width: 67px;
  height: 66px;
  /* margin-right: 10px;
  position: relative;
  top: 0;
  list-style: none;
  cursor: pointer; */

  position: relative;
  top: 0;
  list-style: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

/* .chips .chips_1 p {

  background-image: url('assets/chips/chip.svg');
}
.chips .chips_2 p, .chips .chips_5 p {
  background-image: url('assets/chips/chipred.svg');
} */
.chips li img {
  filter: drop-shadow(0 0 0.25rem #fd8f3b);
}

.chips li p,
.chips li img {
  width: 67px;
  height: 66px;
  text-align: center;
  line-height: 57px;
  font-size: 14px;
  color: #272727;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background-size: 100% 100%;

}

.chips li .shadow {
  position: absolute;
  width: 64px;
  height: 50px;
  background: 0 0;
  z-index: 10;
  top: 0;
  left: calc(50% - 64px/2);
  border-radius: 104px/86px;
  box-shadow: none;
  font-size: 0;
  text-indent: -99999px;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.chips li .line {
  display: none;
  position: absolute;
  width: 74px;
  height: 74px;
  /* background: url(chips_line.6cefef22e4c1528bccfd.png) center center no-repeat; */
  border-radius: 100px;
  bottom: -6px;
  left: calc(50% - 74px/2);
  z-index: 5;
  font-size: 0;
  text-indent: -99999px;
}

.chips li .ring {
  position: absolute;
  width: 64px;
  height: 52px;
  border: 0 solid #fd8f3b;
  border-radius: 100px/76px;
  bottom: 0;
  left: calc(50% - 64px/2);
  font-size: 0;
  text-indent: -99999px;
}

.chips li:hover {
  top: -5px;
  transition: all .15s linear;
}

.chips li.now {
  height: 23px;
  top: -5px;
  transition: all .15s linear;
}

@media screen and (min-width:767px) {
  .chips li.now {
      height: 23px;
      top: 2px;
      /* top: -5px; */
      transition: all .15s linear;
  }

  .function_zone,
  .function_zone_many {
      white-space: unset !important;
      overflow-y: unset !important;
      /* width: 100%; */
      width: 83% !important;
      overflow-x: unset !important;
      display: inline-block;
      justify-content: center;
      padding: 0 4px;
  }
  .virtual-chip{ width: 100% !important;}

  /* chips css start  */
  .function_zone,
  .function_zone_many {
      width: 100%;
      height: 100px;
      line-height: 83px !important;
      z-index: 1;
      /* background: rgb(146, 213, 232); */
      text-align: center;
  }
}

.chips li.now .shadow {
  display: block;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .6);
  top: 12px;
}

.chips li.now .line {
  display: none;
}

.chips li.now .ring {
  border: 4px solid #fd8f3b;
  transition: all .15s linear;
  display: revert;
  top: 30px;
}

.fancy-info {
  justify-content: right !important;
}

.recent-res::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 992px) {

  .loadingBalance {
      width: 80px;
  }

  .chips li:hover {
      top: 0;
      transition: none;
  }

  .chips {
      left: 0;
      height: 56px;
      padding: 0;
      margin: 0;
  }

  .chips li {
      width: 45px;
      height: 4px;
      margin-right: 8px;
  }

  .chips li p,
  .chips li img {
      width: 50px;
      height: 62px;
      font-size: 10px;
  }

  .chips li .ring {
      position: absolute;
      width: 46px;
      height: 33px;
      border-radius: 100px/85px;
      bottom: 12px;
      left: calc(50% - 40px/2);
  }

}

/* @media only screen and (max-width: 767px) { */

.function_zone,
.function_zone_many {
  white-space: nowrap;
  overflow-y: hidden;
  width: 100%;
  overflow-x: scroll;
  display: inline-block;
  justify-content: center;
  padding: 0 4px;
}

/* } */

/* chips css end */

/*highlighter Class Animation starts*/
@-webkit-keyframes anim-opac {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
  }
}

@keyframes anim-opac {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
  }
}

.SparkBack::before {
  -webkit-animation: anim-opac 1s both;
  animation: anim-opac 1s both;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f8e71c;
  border: 1px solid #f8e71c;
  content: " ";
  border-radius: inherit;
  display: flex;

  width: 100%;
  height: 100%;
}

.SparkLay::before {
  -webkit-animation: anim-opac 1s both;
  animation: anim-opac 1s both;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #72bbef;
  border: 1px solid #72bbef;
  content: " ";
  border-radius: inherit;
  display: flex;

  width: 100%;
  height: 100%;
}

/*highlighter class Animation Ends*/

app-casino-room {
  position: absolute;
  z-index: 1;
  right: 0;
}

.suspended:after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #ffff;
  text-transform: uppercase;
  font-family: "Font Awesome 5 Free";
  content: "\f023";
  font-weight: 900;
  font-size: 18px;
  top: 0;
  z-index: 10;
  width: 100%;
}

.btn-theme {
  background: linear-gradient(180deg, #000000, #000000 42%, #000000);
  color: #ffffff;
  padding: 6px;
  border: 0;
  box-shadow: none;
  outline: 0;
  font-size: 14px;
  width: 100%;
  position: relative;
}


/* lucky7a cmp */
.light-bg {
  background: #f1f5f8;
  padding-top: 5px;
  padding-bottom: 5px;
}

.row.row5 {
  margin-left: -5px;
  margin-right: -5px;
}

.h-18 {
  height: 18px;
  line-height: 18px;
}

.btn-theme {
  height: 33px;
}

.container-fluid {
  padding-right: calc(var(--bs-gutter-x) * 0.2);
  padding-left: calc(var(--bs-gutter-x) * .0);
}

.text-right {
  text-align: right !important;
}

.casino-container {
  font-size: 12px !important;
}

.mr-2 {
  margin-right: 10px;
}

.float-right {
  float: right !important;
}



/* lucky7a cmp*/


@media only screen and (max-width: 321px) {
  .navbar-brand {
      margin-right: 0.45rem !important;
  }
}

@media only screen and (max-width: 992px) {
  .hidden-xs {
      display: none !important;
  }
}

.video-overlay .round-id {
  font-size: 10px !important;
}

.video-overlay h3 {
  font-size: 12.5px !important;
  padding-bottom: 3px;
  padding-top: 3px;
}

.minMaxDesktop {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
}

@media screen and (max-width:600px) {
  .minMaxDesktop {
      display: none;
  }

  .minMaxMobile {
      width: 23px;
  }
}

@media screen and (min-width:601px) {
  .minMaxMobile {
      display: none;
  }
}

.back-1 a,
.back-2 a,
.back-3 a {
  color: black;
}

.lay-1 a,
.lay-2 a,
.lay-3 a {
  color: black;
}

.back-1.active,
.back-2.active,
.back-3.active {
  background-color: var(--market-details-cmp-odd-row-back-1-active-background) !important;
  color: var(--market-details-cmp-odd-row-back-1-active-color) !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .5);
}

.fancy-quick-btn.active {
  background-color: var(--market-details-cmp-odd-row-back-1-active-background) !important;
  color: var(--market-details-cmp-odd-row-back-1-active-color) !important;
}

.back-1.active a,
.back-2.active a,
.back-3.active a {
  color: var(--market-details-cmp-odd-row-back-1-active-color) !important;
}

.lay.active,
.lay-1.active,
.lay-2.active,
.lay-3.active {
  background-color: var(--market-details-cmp-odd-row-lay-1-active-background) !important;
  ;
  color: var(--market-details-cmp-odd-row-lay-1-active-color) !important;
  ;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .5);
}

.lay.active a,
.lay-1.active a,
.lay-2.active a,
.lay-3.active a {
  color: var(--market-details-cmp-odd-row-back-1-active-color) !important;
}

@media only screen and (min-width:1024px) {
  .loadingBalance {
      width: 100px;
  }
}

.loadingBalance span {
  display: inline-block;
  vertical-align: middle;
  /* width: .6em;
height: .6em; */
  width: .2em;
  height: .2em;
  margin: .19em;
  background: var(--header-text-color);
  border-radius: .6em;
  animation: loadingBalance 0.5s infinite alternate;
}

/*
* Dots Colors
* Smarter targeting vs nth-of-type?
*/
.loadingBalance span:nth-of-type(2) {
  background: var(--header-text-color);
  animation-delay: 0.1s;
}

.loadingBalance span:nth-of-type(3) {
  background: var(--header-text-color);
  animation-delay: 0.2s;
}

.loadingBalance span:nth-of-type(4) {
  background: var(--header-text-color);
  animation-delay: 0.3s;
}

.loadingBalance span:nth-of-type(5) {
  background: var(--header-text-color);
  animation-delay: 0.4s;
}

.loadingBalance span:nth-of-type(6) {
  background: var(--header-text-color);
  animation-delay: 0.5s;
}

.loadingBalance span:nth-of-type(7) {
  background: var(--header-text-color);
  animation-delay: 0.6s;
}

.loadingBalance span:nth-of-type(8) {
  background: var(--header-text-color);
  animation-delay: 0.7s;
}

.loadingBalance span:nth-of-type(9) {
  background: var(--header-text-color);
  animation-delay: 0.8s;
}

.loadingBalance span:nth-of-type(10) {
  background: var(--header-text-color);
  animation-delay: 0.9s;
}

.loadingBalance span:nth-of-type(11) {
  background: var(--header-text-color);
  animation-delay: 1s;
}

/*
* Animation keyframes
* Use transition opacity instead of keyframes?
*/
@keyframes loadingBalance {
  0% {
      width: .2em;
      height: .2em;
      opacity: 0;
  }

  50% {
      width: .4em;
      height: .4em;
      opacity: 0.5;
  }

  100% {
      width: .6em;
      height: .6em;
      opacity: 1;


  }
}

.andar-bahir-container .owl-stage {
  display: flex;
}




.andar-bahir-container .owl-theme .owl-nav [class*=owl-] {
  color: #f68f00;
  /* background: #061017; */
  background: transparent;
}

.andar-bahir-container .owl-theme .owl-nav [class*=owl-]:hover {
  /* background: #061017; */
  background: transparent;
  color: #f68f00;
}

.andar-bahir-container .owl-carousel .owl-item {
  /* width: 23px !important; */
}

.andar-bahir-container .crousel {
  width: 80px !important;
}

.andar-bahir-container .owl-theme .owl-dots,
.owl-theme .owl-nav {
  margin-top: 0px !important;
}

.andar-bahir-container .owl-theme .owl-dots,
.owl-theme .owl-nav {
  position: absolute;
  top: -4px;
}

.andar-bahir-container .owl-carousel .owl-nav .owl-prev {

  left: 25px;
  position: relative;
}

.andar-bahir-container .owl-carousel .owl-nav .owl-next {
  right: 40px;
  position: relative;
}

.andar-bahir-container .owl-carousel .owl-stage {
  flex-direction: row-reverse;
}

.loaderMain {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  z-index: 10000;
}

.loaderMain img {
  width: 350px;
}


.kbc-tab.active {
  background: var(--sportsbar-bg) !important;
}

@media only screen and (max-width:768px) {
  body {
      overflow: hidden;
  }
}

.plus-book2,
.minus-book2{
  margin-left: 2px !important;
}
tr:nth-child(odd) {
  --tw-bg-opacity: 1;
  background-color: transparent !important;
}
tr:hover {
  --tw-bg-opacity: 1;
  background-color: transparent !important;
}
