


/* You can add global styles to this file, and also import other style files */
:root {
  /* --pockerHeader: linear-gradient(90deg, rgb(247 184 136) 0%, rgb(247 184 136 / 50%) 49%, rgb(247 184 136) 100%);
  --pockerWinnerMarketBg: linear-gradient(-180deg, #f7b888 0%, #fd3523 100%); */
  /*
  ***********************
  ##### side bar component #####
  ***********************
*/
  --mainBodyBG: #ededed;
  --side-bar-cmp-sidebar-color: #fff;
  --side-bar-cmp-sidebar-nav-bg: #fff;
  --side-bar-cmp-top-head-sport-bg: #000;
  --side-bar-cmp-sidebar-nav-item-nav-link-border: #d2d6e2;
  --side-bar-cmp-sidebar-nav-link-color: #223869;
  --side-bar-cmp-nav-dropdown-open-nav-link-color: #1b2d52;
  --side-bar-cmp-sidebar-nav-link-hover-bg: #e6efd1;
  --side-bar-cmp-sidebar-nav-link-hover-color: #1b2d52;
  /*
  _______________________
  ##### side bar component #####
  _______________________
*/

  /*
  ***********************
  ##### right nav component #####
  ***********************
*/
  --markets-cmp--keyframes-newlaunchinplay-zero-color: #ff0000;
  --markets-cmp--keyframes-newlaunchinplay-fifty-color: #ff0;
  --markets-cmp--keyframes-newlaunchinplay-hundred-color: #00f;

  --right-nav-cmp-card-header-bg: linear-gradient(-180deg, #000000 0%, #000000 100%);
  --right-nav-cmp-card-header-color: #fff;
  --right-nav-cmp-card-accrdn-border: #c8ced3;
  --right-nav-cmp-nav-tabs-bg: #CED5DA;
  --right-nav-cmp-nav-tabs-nav-item-bg: #fff;
  --right-nav-cmp-all-sports-list-bg: #fff;
  --right-nav-cmp-sport-nav-nav-item-border: #e0e6e6;
  --right-nav-cmp-aside-menu-color: #2f353a;
  --right-nav-cmp-aside-menu-bg: #fff;
  --right-nav-cmp-aside-menu-border: #c8ced3;
  --right-nav-cmp-webkit-scrollbar-thumb-bg: #e6e5e5;
  --right-nav-cmp-webkit-scrollbar-track-bg: #fff;
  --right-nav-cmp-webkit-scrollbar-track-border: #f2f2f2;
  --right-nav-cmp-btn-gad-border: #e0e6e6;
  --right-nav-cmp-matched-826-bg: #fff;
  --right-nav-cmp-slip-3ga-bg: #beddf4;
  --right-nav-cmp-slip-3ga-border: #67afe5;
  --right-nav-cmp-slip-y8o-bg: #f3dce2;
  --right-nav-cmp-slip-y8o-border: #dfa3b3;
  --right-nav-cmp-option-g3c-border: #e0e6e6;
  --right-nav-cmp-slip-3ga-ref-epq-bg: #d4e8f8;
  --right-nav-cmp-slip-3ga-ref-epq-color: #3b5160;
  --right-nav-cmp-slip-y8o-dd-color: #243a48;
  --right-nav-cmp-slip-slip-y8o-ref-epq-bg: #f7e7eb;
  --right-nav-cmp-slip-3ga-slip-ys5-bg: #7dbbe9;
  --right-nav-cmp-slip-y8o-slip-ys5-bg: #dfa3b3;
  --right-nav-cmp-slip-y8o-dt-span: #222;
  --right-nav-cmp-Linemarket-slip-3ga-bg: #5baca7;
  --right-nav-cmp-Linemarket-slip-3ga-border: #50d0ae;
  --right-nav-cmp-Linemarket-slip-3ga-slip-ys5-bg: #1C282D;
  --right-nav-cmp-Linemarket-slip-3ga-slip-ys5-color: #fff;
  --right-nav-cmp-Linemarket-slip-y8o-bg: #50d0ae;
  --right-nav-cmp-Linemarket-slip-y8o-border: #5baca7;
  --right-nav-cmp-Linemarket-slip-y8o-slip-ys5-bg: #1C282D;
  --right-nav-cmp-Linemarket-slip-y8o-slip-ys5-color: #fff;
  --right-nav-cmp-SPORTSBOOK_BG-bg: #d3edd0;
  --right-nav-cmp-SPORTSBOOK_BG-border: #16a660;
  --right-nav-cmp-SPORTSBOOK_BG-slip-ys5-bg: #16a660;
  /*
  _______________________
  ##### right nav component #####
  _______________________
*/


  /*
  ***********************
  ##### betslip component #####
  ***********************
*/
  --betslip-cmp-ui-link-bg: rgba(0, 0, 0, .7);
  --betslip-cmp-modal-body-bg: #000;
  --betslip-cmp-modal-body-color: #fff;
  --betslip-cmp-btn-verification-bg: rgba(0, 0, 0, 0);
  --betslip-cmp-btn-verification-border: #fff;
  --betslip-cmp-btn-verification-color: #fff;
  --betslip-cmp-btn-confirm-bg: #000;
  --betslip-cmp-btn-confirm-color: #fff;
  --betslip-cmp-stakeinput-disable-bg: #b2bcc5;
  --betslip-cmp-stakeinput-disable-border: #b2bcc5;
  --betslip-cmp-stakeactionplus-disable-bg: #b2bcc5;
  --betslip-cmp-stakeactionminus-disable-bg: #b2bcc5;
  --betslip-cmp-slip-lay-br-border-t: #dfa3b3;
  --betslip-cmp-slip-lay-bg: #faeff2;
  --betslip-cmp-slip-back-br-border-t: #7dbbe9;
  --betslip-cmp-slip-back-bg: #d4e8f8;
  --betslip-cmp-input-Betslip-bg: #eee;
  --betslip-cmp-input-Betslip-border: #3333337a;
  --betslip-cmp-input-Betslip-color: #1e1e1e;
  --betslip-cmp-quick-bet-confirm-bg: rgba(255, 255, 255, .5);
  --betslip-cmp-quick-bet-confirm-color: rgb(33, 33, 33);
  --betslip-cmp-btn-cancel-bg: #eee;
  --betslip-cmp-btn-cancel-color: #1e1e1e;
  --betslip-cmp-btn-cancel-border: #333;
  --betslip-cmp-btn-send-active-bg: linear-gradient(-180deg, #315195 0, #14213d 100%);
  --betslip-cmp-btn-send-active-color: #fff;
  --betslip-cmp-btn-send-active-border: #000;
  --betslip-cmp-btn-send-bg: #a4a4a4;
  --betslip-cmp-btn-send-color: #e6dfcd;
  --betslip-cmp-btn-send-border: #333;
  /* --betslip-cmp-slip-back-bg: #beddf4; */
  /* --betslip-cmp-slip-lay-bg: #f3dce2; */
  --betslip-cmp-stakeactionminus-bg: linear-gradient(-180deg, #fff 0, #eee 89%);
  --betslip-cmp-stakeactionminus-color: #0000ff;
  --betslip-cmp-stakeactionminus-border: #aaa;
  --betslip-cmp-back-bg: #a7d8fd;
  /*
  _______________________
  ##### betslip component #####
  _______________________
*/
  /*
  ***********************
  ##### Header component #####
  ***********************
*/
  --header-bg: #000;
  --header-border-bottom-color: #c8ced3;
  --header-navbar-brand-backgound-color: transparent;
  --header-a-hover-color: unset;
  --header-searchbar-border-color: #ffffff;
  --header-searchbar-focus-box-shadow: unset;
  --header-btn-background-color: linear-gradient(-180deg, #f72424 0%, #bb1c00 100%);
  --header-btn-color: #ffffff;
  --header-signup-btn-background: linear-gradient(-180deg, #fd8f3b 0%, #fd3523 100%);
  --header-signup-text-color: #ffffff;
  --header-login-signup-color: #ffffff;
  --header-login-signup-button-background-disabled: linear-gradient(-180deg, #f72424 0%, #bb1c00 100%);
  --header-open-bets-color: #ffffff;
  --header-open-bets-border: #0b1933;
  --header-open-bets-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .4);
  --header-bet-refresh-color: #ffffff;
  --header-bet-refresh-border: #0b1933;
  --header-bet-refresh-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .4);
  --header-bet-setting-color: #ffffff;
  --header-bet-setting-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .4);
  --header-bet-setting-border: #0b1933;
  --header-exp-red-color: #d0021b;
  --header-bet-setting-a-color: #ffffff;
  --header-user-blnc-color: #ffffff;
  --header-head-refresh-a-color: #ffb80c;
  --header-dropdown-item-border-bottom-color: #c8ced3;
  --header-drp-logout-background-active: transparent;
  --header-loginBtn-background: linear-gradient(-180deg, #fd8f3b 0%, #fd3523 100%);
  --header-loginBtn-color: #ffffff;
  --header-my-input-placeholder-color: #73818f;
  --header-modal-content-border: unset;
  --header-modal-content-background: #000000;
  --header-login-popup-content-background: linear-gradient(-180deg, #000000 0%, #000000 100%);
  --header-login-popup-content-shadow: 5px 5px 5px #666;
  --header-form-login-input-border: #3e8142;
  --header-close-color: #ffffff;
  --header-input-placeholder-color: #ff0000;
  --header-span-defaultval-color: #73818f;
  --header-close-signup-color: #000000;
  --header-exposure-modal-header-border-bootom: #c8ced3;
  --header-exposure-button-close-color: #fff;
  --header-exposure-button-text-shadow: #fff;
  --header-exposure-modal-body-background: #ffffff;
  --header-exposure-modal-body-color: #ffffff;
  --header-exposure-modal-body-table-border: #333;
  --header-exposure-modal-body-table-thead-background: #c8ced3;
  --header-exposure-details: #ffff;
  --header-exposure-modal-body-a-color: #2789ce;
  --header-dropdown-menu-background: #fff;
  --header-dropdown-menu-border: #c8ced3;
  --header-logout-btn-hover-background: linear-gradient(180deg, #2A3A43 27%, #1C282D 83%);
  --header-dropdown-header-border-bottom: #333;
  --header-dropdown-item-i-color: #c8ced3;
  --header-myaccnt-my-acc-font-color: #ffffff;
  --header-search-icon-div-background: #ffffff;
  --header-search-icon-div-border: #ccc;
  --header-search-icon: #555555c2;
  --header-search-icon-cross-color: #5555558f;
  --header-username-color: #5c6873;
  --header-login-popup-content-background: linear-gradient(-180deg, #000000 0%, #000000 100%);
  --header-btn-confirm-background: #fff;
  --header-btn-verification-background: rgba(0, 0, 0, 0);
  --header-btn-verification-border: #fff;
  --header-btn-verification-color: #fff;
  --header-modal-body-background: #000000;
  --header-modal-body-color: #ffffff;
  --header-dropdown-item-active-background: #f0f3f5;
  --header-header-popup-close-background: #000000;
  --header-confirm-line-border-top: #fff;
  --header-username-placeholder-color: #5c6873;
  --header-err-invalid-color: #ffffff;
  --header-searchbox: #ffffff;
  --header-searchlist-hover-background: #f5faff;
  --header-Fancy-marketCategoryList-color: #fff;
  --header-Fancy-marketCategoryList-bg: linear-gradient(180deg, #030a12, #444647 42%, #58595a);
  --header-selectedMarket-color: #000;
  --header-selectedMarket-bg: linear-gradient(-180deg, #fd8f3b 0%, #fd3523 100%);
  /*
  _______________________
  ##### Header component #####
  _______________________
*/

  /*
  ***********************
  ##### header-nav component #####
  ***********************
*/
  --header-nav-cmp-navbar-item-color: #000;
  --header-nav-cmp-navbar-item-active-color: rgb(255, 255, 255);
  --header-nav-cmp-menu-wrap-bg: linear-gradient(-180deg, #fd8f3b 0%, #fd3523 100%);
  --header-nav-cmp-ver-menu-color: #000;
  --header-nav-cmp-ver-menu-border: #797777;
  --header-nav-cmp-anchorColorWhite-color: #fff;
  --header-nav-cmp-ver-menu-active-color: #fff;
  --header-nav-cmp-a-clicked-color: #fff;
  --header-nav-cmp-settings-color: #000;
  --header-nav-cmp-settings-border: #797777;
  --header-nav-cmp-a-color: #000;
  /*
  _______________________
  ##### header-nav component #####
  _______________________
*/



  /* --topHeaderColor: linear-gradient(-180deg, #315195 0%, #14213D 100%); */
  /* --topHeaderColor: linear-gradient(-180deg, #ffffff 0%, #000000 100%); */
  --topHeaderColor: linear-gradient(-180deg, #fd8f3b 0%, #fd3523 100%);
  --headRefreshPS: -80px -1825px;
  --newsColor: linear-gradient(180deg, #2A3A43 27%, #1C282D 83%);
  --headerDropdwonHead: #e4e7ea;
  --headerDropdwonColor: #23282c;
  --headerBoxcellBG: #c8ced2;
  --PlayText: "#ffffff";
  --eventText: '#ffffff';
  --eventBg: '#000';
  --timerValue: 20s;
  --heightTop: 188px;

  --active-button: linear-gradient(-180deg, #32617f 20%, #1f4258 91%);
  --theme-color: linear-gradient(-180deg, #243a48 20%, #172732 91%);
  --openBetBG: linear-gradient(-180deg, #2E4B5E 0%, #243A48 82%);
  --text-color-white: #fff;
  --primary: #20a8d8;
  --event-bgcolor-SideNav: linear-gradient(180deg, #2A3A43 27%, #1C282D 83%);


  --event-bgcolor-BottomNav: linear-gradient(-180deg, #243a48 20%, #172732 91%);
  --event-bgcolor-BottomNav-active: linear-gradient(-180deg, #32617f 20%, #1f4258 91%);

  --app-backgroudColor: rgb(0, 0, 0);

  --bg-table: #2E3439;
  --text-table: #AAAFB5;
  --text-white: #ffffff;

  --back-color: rgba(114, 187, 239, 0.75);
  --lay-color: rgba(250, 169, 186, 0.75);
  --marque-color: #d7d7d7;

  --bg-table-header: #3c444b;
  --text-table-header: #AAAFB5;


  --theme2-bg85: #2c3e50;
  --primary-color: #ffffff;
  --secondary-color: #ffffff;

  /* font size */
  --font-v-small: 10px;

  --font-small: 12px;
  --font-caption: 15px;


  --blue: #20a8d8;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #f86c6b;
  --orange: #f8cb00;
  --yellow: #ffc107;
  --green: #4dbd74;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #73818f;
  --gray-dark: #2f353a;
  --light-blue: #63c2de;
  --primary: #20a8d8;
  --secondary: #c8ced3;
  --success: #4dbd74;
  --info: #63c2de;
  --warning: #ffc107;
  --danger: #f86c6b;
  --light: #f0f3f5;
  --dark: #2f353a;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  /* --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  /* --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
  /* --topHeaderColor: linear-gradient(-180deg, #315195 0%, #14213D 100%); */
  --loginButtonColor: linear-gradient(-180deg, #f72424 0%, #bb1c00 100%);
  --menuColor: linear-gradient(#A4DC60 0%, #4F9F21 100%);
  --sportMenuHead: linear-gradient(-180deg, #315195 0%, #14213D 100%);
  --sportHeadColor: #A4DC60;
  --sportHeadColor: #A4DC60;
  --highlistFirstBG: linear-gradient(#4f9f21 0, #a4dc60 80%);
  --highlistSecondBG: linear-gradient(#a4dc60 0, #4f9f21 100%);
  --highlistTextColor: #000000;
  --tabColor: linear-gradient(180deg, #2A3A43 27%, #1C282D 83%);
  --openBetBG: linear-gradient(-180deg, #2E4B5E 0%, #243A48 82%);
  --highlightMobileBG: linear-gradient(-180deg, #2E4B5E 0%, #243A48 82%);
  --btnColor: linear-gradient(-180deg, #315195 0%, #14213D 100%);
  --loginBGColor: linear-gradient(#A4DC60 0%, #4F9F21 100%);
  --outerMenuColor: #000000;
  --outerMenuActiveColor: #ffffff;
  --newsColor: linear-gradient(180deg, #2A3A43 27%, #1C282D 83%);
  --headRefreshPS: -80px -1825px;
  --headAccountPS: 0 -825px;
  --openBetTextColor: #003b03;
  --warning: #2f353a;
  --primary: #315195;


  /*
  ***********************
  ##### side nav bet component #####
  ***********************
*/
  --side-nav-cmp-user-menus-matched-826-li-a-color: #ffffff;
  --side-nav-cmp-user-menus-matched-826-li-a-border: #dcdcdc;
  --side-nav-cmp-user-menus-border: #c8ced3;
  --side-nav-cmp-left-bar-bg: #fff;
  --side-nav-cmp-openBetHeader-bg: #222;
  --side-nav-cmp-openBetHeader-bg-image: linear-gradient(-180deg, #fd8f3b 0%, #fd3523 100%);
  --side-nav-cmp-openBetHeader-btm-border: #c8ced3;
  --side-nav-cmp-openBetHeader-color: #020302;
  --side-nav-cmp-close-color: black;
  --side-nav-cmp-matched-head-bg: #fff;
  --side-nav-cmp-slip-back-bg: #beddf4;
  --side-nav-cmp-slip-back-btm-border: #67afe5;
  --side-nav-cmp-slip-lay-bg: #f3dce2;
  --side-nav-cmp-slip-lay-btm-border: #dfa3b3;
  --side-nav-cmp-slip-lay-slip-type-bg: #dfa3b3;
  --side-nav-cmp-scrollSlip-slip-back-bg: #beddf4;
  --side-nav-cmp-slip-back-slip-lay-refer-color: #3b5160;
  --side-nav-cmp-slip-back-keep-option-bg: #d4e8f8;
  --side-nav-cmp-slip-back-dt-slip-type-color: #1e1e1e;
  --side-nav-cmp-slip-back-slip-type-bg: #7dbbe9;
  --side-nav-cmp-slip-back-dt-span-color: #222;
  --side-nav-cmp-slip-back-dt-span-color: #222;
  --side-nav-cmp-slip-back-dd-color: #243a48;
  --side-nav-cmp-slip-back-refer-color: #3b5160;
  --side-nav-cmp-slip-lay-keep-option-bg: #d4e8f8;
  --side-nav-cmp-aside-menu-color: #2f353a;
  --side-nav-cmp-aside-menu-bg: #fff;
  --side-nav-cmp-aside-menu-border-left: #c8ced3;
  --side-nav-cmp-content-534-bg: #fff;
  --side-nav-cmp-content-534-border: #c8ced3;
  --side-nav-cmp-content-534-border-top: #c8ced3;
  --side-nav-cmp-aside-menu-content-534-webkit-scrollbar-thumb-bg: #e6e5e5;
  --side-nav-cmp-aside-menu-content-534-webkit-scrollbar-track-bg: #fff;
  --side-nav-cmp-aside-menu-content-534-webkit-scrollbar-track-border-left: #f2f2f2;
  --side-nav-cmp-aside-menu-content-534-webkit-scrollbar-track-border-right: #f2f2f2;
  --side-nav-cmp-btn-gad-border-top: #e0e6e6;
  --side-nav-cmp-matched-826-bg: #fff;
  --side-nav-cmp-slip-3ga-bg: #beddf4;
  --side-nav-cmp-slip-3ga-btm-border: #67afe5;
  --side-nav-cmp-slip-y8o-bg: #f3dce2;
  --side-nav-cmp-slip-y8o-btm-border: #dfa3b3;
  --side-nav-cmp-option-g3c-border-top: #e0e6e6;
  --side-nav-cmp-slip-3ga-dd-color: #243a48;
  --side-nav-cmp-slip-3ga-ref-epq-bg: #d4e8f8;
  --side-nav-cmp-slip-3ga-ref-epq-color: #3b5160;
  --side-nav-cmp-slip-y8o-dd-color: #243a48;
  --side-nav-cmp-slip-slip-y8o-ref-epq-color: #3b5160;
  --side-nav-cmp-slip-slip-y8o-ref-epq-bg: #f7e7eb;
  --side-nav-cmp-slip-3ga-dt-span-color: #222;
  --side-nav-cmp-slip-3ga-slip-ys5-bg: #7dbbe9;
  --side-nav-cmp-slip-3ga-dt-slip-ys5-color: #1e1e1e;
  --side-nav-cmp-slip-y8o-dt-span-color: #222;
  --side-nav-cmp-slip-y8o-slip-ys5-bg: #dfa3b3;
  --side-nav-cmp-slip-y8o-dt-span-color: #222;
  --side-nav-cmp-slip-y8o-dt-slip-ys5-color: #1e1e1e;
  --side-nav-cmp-option-g3c-label-color: #1e1e1e;
  --side-nav-cmp-nav-link-color: #223869;
  --side-nav-cmp-nav-link-btm-border: #d2d6e2;
  --side-nav-cmp-nav-link-before-border: #e0e6e6;
  --side-nav-cmp-nav-link-color: #2789ce;
  --side-nav-cmp-nav-link-webkit-highlight-color: rgba(182, 223, 253, .5);
  --side-nav-cmp-all-sports-list-ul-li-nav-link-webkit-highlight-color: rgba(182, 223, 253, .5);
  --side-nav-cmp-all-sports-list-ul-li-nav-link-color: #2789ce;
  --side-nav-cmp-sport-nav-nav-item-btm-border: #e0e6e6;
  --side-nav-cmp-all-sports-list-bg: #fff;
  --side-nav-cmp-card-bg: #fff;
  --side-nav-cmp-card-border: #c8ced3;
  --side-nav-cmp-aside-menu-bg: #fff;
  --side-nav-cmp-aside-menu-color: #2f353a;
  --side-nav-cmp-aside-menu-border-left: #c8ced3;
  --side-nav-cmp-matched-nav-bg: #CED5DA;
  --side-nav-cmp-matched-nav-nav-item-match-bg: #fff;
  --side-nav-cmp-matched-nav-nav-item-match-match-nav-link-color: #020302;
  /*
  _______________________
  ##### side nav bet component #####
  _______________________
*/
  /*
  ***********************
  ##### bottom-nav component #####
  ***********************
*/
  --bottom-nav-cmp-support-wrap-color: rgba(0, 0, 0, .6);
  --bottom-nav-cmp-mobile-footer-menu-bg: linear-gradient(-180deg, #243a48 20%, #172732 91%);
  --bottom-nav-cmp-mobile-footer-menu-color: #fff;
  --bottom-nav-cmp-mobile-footer-menu-a-color: #fff;
  --bottom-nav-cmp-active-link-bg: linear-gradient(-180deg, #32617f 20%, #1f4258 91%);
  /*
  _______________________
  ##### bottom-nav component #####
  _______________________
*/
  --market-details-cmp-odd-row-back-1-active-background: #1a8ee1;
  --market-details-cmp-odd-row-back-1-active-color: #fff;
  --market-details-cmp-odd-row-lay-1-active-background: #f4496d;
  --market-details-cmp-odd-row-lay-1-active-color: #fff;
}

html,
body {
  background: var(--mainBodyBG);
  /* background: var(--app-backgroudColor); */

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Tahoma, Helvetica, sans-serif;
  top: 0 !important;
  /* overflow-y: scroll; */
  touch-action: manipulation;
  /* Add the ability to scroll */
}

.casino-font {
  font-size: 40px;
  line-height: 40px;
  font-family: CasinoNumFont;
}

.casino-numfont {
  font-size: 150px;
  font-family: 'CasinoNumFont';
  line-height: 0.8;
  color: #6A0015;
  font-weight: normal;
}

/* @font-face {
  font-family: 'CasinoNumFont';
  src: url('src/assets/fonts/Casino 3D Marquee Regular/@font-face/3f7725f6e641df6ad0e55c6350983a43.woff2') format('woff2'),
      url('src/assets/fonts/Casino 3D Marquee Regular/Casino 3D Marquee Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monoton';
  src: url('./assets/fonts/Monoton-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Card Characters";
  src: url("assets/fonts/card.ttf");
}

@font-face {
  font-family: 'CasinoNumFont';
  src: url('src/assets/fonts/Casino 3D Marquee Regular/@font-face/3f7725f6e641df6ad0e55c6350983a43.woff2') format('woff2'), url('src/assets/fonts/Casino 3D Marquee Regular/Casino 3D Marquee Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

.casino-numfont {
  font-size: 150px;
  font-family: 'CasinoNumFont';
  line-height: 0.8;
  color: #6A0015;
  font-weight: normal;
}

.casino-font {
  font-size: 40px;
  line-height: 40px;
  font-family: CasinoNumFont;
}


.card-icon {
  font-family: Card Characters;
  width: 24px;
  text-align: right;
  display: inline-block;
}

.card-red {
  color: #FF0000;
}

.card-black {
  color: #000000;
}


.card-icon {
  font-family: Card Characters;
  width: 24px;
  text-align: right;
  display: inline-block;
}

.card-red {
  color: #ff0000;
}

.card-black {
  color: #000000;
}



.btn-primary {
  border-color: unset;
  background: var(--newsColor);
}


.threecardj-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-table-header);
  color: var(--text-table-header);
  padding: 5px;
  font-size: 13px;
}

.navBar {
  background: var(--topHeaderColor);
  height: 70px;

}

.modal-header {
  background: var(--modal-header-bg);
  color: var(--modal-header-text);
  padding: .25rem .4rem;
  border: 1px solid var(--modal-header-text);
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

.close {
  float: right;
  font-size: 1.7125rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.close {
  color: #fff;
  opacity: 1;
}

.close-btn {
  background: transparent;
  border: 0px;
  color: white;
}

.modal-body {
  background: var(--header-color);
  padding: 0px;
  overflow-y: scroll;
  max-height: 93vh;

}

@media only screen and (min-width: 320px) and (max-width: 1279px) {
  body {
      font-size: var(--font-small);
  }

  .modal-title {
      font-size: var(--font-caption);
  }

}





/* box start */

.minus-book {
  color: var(--matchodds-pl-minus) !important;
  display: inline-block;
  font-weight: bold !important;
  margin-left: 5px;
}

.plus-book {
  color: var(--matchodds-pl-plus) !important;
  display: inline-block;
  font-weight: bold !important;
  margin-left: 5px;
}



.box-1 {
  width: 10%;
  min-width: 10%;
  max-width: 10%;
}

.box-2 {
  width: 23%;
  min-width: 20%;
  max-width: 20%;
}

.box-3 {
  width: 30%;
  min-width: 30%;
  max-width: 30%;
}

.box-4 {
  width: 40%;
  min-width: 40%;
  max-width: 40%;
}

.box-5 {
  min-width: 50%;
  max-width: 50%;
}

.box-6 {
  width: 60%;
  min-width: 60%;
  max-width: 60%;
}

.box-7 {
  width: 70%;
  min-width: 70%;
  max-width: 70%;
}

.box-8 {
  width: 80%;
  min-width: 80%;
  max-width: 80%;
}

.box-9 {
  width: 90%;
  min-width: 90%;
  max-width: 90%;
}

.box-10 {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.min-max-info {
  right: 0;
}

.back {
  background-color: #a7d8fd !important;
  cursor: pointer;
}

.back-1,
.back1 {
  background-color: rgba(114, 187, 239, 0.5);
  cursor: pointer;
}

.back-2,
.back2 {
  background-color: rgba(114, 187, 239, 0.75);
  cursor: pointer;
}

.lay {
  background-color: #f9c9d4 !important;
  cursor: pointer;
}

.lay-2,
.lay2 {
  background-color: rgba(250, 169, 186, 0.75);
  cursor: pointer;
}

.lay-1,
.lay1 {
  background-color: rgba(250, 169, 186, 0.5) !important;
  cursor: pointer;
}



.card .inner-sportbook {
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 700;
  background: var(--marketdetails-marketName-bg);
  color: var(--marketdetails-marketName-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.p-rltv {
  position: relative;
}

.sportbook-market-tbl {
  padding: 0;
  margin: 0;
  background: var(--marketdetails-matchodds-Box-bg);
  /* border: 1px solid var(--market-border); */
  border-bottom-left-radius: 6px;

}

.sportbook-market-tbl table:last-child {
  /* border-bottom-right-radius: 6px; */
}

.inner-sportbook>i {
  margin-right: 0.5rem;
}

.tbl-bets .odd-row {
  border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 992px) {

  /* .tbl-bets .team-name {
      min-width: 165px;
  } */

  .odd-row .team-name .title {
      font-size: 13px;
  }

  .show-xs {
      display: block;
  }

  .hidden-xs,
  .min-max-bet {
      display: none !important;
  }

  .tbl-bets .back-1,
  .tbl-bets .lay-1 {
      min-width: 65px;
      margin: 0;
  }

}

.odd-row .team-name {
  text-align: left;
  padding-left: 6px !important;
}

.tbl-bets td {
  text-align: center;
  font-size: 12px;
  padding: 3px 0;
  font-weight: 700;
  border-top: none;
}

.sportbook-name {
  width: 45%;
  padding-left: 3px !important;
}

.odd-row .team-name .title {
  font-size: 12px;
  display: contents;
  font-weight: 700;
  color: var(--matchodds-runner-text) !important;
}

.tbl-bets .odd-row td span {
  display: block;
  font-weight: 400;
  font-size: 11px;
}

.minus-book {
  color: #d0021b;
  display: block;
  font-weight: 700 !important;
}

.back-1 {
  background-color: #72bbef !important;
  ;
  border-left-color: #fff;
}


@media only screen and (max-width: 767px) {}


.table td,
.table th {

  vertical-align: top;
  border-top: 1px solid var(--marketdetails-matchodds-bottom-border);
  /* border-bottom-right-radius: 6px; */
}

.suspended-casino {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: 700;
  top: 0;
  display: flex;
  text-align: center;
  opacity: .5 !important;
  z-index: 1;
  border-radius: 0 0 5px 5px;
  color: var(--matchodds-suspended-color);
  background: var(--matchodds-suspended-bg);
  border: 2px solid var(--matchodds-suspended-border);
}

.stats-text {
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex: auto;
}


.tooltip-betlimit {
  position: absolute;
  /* inset: 1px auto auto 214px !important; */
  /* right: 31px !important; */
  padding: 0 !important;
  transform: translate3d(0px, -2px, 0px) !important;


  max-width: 200px;
  color: #fff;
  text-align: center !important;
  background-color: #000;
  border-radius: 0.25rem;
}

.tooltip-betlimit span {
  font-size: 12px;
  font-weight: 400;
}



/* suspend only boxk */

.spnd-casinouniqueLay {
  padding: 10px;
  position: absolute;
  font-size: 12px;
  height: 41px;
  font-weight: 700;
  right: 0;
  width: 200%;
  z-index: 1;
  left: 0;
  color: #ca1010;
  text-align: center;
  background: #fff;
  border: 2px solid #ca1010;
}


@media screen and (max-width:993px) and (min-width:280px) {
  .responsiveMobile {
      margin-top: 56px;
  }
}


.suspended {
  position: relative;
}

.suspended:after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--white-color);
  text-transform: uppercase;
  font-family: "Font Awesome 5 Free";
  content: "\f023";
  font-weight: 900;
  font-size: 18px;
  top: 0;
  z-index: 10;
}

.firstboxTpSelected {
  box-shadow: 0px 0px 20px 7px rgb(255 255 255);
  -webkit-box-shadow: 0px 0px 20px 7px rgb(255 255 255);
  -moz-box-shadow: 0px 0px 20px 7px rgb(255 255 255);
  /* background: rgb(0, 0, 0);
      color: rgb(255, 255, 255); */
}


.chips li:not(:hover) {
  transition: all .15s linear;
}


.responsiveMobile {
  margin-top: 55.5px;
  /* overflow-y: hidden; */
  /* -ms-overflow-style: none !important; */
  /* Internet Explorer 10+ */
  /* scrollbar-width: none !important; */
  /* Firefox */
}

.responsiveMobile ::-webkit-scrollbar {
  /* display: none !important; */
  /* Safari and Chrome */
}

.scrollMarket {
  height: 62vh;
  position: relative;
  overflow-y: scroll;
}



/* chips css start  */
.function_zone,
.function_zone_many {
  width: 100%;
  height: 100px;
  line-height: 43px;
  z-index: 1;
  /* background: rgb(146, 213, 232); */
  text-align: center;
}

.function_zone,
.function_zone_many {
  /* position: relative; */
  bottom: 0;
  left: 0;
  top: 70px;
}

.function_zone .chips {
  position: relative;
  left: 0;
  float: unset;
}

.chips {
  height: 56px;
  width: 35px;
  position: relative;
  padding: 5px;
  margin-left: 14px;
  display: inline;
}

.chips li {
  width: 67px;
  height: 66px;
  /* margin-right: 10px;
  position: relative;
  top: 0;
  list-style: none;
  cursor: pointer; */

  position: relative;
  top: 0;
  list-style: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

/* .chips .chips_1 p {

  background-image: url('assets/chips/chip.svg');
}
.chips .chips_2 p, .chips .chips_5 p {
  background-image: url('assets/chips/chipred.svg');
} */
.chips li img {
  filter: drop-shadow(0 0 0.25rem #fd8f3b);
}

.chips li p,
.chips li img {
  width: 67px;
  height: 66px;
  text-align: center;
  line-height: 57px;
  font-size: 14px;
  color: #272727;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background-size: 100% 100%;

}

.chips li .shadow {
  position: absolute;
  width: 64px;
  height: 50px;
  background: 0 0;
  z-index: 10;
  top: 0;
  left: calc(50% - 64px/2);
  border-radius: 104px/86px;
  box-shadow: none;
  font-size: 0;
  text-indent: -99999px;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.chips li .line {
  display: none;
  position: absolute;
  width: 74px;
  height: 74px;
  /* background: url(chips_line.6cefef22e4c1528bccfd.png) center center no-repeat; */
  border-radius: 100px;
  bottom: -6px;
  left: calc(50% - 74px/2);
  z-index: 5;
  font-size: 0;
  text-indent: -99999px;
}

.chips li .ring {
  position: absolute;
  width: 64px;
  height: 52px;
  border: 0 solid #fd8f3b;
  border-radius: 100px/76px;
  bottom: 0;
  left: calc(50% - 64px/2);
  font-size: 0;
  text-indent: -99999px;
}

.chips li:hover {
  top: -5px;
  transition: all .15s linear;
}

.chips li.now {
  height: 23px;
  top: -5px;
  transition: all .15s linear;
}

@media screen and (min-width:767px) {
  .chips li.now {
      height: 23px;
      top: 2px;
      /* top: -5px; */
      transition: all .15s linear;
  }

  .function_zone,
  .function_zone_many {
      white-space: unset !important;
      overflow-y: unset !important;
      /* width: 100%; */
      width: 83% !important;
      overflow-x: unset !important;
      display: inline-block;
      justify-content: center;
      padding: 0 4px;
  }
  .virtual-chip{ width: 100% !important;}

  /* chips css start  */
  .function_zone,
  .function_zone_many {
      width: 100%;
      height: 100px;
      line-height: 83px !important;
      z-index: 1;
      /* background: rgb(146, 213, 232); */
      text-align: center;
  }
}

.chips li.now .shadow {
  display: block;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .6);
  top: 12px;
}

.chips li.now .line {
  display: none;
}

.chips li.now .ring {
  border: 4px solid #fd8f3b;
  transition: all .15s linear;
  display: revert;
  top: 30px;
}

.fancy-info {
  justify-content: right !important;
}

.recent-res::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 992px) {

  .loadingBalance {
      width: 80px;
  }

  .chips li:hover {
      top: 0;
      transition: none;
  }

  .chips {
      left: 0;
      height: 56px;
      padding: 0;
      margin: 0;
  }

  .chips li {
      width: 45px;
      height: 4px;
      margin-right: 8px;
  }

  .chips li p,
  .chips li img {
      width: 50px;
      height: 62px;
      font-size: 10px;
  }

  .chips li .ring {
      position: absolute;
      width: 46px;
      height: 33px;
      border-radius: 100px/85px;
      bottom: 12px;
      left: calc(50% - 40px/2);
  }

}

/* @media only screen and (max-width: 767px) { */

.function_zone,
.function_zone_many {
  white-space: nowrap;
  overflow-y: hidden;
  width: 100%;
  overflow-x: scroll;
  display: inline-block;
  justify-content: center;
  padding: 0 4px;
}

/* } */

/* chips css end */

/*highlighter Class Animation starts*/
@-webkit-keyframes anim-opac {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
  }
}

@keyframes anim-opac {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
  }
}

.SparkBack::before {
  -webkit-animation: anim-opac 1s both;
  animation: anim-opac 1s both;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f8e71c;
  border: 1px solid #f8e71c;
  content: " ";
  border-radius: inherit;
  display: flex;

  width: 100%;
  height: 100%;
}

.SparkLay::before {
  -webkit-animation: anim-opac 1s both;
  animation: anim-opac 1s both;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #72bbef;
  border: 1px solid #72bbef;
  content: " ";
  border-radius: inherit;
  display: flex;

  width: 100%;
  height: 100%;
}

/*highlighter class Animation Ends*/

app-casino-room {
  position: absolute;
  z-index: 1;
  right: 0;
}

.suspended:after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #ffff;
  text-transform: uppercase;
  font-family: "Font Awesome 5 Free";
  content: "\f023";
  font-weight: 900;
  font-size: 18px;
  top: 0;
  z-index: 10;
  width: 100%;
}

.btn-theme {
  background: linear-gradient(180deg, #000000, #000000 42%, #000000);
  color: #ffffff;
  padding: 6px;
  border: 0;
  box-shadow: none;
  outline: 0;
  font-size: 14px;
  width: 100%;
  position: relative;
}


/* lucky7a cmp */
.light-bg {
  background: #f1f5f8;
  padding-top: 5px;
  padding-bottom: 5px;
}

.row.row5 {
  margin-left: -5px;
  margin-right: -5px;
}

.h-18 {
  height: 18px;
  line-height: 18px;
}

.btn-theme {
  height: 33px;
}

.container-fluid {
  padding-right: calc(var(--bs-gutter-x) * 0.2);
  padding-left: calc(var(--bs-gutter-x) * .0);
}

.text-right {
  text-align: right !important;
}

.casino-container {
  font-size: 12px !important;
}

.mr-2 {
  margin-right: 10px;
}

.float-right {
  float: right !important;
}



/* lucky7a cmp*/


@media only screen and (max-width: 321px) {
  .navbar-brand {
      margin-right: 0.45rem !important;
  }
}

@media only screen and (max-width: 992px) {
  .hidden-xs {
      display: none !important;
  }
}

.video-overlay .round-id {
  font-size: 10px !important;
}

.video-overlay h3 {
  font-size: 12.5px !important;
  padding-bottom: 3px;
  padding-top: 3px;
}

.minMaxDesktop {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
}

@media screen and (max-width:600px) {
  .minMaxDesktop {
      display: none;
  }

  .minMaxMobile {
      width: 23px;
  }
}

@media screen and (min-width:601px) {
  .minMaxMobile {
      display: none;
  }
}

.back-1 a,
.back-2 a,
.back-3 a {
  color: black;
}

.lay-1 a,
.lay-2 a,
.lay-3 a {
  color: black;
}

.back-1.active,
.back-2.active,
.back-3.active {
  background-color: var(--market-details-cmp-odd-row-back-1-active-background) !important;
  color: var(--market-details-cmp-odd-row-back-1-active-color) !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .5);
}

.fancy-quick-btn.active {
  background-color: var(--market-details-cmp-odd-row-back-1-active-background) !important;
  color: var(--market-details-cmp-odd-row-back-1-active-color) !important;
}

.back-1.active a,
.back-2.active a,
.back-3.active a {
  color: var(--market-details-cmp-odd-row-back-1-active-color) !important;
}

.lay.active,
.lay-1.active,
.lay-2.active,
.lay-3.active {
  background-color: var(--market-details-cmp-odd-row-lay-1-active-background) !important;
  ;
  color: var(--market-details-cmp-odd-row-lay-1-active-color) !important;
  ;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .5);
}

.lay.active a,
.lay-1.active a,
.lay-2.active a,
.lay-3.active a {
  color: var(--market-details-cmp-odd-row-back-1-active-color) !important;
}

@media only screen and (min-width:1024px) {
  .loadingBalance {
      width: 100px;
  }
}

.loadingBalance span {
  display: inline-block;
  vertical-align: middle;
  /* width: .6em;
height: .6em; */
  width: .2em;
  height: .2em;
  margin: .19em;
  background: var(--header-text-color);
  border-radius: .6em;
  animation: loadingBalance 0.5s infinite alternate;
}

/*
* Dots Colors
* Smarter targeting vs nth-of-type?
*/
.loadingBalance span:nth-of-type(2) {
  background: var(--header-text-color);
  animation-delay: 0.1s;
}

.loadingBalance span:nth-of-type(3) {
  background: var(--header-text-color);
  animation-delay: 0.2s;
}

.loadingBalance span:nth-of-type(4) {
  background: var(--header-text-color);
  animation-delay: 0.3s;
}

.loadingBalance span:nth-of-type(5) {
  background: var(--header-text-color);
  animation-delay: 0.4s;
}

.loadingBalance span:nth-of-type(6) {
  background: var(--header-text-color);
  animation-delay: 0.5s;
}

.loadingBalance span:nth-of-type(7) {
  background: var(--header-text-color);
  animation-delay: 0.6s;
}

.loadingBalance span:nth-of-type(8) {
  background: var(--header-text-color);
  animation-delay: 0.7s;
}

.loadingBalance span:nth-of-type(9) {
  background: var(--header-text-color);
  animation-delay: 0.8s;
}

.loadingBalance span:nth-of-type(10) {
  background: var(--header-text-color);
  animation-delay: 0.9s;
}

.loadingBalance span:nth-of-type(11) {
  background: var(--header-text-color);
  animation-delay: 1s;
}

/*
* Animation keyframes
* Use transition opacity instead of keyframes?
*/
@keyframes loadingBalance {
  0% {
      width: .2em;
      height: .2em;
      opacity: 0;
  }

  50% {
      width: .4em;
      height: .4em;
      opacity: 0.5;
  }

  100% {
      width: .6em;
      height: .6em;
      opacity: 1;


  }
}

.andar-bahir-container .owl-stage {
  display: flex;
}




.andar-bahir-container .owl-theme .owl-nav [class*=owl-] {
  color: #f68f00;
  /* background: #061017; */
  background: transparent;
}

.andar-bahir-container .owl-theme .owl-nav [class*=owl-]:hover {
  /* background: #061017; */
  background: transparent;
  color: #f68f00;
}

.andar-bahir-container .owl-carousel .owl-item {
  /* width: 23px !important; */
}

.andar-bahir-container .crousel {
  width: 80px !important;
}

.andar-bahir-container .owl-theme .owl-dots,
.owl-theme .owl-nav {
  margin-top: 0px !important;
}

.andar-bahir-container .owl-theme .owl-dots,
.owl-theme .owl-nav {
  position: absolute;
  top: -4px;
}

.andar-bahir-container .owl-carousel .owl-nav .owl-prev {

  left: 25px;
  position: relative;
}

.andar-bahir-container .owl-carousel .owl-nav .owl-next {
  right: 40px;
  position: relative;
}

.andar-bahir-container .owl-carousel .owl-stage {
  flex-direction: row-reverse;
}

.loaderMain {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  z-index: 10000;
}

.loaderMain img {
  width: 350px;
}


.kbc-tab.active {
  background: var(--sportsbar-bg) !important;
}

@media only screen and (max-width:768px) {
  body {
      overflow: hidden;
  }
}

.plus-book2,
.minus-book2{
  margin-left: 2px !important;
}
