
<div class="notFound">
  <img class="logo_img" src="/images/universeLogo.svg" alt="logo">
  <h1>Unauthorized Access</h1>
  <p>
      We apologize, but you do not have permission to access this page or resource.
      This may be due to one of the following reasons:
  </p>
  <ol>
      <li>1.Your session has expired, and you need to log in again.</li>
      <li>2.Your account does not have the necessary permissions for this action.</li>
      <li>3.An authentication issue has occurred.</li>
  </ol>
  <p>
      To resolve this, please Login again
  </p>
  <button class="btn-login">Login</button>
</div>
