@if (isShow) {
  <div class="popup-overlay" (click)="toggleExposure()">
    <div class="popup-content">
      <div class="modal rounded-[.5rem]">

          <div class="modal-main-content-wrapper" (click)="$event.stopPropagation()">
            <div class="modal-header-container">
              <div class="modal-title">
                <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon "> <title></title> <path fill-rule="evenodd" clip-rule="evenodd" d="M22.8 8.547h36.774c0 .028.026.054.026.054h-.016a6.75 6.75 0 0 0-6.384 6.586v33.04l-.002-.02a6.8 6.8 0 0 1-6.786 7.246 6.8 6.8 0 0 1-6.786-7.226v-3.094H16V15.347a6.8 6.8 0 0 1 6.8-6.8Zm-.828 27.894h15.494V31.8H21.972v4.64Zm.002-12.4h24.8V19.4h-24.8v4.64Zm38.052-13.574h-.052A3.974 3.974 0 0 0 56 14.44v6.426h8V14.44a3.974 3.974 0 0 0-3.974-3.974ZM36.8 48.256H0a6.8 6.8 0 0 0 6.8 6.8h34.026c-2.694 0-4.026-3.04-4.026-6.8Z"></path></svg>
                <span class="ms-2 text-[16px] text-white">
                  Chat Rules
                </span>

              </div>
              <button class="crossBtn" (click)="toggleExposure()">
                <svg  fill="currentColor" viewBox="0 0 64 64" class="svg-icon " >
                  <title></title>
                  <path
                    d="m54.827 16.187-7.014-7.014L32 24.987 16.187 9.173l-7.014 7.014L24.987 32 9.173 47.813l7.014 7.014L32 39.013l15.813 15.814 7.014-7.014L39.013 32l15.814-15.813Z">
                  </path>
                </svg>
              </button>
            </div>

              <div class="modal-content svelte-cq3ecl h-[calc(100dvh-100px)] overflow-y-scroll">
                <div class="content-container">
                  <ol class="list-decimal">
                    <li>
                      <span >Don't spam &amp; don't use excessive capital letters when chatting.</span>
                    </li>
                    <li>
                      <span >Don't harass or be offensive to other users or Universe staff.</span>
                    </li>
                    <li>
                      <span >Don't share any personal information (including socials) of you or other players.</span>
                    </li>
                    <li>
                      <span >Don't beg or ask for loans, rains or tips.</span>
                    </li>
                    <li>
                      <span >Don't use alternative (alts) accounts on chat, that is strictly forbidden.</span>
                    </li>
                    <li>
                      <span >No suspicious behavior that can be seen as potential scams.</span>
                    </li>
                    <li>
                      <span >Don't engage in any forms of advertising/trading/selling/buying or offering services.</span>
                    </li>
                    <li>
                      <span >No discussion of streamers or Twitch or any other similar platforms.</span>
                    </li>
                    <li>
                      <span >Don't use URL shortening services. Always submit the full link.</span>
                    </li>
                    <li>
                      <span >Don't share codes, scripts or any other bot service.</span>
                    </li>
                    <li>
                      <span >Only use the language specified in the chat channel, potential abuse will be sanctioned.</span>
                    </li>
                    <li>
                      <span >No politics &amp; no religion talk in chat, this one is strictly forbidden.</span>
                    </li>
                  </ol>
                  <!-- <span >Our full rules can be found on our
                    <a  target="_blank" rel="external noreferrer noopener">
                      <span>forum</span>
                      <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon " style="">
                        <title></title>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.823 53.176h42.353V39.941h7.059v20.294H3.765V3.765h20.293v7.058H10.823v42.353Zm28.236-42.353V3.765h21.176V24.94h-7.059v-9.123L27.88 41.115l-4.994-4.995 25.297-25.296H39.06Z"></path>
                      </svg>
                    </a>.
                   </span> -->
                </div>
              </div>

          </div>

      </div>
    </div>
  </div>
  }
